/********* RESETS *********/

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box; }

body {
	background: #FFFFFF;
	min-width: 320px;
	font-family: "Lato", Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #111111;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased; }

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;  }

article,
section,
aside,
hgroup,
nav,
header,
footer,
figure,
figcaption {
	display: block; }



/********* COMMON *********/

.invisible {
	display: none !important;
	opacity: 0 !important;
	content: "" !important;
	visibility: hidden !important }

.invisible,
.invisible * {
	animation-play-state: paused !important;
	-webkit-animation-play-state: paused !important; }

.cf {
	display: block;
	clear: both;
	content: ""; }

.noscroll {
	overflow: hidden; }

.title-link {
	display: inline-block;
	font-family: "Oxygen",	Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 16px;
	color: #AAAAAA;
	text-transform: none;
	text-decoration: none; }

.title-link:hover {
	text-decoration: underline; }

.title-link span {
	font-family: Verdana, sans-serif;
	font-weight: 300; }



/******** WRAPPER & CONTENT ********/

#wrapper {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: auto;
	height: auto; }

#nav-outer {
	z-index: 0;
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%; }

#nav-outer #nav-outer-wrapper {
	display: table-cell;
	vertical-align: middle;
	height: 100%; }

#nav-outer ul,
#nav-outer li {
	list-style: none; }

#nav-outer li {
	margin-bottom: 15px; }

#nav-outer li:last-child {
	margin-bottom: 0; }

#nav-outer #nav-outer-wrapper li a {
	display: block;
	padding: 20px 10% 20px 0;
	width: 100%;
	font-size: 18px;
	color: #FFFFFF;
	text-align: right;
	text-decoration: none;
	-webkit-transition: background .25s;
	-moz-transition: background .25s;
	-ms-transition: background .25s;
	-o-transition: background .25s;
	transition: background .25s; }

#nav-outer #nav-outer-wrapper li.current a,
#nav-outer #nav-outer-wrapper li a:hover {
	background: rgba(255, 255, 255, .1); }

#nav-outer #nav-outer-wrapper li.current a span {
	font-weight: 700; }

#content,
#content-overlay {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: auto;
	height: auto;
	overflow-x: hidden; }

#content-overlay {
	z-index: 10;
	display: none; }

#content {
	z-index: 0;
	background: #FFFFFF;
	-webkit-transition: all 400ms cubic-bezier(0.175, 0.885, 0.335, 1.05);
	-moz-transition: all 400ms cubic-bezier(0.175, 0.885, 0.335, 1.05);
	-ms-transition: all 400ms cubic-bezier(0.175, 0.885, 0.335, 1.05);
	-o-transition: all 400ms cubic-bezier(0.175, 0.885, 0.335, 1.05);
	transition: all 400ms cubic-bezier(0.175, 0.885, 0.335, 1.05); }



/******** HEADER ********/

header#header {
	position: relative;
	margin-bottom: 100px;
	width: 100%;
	height: 100px;
	border-bottom: 1px solid #DDDDDD; }

header#header h1,
header#header nav#nav {
	float: left; }

header#header h1,
header#header ul li {
	height: 100%;
	display: inline-table; }

header#header h1 a,
header#header ul li a {
	height: 100%;
	display: table-cell;
	vertical-align: middle; }

header#header h1 {
	margin-left: 50px;
	margin-right: 50px; }

header#header h1 a {
	font-weight: 400;
	font-size: 24px;
	color: #222222;
	text-decoration: none;
	text-transform: uppercase; }

header#header nav#nav ul,
header#header nav#nav ul li {
	list-style: none; }

header#header nav#nav ul li {
	float: left; }

header#header nav#nav ul li a {
	padding: 0 10px 0 10px;
	font-size: 12px;
	color: #222222;
	text-decoration: none;
	text-transform: uppercase; }

header#header nav#nav ul li a span {
	padding: 5px;
	border-bottom: 1px solid transparent; }

header#header nav#nav ul li a:hover span,
header#header nav#nav ul li.current a span {
	border-color: #CCCCCC; }

header#header nav#nav ul li.current a span {
	font-weight: 700; }

header#header #hamburger {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	width: 85px;
	height: 100%; }

header#header #hamburger a {
	display: block;
	height: 100%;
	background: url("../img/global/header_hamburger.svg") left center no-repeat transparent; }

body.menu header#header #hamburger a {
	background-position: right center; }

main.main > h1 {
	margin: 0 0 25px 50px;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase; }



/******** GLOBAL LIST ********/

#global-list article {
	margin: 0 auto 0 auto;
	width: 100%; }

#global-list article .content {
	position: relative; }

#global-list article .image a,
#global-list article .image img {
	display: block;
	width: 100%;
	height: auto;
	border: none; }

#global-list article .content h2,
#global-list article .content p {
	font-family: "Oxygen", Helvetica, Arial, sans-serif;
	text-align: left; }

#global-list article .content h2 {
	z-index: 0; }

#global-list article .content h2 a {
	display: block;
	font-weight: 400;
	color: #222222;
	text-decoration: none; }

#global-list article .content p {
	color: #555555;
	text-align: justify; }

#global-list article.album {
	position: relative;
	background: #222222; }

#global-list article.album .content {
	background: #222222; }

#global-list article.album h2 a {
	color: #FFFFFF; }

#global-list article.album p {
	margin-bottom: 0 !important;
	color: #CCCCCC; }

.special-link {
	z-index: 10;
	float: right;
	display: inline-block;
	padding-bottom: 2px;
	font-weight: 400;
	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
	color: #555555;
	border-bottom: 1px solid transparent; }

.special-link:hover {
	color: #111111;
	border-color: #CCCCCC; }

.special-link span {
	font-family: Verdana, sans-serif;
	margin-left: 4px;
	font-weight: 300; }

article.album .special-link {
	color: #AAAAAA; }

article.album a:hover .special-link {
	color: #EEEEEE;
	border-color: #CCCCCC; }



/******** FOOTER ********/

footer#footer {
	padding: 80px 25px 80px 25px;
	text-align: center;
	font-size: 12px; }

footer#footer p {
	margin-bottom: 10px;
	font-size: 12px; }

footer#footer p.small {
	font-size: 11px;
	color: #AAAAAA; }



/********* TRANSITIONS *********/

header#header {
	-webkit-transition: margin-bottom .25s ease-out;
	-moz-transition: margin-bottom .25s ease-out;
	-ms-transition: margin-bottom .25s ease-out;
	-o-transition: margin-bottom .25s ease-out;
	transition: margin-bottom .25s ease-out; }

header#header h1,
header#header h1 a,
main.main > h1,
article,
article .featured-image,
article .featured-content,
article h2,
article p,
article .featured-link,
footer#footer,
footer#footer p {
	-webkit-transition: all .25s ease-out;
	-moz-transition: all .25s ease-out;
	-ms-transition: all .25s ease-out;
	-o-transition: all .25s ease-out;
	transition: all .25s ease-out; }



/********* RESPONSIVE *********/

@media (max-width: 1000px) {

	.special-link {
		font-size: 12px; }

	.title-link {
		font-size: 14px;
		line-height: 14px; }

	header#header {
		margin-bottom: 50px;
		height: 75px; }

	header#header h1 {
		margin-left: 25px;
		margin-right: 25px; }

	main.main > h1 {
		margin: 0 0 25px 25px; }

}

@media (max-width: 700px) {

	.title-link {
		position: absolute;
		right: 20px;
		font-size: 12px;
		line-height: 12px; }

	#nav-outer {
		display: table; }

	#wrapper {
		perspective: 2000px;
		-webkit-perspective: 2000px;
		min-width: 320px;
		position: absolute;
		overflow: hidden;
		background: #3F4257;
		background: -moz-linear-gradient(-45deg, #3F4257 0%, #727998 100%);
		background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #3F4257), color-stop(100%, #727998));
		background: -webkit-linear-gradient(-45deg, #3F4257 0%, #727998 100%);
		background: -o-linear-gradient(-45deg, #3F4257 0%, #727998 100%);
		background: -ms-linear-gradient(-45deg, #3F4257 0%, #727998 100%);
		background: linear-gradient(135deg, #3F4257 0%, #727998 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3f4257", endColorstr="#727998", GradientType=1 ); }

	#content,
	#content-overlay {
		position: absolute;
		overflow-x: hidden;
		-webkit-overflow-scrolling: touch; }

	body.menu #content-overlay {
		display: block;	}

	body.menu #content-overlay {
		display: block; }

	body.menu #content-overlay:hover {
		cursor: pointer; }

	body.menu #content,
	#content-overlay {
		-webkit-transform: translate3d(-50%, 0, 0) scale3d(0.85, 0.85, 1) rotateY(25deg);
		-moz-transform: translate3d(-50%, 0, 0) scale3d(0.85, 0.85, 1) rotateY(25deg);
		-ms-transform: translate3d(-50%, 0, 0) scale3d(0.85, 0.85, 1) rotateY(25deg);
		-o-transform: translate3d(-50%, 0, 0) scale3d(0.85, 0.85, 1) rotateY(25deg);
		transform: translate3d(-50%, 0, 0) scale3d(0.85, 0.85, 1) rotateY(25deg); }

	body.menu #content {
		overflow: hidden;
		box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px 3px; }

	header#header {
		margin-bottom: 40px;
		height: 50px !important; }

	header#header h1 {
		margin: 0 0 0 20px !important; }

	header#header h1 a {
		font-size: 16px !important; }

	header#header nav#nav {
		display: none; }

	header#header #hamburger {
		display: block; }

	main.main > h1 {
		margin: 0 0 20px 20px;
		font-size: 14px; }

	#global-list article {
		display: block !important;
		width: 100% !important; }

	#global-list article .image,
	#global-list article .content {
		float: none !important;
		width: 100% !important;	}

	#global-list article .content {
		padding: 20px 20px 40px 20px !important;
		text-align: left; }

	#global-list article h2 a {
		font-size: 16px !important;
		line-height: 16px !important; }

	#global-list article p {
		margin-bottom: 0 !important;
		font-size: 12px !important;
		line-height: 15px !important; }

	#global-list article .special-link {
		margin-top: 0 !important;
		position: absolute;
		top: 21px !important;
		right: 20px !important; }

	#global-list article.album .content {
		position: relative !important; }

	#global-list article.album h2 {
		display: inline-block !important;
		padding-right: 0 !important; }

	footer#footer {
		padding: 20px; }

	footer#footer p {
		font-size: 10px !important; }

}