/********* RESETS *********/
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

body {
  min-width: 320px;
  font-family: sans-serif;
  color: #000000;
  background: #FFFFFF;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased; }

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

article,
section,
main,
nav,
header,
footer,
figure,
figcaption {
  display: block; }
