#index h1 {
	position: relative; }

#index h1 > span {
	margin-right: 10px;
	display: inline; }

#global-list article .content h2 {
	margin-bottom: 10px;
	font-size: 32px;
	line-height: 32px; }

#global-list article .content p {
	margin-bottom: 25px;
	font-weight: 300;
	font-size: 18px;
	line-height: 27px; }

#global-list article.project {
	display: -webkit-flexbox;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center; }

#global-list article.project .image,
#global-list article.project .content {
	width: 50%; }

#global-list article.project .image {
	float: left; }

#global-list article.project .content {
	display: table;
	float: right;
	padding: 0 50px 0 50px; }

#global-list article.album .content {
	z-index: 10;
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 25px 50px 25px 25px; }

#global-list article.album .content h2 {
	margin-bottom: 5px; }

#global-list article.album .special-link {
	margin-top: 25px; }



/********* RESPONSIVE *********/

@media (max-width: 1000px) {

	#global-list article .featured-content {
		padding: 0 25px 0 25px;	}

	#global-list article .content h2 a {
		font-size: 24px;
		line-height: 24px; }

	#global-list article .content p {
		font-size: 14px;
		line-height: 21px; }

}

@media (max-width: 700px) {

	#intro h1 > span {
		margin-right: 0; }

	.title-link {
		top: 3px; }

}