/******* GLOBAL *******/

body#album {
	overflow: hidden;
	background: #000000; }

header#header {
	top: 0;
	padding: 0;
	height: 70px;
	border: none;
	background: #222222; }

header#header h1 {
	margin: 0 25px 0 25px; }

header#header h1,
header#header nav#nav,
header#header nav#nav ul li {
	float: left; }

header#header h1,
header#header nav#nav ul li {
	display: inline-table; }

header#header h1 a {
	font-size: 22px; }

header#header h1 a,
header#header nav#nav ul li a {
	display: table-cell;
	vertical-align: middle;
	height: 70px;
	color: #FFFFFF !important; }

header#header nav#nav ul li a {
	padding: 0 15px 0 15px !important;
	vertical-align: middle; }

header#header nav#nav ul li a:hover {
	color: #111111 !important;
	background: #FFFFFF; }

header#header nav#nav ul li a:hover span {
	border-color: transparent; }

header#header nav#nav ul li.current a span {
	border-color: #FFFFFF; }

header#header nav#nav ul li.current a:hover span {
	border-color: #111111; }

header#header #hamburger a {
	background-image: url("../img/global/header_hamburger_light.svg"); }

body#album footer#footer {
	display: none; }



/******* COMMON *******/

header#header,
#map,
#viewer,
#navigator {
	position: absolute; }

#content {
	background: #000000 !important; }

#viewer,
#map {
	top: 70px;
	left: 0;
	width: calc(100% - 150px);
	width: -moz-calc(100% - 150px);
	width: -webkit-calc(100% - 150px);
	height: calc(100% - 120px);
	height: -moz-calc(100% - 120px);
	height: -webkit-calc(100% - 120px); }



/******* SWIPE *******/

#swipe {
	display: none;
	position: absolute;
	left: 0;
	bottom: 100px;
	width: 100%;
	text-align: center;
	background: #222222; }

#swipe span {
	display: block;
	padding-top: 5px;
	font-size: 12px;
	color: #FFFFFF; }



/******* MAP *******/

#map {
	z-index: 100;
	background: #111111;
	max-height: 0;
	-webkit-transition: max-height .25s;
	-moz-transition: max-height .25s;
	-ms-transition: max-height .25s;
	-o-transition: max-height .25s;
	transition: max-height .25s; }

#map #map-canvas {
	width: 100%;
	height: 100%; }

body.map #map {
	max-height: 100%; }



/******* VIEWER *******/

#viewer {
	display: table;
	background: #000000 }

#viewer .viewer-arrow {
	z-index: 0;
	position: absolute;
	top: 0;
	width: 6%;
	height: 100%; }

#viewer .viewer-arrow.left {
	left: 0; }

#viewer .viewer-arrow.right {
	right: 0; }

#viewer .viewer-arrow a {
	opacity: .25;
	display: block;
	height: 100%;
	background: center center no-repeat transparent;
	-webkit-transition: opacity .25s;
	-moz-transition: opacity .25s;
	-ms-transition: opacity .25s;
	-o-transition: opacity .25s;
	transition: opacity .25s; }

#viewer .viewer-arrow.left a {
	background-image: url("../img/album/album_arrow_left.svg"); }

#viewer .viewer-arrow.right a {
	background-image: url("../img/album/album_arrow_right.svg"); }

#viewer .viewer-arrow a:hover {
	opacity: .75; }

#viewer #viewer-wrapper {
	z-index: 0;
	position: absolute;
	left: 6%;
	top: 5%;
	width: 88%;
	height: 90%;
	background: center center no-repeat transparent;
	background-size: contain; }

#viewer #viewer-wrapper #viewer-loading {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .75); }

#viewer #viewer-wrapper #viewer-loading > div {
	opacity: 0;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -40px 0 0 -40px;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border: 3px solid #FFFFFF;
	-webkit-animation: loading 1s ease-out infinite;
	-moz-animation: loading 1s ease-out infinite;
	-ms-animation: loading 1s ease-out infinite;
	-o-animation: loading 1s ease-out infinite;
	animation: loading 1s ease-out infinite; }

@keyframes loading {
	0% { transform: scale(.1); opacity: 0.0; }
	50% { opacity: 1; }
	100% { transform: scale(1.2); opacity: 0; } }

@-webkit-keyframes loading {
	0% { transform: scale(.1); opacity: 0.0; }
	50% { opacity: 1; }
	100% { transform: scale(1.2); opacity: 0; } }

@-moz-keyframes loading {
	0% { transform: scale(.1); opacity: 0.0; }
	50% { opacity: 1; }
	100% { transform: scale(1.2); opacity: 0; } }

#viewer #viewer-wrapper img {
	z-index: 0;
	position: relative;
	width: 100%;
	height: auto; }



/******* THUMBNAILS *******/

#thumbnails {
	position: absolute;
	right: 0;
	top: 70px;
	width: 150px;
	height: calc(100% - 120px);
	height: -moz-calc(100% - 120px);
	height: -webkit-calc(100% - 120px);
	background: #111111; }

#thumbnails #thumbnails-list {
	position: absolute;
	left: 0;
	top: 0;
	padding: 65px 0 65px 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	overflow-y: scroll; }

#thumbnails #thumbnails-list ul.width {
	width: 100% !important; }

#thumbnails .thumbnails-arrow {
	z-index: 10;
	position: absolute;
	left: 0;
	width: 100%;
	height: 50px;
	background: #111111; }

#thumbnails .thumbnails-arrow.top {
	top: 0; }

#thumbnails .thumbnails-arrow.bottom {
	bottom: 0; }

#thumbnails .thumbnails-arrow a {
	opacity: .5;
	display: block;
	width: 100%;
	height: 100%;
	background: url("../img/album/album_thumbnails_arrows.svg") no-repeat transparent; }

#thumbnails .thumbnails-arrow.top a {
	background-position: center top; }

#thumbnails .thumbnails-arrow.bottom a {
	background-position: center bottom; }

#thumbnails .thumbnails-arrow a:hover {
	opacity: 1; }

#thumbnails #thumbnails-list ul,
#thumbnails #thumbnails-list ul li {
	display: block;
	list-style: none; }

#thumbnails #thumbnails-list ul {
	z-index: 0;
	position: relative; }

#thumbnails #thumbnails-list ul li {
	margin: 0 auto 0 auto;
	width: 125px;
	margin-bottom: 15px; }

#thumbnails #thumbnails-list ul li:last-child {
	margin-bottom: 0; }

#thumbnails #thumbnails-list ul li a {
	opacity: .4;
	display: block; }

#thumbnails #thumbnails-list ul li a img {
	width: 100%;
	height: auto;
	border: none; }

#thumbnails #thumbnails-list ul li a {
	-webkit-transition: opacity .25s;
	-moz-transition: opacity .25s;
	-ms-transition: opacity .25s;
	-o-transition: opacity .25s;
	transition: opacity .25s; }

#thumbnails #thumbnails-list ul li.current a,
#thumbnails #thumbnails-list ul li a:hover {
	opacity: 1; }



/******* NAVIGATOR *******/

#navigator {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 50px;
	background: #222222; }

#navigator > div {
	display: inline-table;
	position: absolute;
	top: 0; }

#navigator > div > div {
	display: table-cell;
	vertical-align: middle;
	height: 50px; }

#navigator #navigator-title {
	z-index: 0;
	z-index: 10;
	left: 10px; }

#navigator #navigator-title h2,
#navigator #navigator-title h3 {
	line-height: 18px; }

#navigator #navigator-title h2 span,
#navigator #navigator-title h3 .interation-number {
	margin-left: 5px;
	color: #848E91; }

#navigator #navigator-title h2 {
	font-size: 14px;
	color: #FFFFFF; }

#navigator #navigator-title h2 span {
	font-size: 12px; }

#navigator #navigator-title h3 {
	font-weight: 400;
	font-size: 12px;
	color: #FFFFFF; }

#navigator #navigator-interation {
	z-index: 0;
	left: 0;
	width: 100%;
	text-align: center;
	color: #FFFFFF; }

#navigator #navigator-interation > span {
	display: block; }

#navigator #navigator-interation #navigator-name {
	margin-right: 5px; }

#navigator #navigator-interation .interation-number {
	color: #666666; }

#navigator #navigator-interation .interation-number > span {
	color: #FFFFFF; }

#navigator #navigator-select {
	padding-left: 15px;
	z-index: 10;
	z-index: 10;
	right: 10px;
	background: #222222; }

#navigator #navigator-select #navigator-map {
	margin-right: 25px;
	padding: 2px 0 2px 25px;
	font-size: 12px;
	color: #FFFFFF;
	text-transform: uppercase;
	text-decoration: none;
	background: url("../img/album/album_map_open.svg") left center no-repeat transparent;
	background-size: contain; }

body.map #navigator #navigator-select #navigator-map {
	padding: 0 0 0 20px;
	background-image: url("../img/album/album_map_close.svg"); }

#navigator #navigator-select #navigator-map:hover {
	text-decoration: underline; }

#navigator #navigator-select #navigator-albums {
	padding-left: 10px;
	padding-right: 25px;
	height: 30px;
	border: none;
	font-size: 14px;
	color: #848E92;
	background: url("../img/album/album_select.svg") center no-repeat #111111;
	background-position: calc(100% - 8px);
	background-position: -moz-calc(100% - 8px);
	background-position: -webkit-calc(100% - 8px);
	-webkit-appearance: none;
	-moz-appearance: none; }



/******* RESPONSIVE *******/

@media (max-width: 600px) {

	header#header {
		padding: 0 !important; }

}

@media (max-width: 900px) {

	#viewer .viewer-arrow,
	#navigator #navigator-title,
	#navigator #navigator-interation {
		display: none; }

	#swipe {
		display: block;
		-webkit-transition: max-height .25s;
		-moz-transition: max-height .25s;
		-ms-transition: max-height .25s;
		-o-transition: max-height .25s;
		transition: max-height .25s; }

	body.swiped #swipe {
		max-height: 0; }

	#map,
	#viewer {
		left: 0;
		width: 100%; }

	#map {
		height: calc(100% - 120px);
		height: -moz-calc(100% - 120px);
		height: -webkit-calc(100% - 120px); }

	#viewer {
		height: calc(100% - 190px);
		height: -moz-calc(100% - 190px);
		height: -webkit-calc(100% - 190px); }

	body.swiped #viewer {
		height: calc(100% - 170px);
		height: -moz-calc(100% - 170px);
		height: -webkit-calc(100% - 170px);
		-webkit-transition: height .25s;
		-moz-transition: height .25s;
		-ms-transition: height .25s;
		-o-transition: height .25s;
		transition: height .25s; }

	#viewer #viewer-wrapper {
		left: 0;
		top: 0;
		width: 100%;
		height: 100%; }

	#thumbnails {
		top: auto;
		bottom: 50px;
		width: 100%;
		height: 50px;
		background: #222222; }

	#thumbnails .thumbnails-arrow {
		display: none; }

	#thumbnails #thumbnails-list {
		padding: 0 10px 0 10px;
		overflow-y: hidden;
		overflow-x: scroll; }

	#thumbnails #thumbnails-list ul {
		height: 50px; }

	#thumbnails #thumbnails-list ul li {
		float: left;
		display: inline-block;
		margin: 10px 10px 0 0;
		width: 50px; }

	#thumbnails #thumbnails-list ul li:last-child {
		margin-right: 0; }

	#thumbnails #thumbnails-list ul li a {
		opacity: .3; }

	#navigator {
		left: 0;
		bottom: 0;
		width: 100%; }

	#navigator #navigator-select {
		right: 0;
		padding-left: 0;
		width: 100%; }

	#navigator #navigator-select > div {
		padding: 0 10px 0 10px; }

	#navigator #navigator-select #navigator-map {
		float: left;
		margin-right: 0;
		margin-top: 5px; }

	#navigator #navigator-select #navigator-albums {
		float: right;
		width: calc(100% - 100px);
		width: -moz-calc(100% - 100px);
		width: -webkit-calc(100% - 100px); }

}