/******* WORK MENU *******/

#work-menu {
	position: relative;
	width: 100%;
	padding-left: 80px;
	margin-bottom: 50px;
	background: #111111; } 

#work-menu #work-filters,
#work-menu #work-filters li {
	list-style: none; }

#work-menu #work-filters li {
	display: inline-block; }

#work-menu #work-filters li a {
	display: block;
	padding: 10px 20px 10px 20px;
	font-size: 14px;
	font-weight: 300;
	color: #FFFFFF;
	text-decoration: none;
	text-transform: uppercase; }

#work-menu #work-filters #filter-webdesign a,
#work-menu #work-filters #filter-photo a {
	padding-left: 50px;
	background: 20px center no-repeat transparent; }

#work-menu #work-filters #filter-webdesign a {
	background-image: url("../img/work/work_webdesign.svg"); }

#work-menu #work-filters #filter-photo a {
	background-image: url("../img/work/work_photo.svg"); }

#work-menu #work-filters li.current a {
	color: #111111;
	font-weight: 700;
	background-color: #FFFFFF !important; }

#work-menu #work-filters #filter-webdesign.current a {
	background-image: url("../img/work/work_webdesign_current.svg"); }

#work-menu #work-filters #filter-photo.current a {
	background-image: url("../img/work/work_photo_current.svg"); }

#work-search {
	position: absolute;
	right: 80px;
	top: 0;
	padding: 0 15px 0 45px;
	width: 350px;
	height: 100%;
	font-size: 14px;
	font-weight: 300;
	border: none;
	color: #FFFFFF;
	background: url("../img/work/work_search.svg") 15px center no-repeat #444444; }

#work-search::-webkit-input-placeholder {
	color: #FFFFFF; }

#work-search:-moz-placeholder {
	color: #FFFFFF; }

#work-search::-moz-placeholder {
	color: #FFFFFF; }

#work-search:-ms-input-placeholder {
	color: #FFFFFF; }



/******* WORK LIST *******/

#work-list {
	width: 100%;
	font-size: 0;
	margin: 0 auto 0 auto;
	padding: 0 50px 0 50px;
	max-width: 1300px; }

#work-list.search {
	padding: 0 80px 0 80px; }

#work-list .work-item {
	display: inline-table;
	margin: 0 30px 60px 30px;
	width: calc(50% - 60px); }

#work-list.search .work-item {
	margin: 0 0 25px 0;
	width: 100%; }

#work-list .work-item:nth-child(3n + 3) {
	clear: both; }

#work-list.search .work-item .image {
	float: left;
	margin-right: 15px;
	margin-bottom: 0;
	width: 300px;
	height: 150px; }

#work-list .work-item.webdesign .image {
	margin-bottom: 20px; }

#work-list .work-item .image img {
	width: 100%;
	height: auto;
	border: none; }

#work-list.search .work-item .details {
	float: right;
	width: calc(100% - 325px); }

#work-list .work-item.photo .details {
	position: relative;
	padding: 15px;
	background: #111111; }

#work-list.search .work-item.photo .details {
	position: static;
	padding: 0;
	background: none; }

#work-list .work-item .details h2  {
	font-family: "Oxygen", Helvetica, Arial, sans-serif; }

#work-list .work-item.webdesign .details h2,
#work-list.search .work-item .details h2  {
	display: inline-block;
	width: calc(100% - 150px);
	margin-bottom: 10px; }

#work-list.search .work-item .details h2 {
	margin-bottom: 5px; }

#work-list .work-item.photo .details h2,
#work-list .work-item.photo .details h3 {
	width: calc(100% - 125px); }

#work-list.search .work-item.photo .details h2,
#work-list.search .work-item.photo .details h3 {
	width: 100%; }

#work-list .work-item .details h2 a {
	display: block;
	font-size: 24px;
	font-weight: 700;
	color: #111111;
	text-decoration: none; }

#work-list .work-item.photo .details h2 a {
	font-size: 18px; }

#work-list.search .work-item.photo .details h2 a {
	font-size: 24px;
	color: #111111 !important; }

#work-list .work-item .details h3 {
	margin-bottom: 10px;
	font-weight: 400;
	font-size: 16px;
	color: #555555;
	line-height: 25px;
	text-align: justify; }

#work-list.search .work-item .details h3 {
	margin-bottom: 5px; }

#work-list .work-item.photo .details h3 {
	margin-bottom: 0;
	font-size: 14px; }

#work-list.search .work-item.photo .details h3 {
	font-size: 16px;
	color: #555555 !important; }

#work-list .work-item.photo .details h2 a,
#work-list .work-item.photo .details h3 {
	color: #FFFFFF; }

#work-list.search .work-item.photo .details h2 a {
	color: #555555; }

#work-list.search .work-item.photo .details h3 {
	color: #555555; }

#work-list .work-item .details ul,
#work-list .work-item .details ul li {
	list-style: none; }

#work-list .work-item .details ul li {
	margin-bottom: 5px;
	list-style: none;
	color: #555555;
	font-size: 12px;
	font-weight: 400; }

#work-list .work-item .details ul li:last-child {
	margin-bottom: 0; }

#work-list .work-item .details ul li span {
	font-weight: 700; }

#work-list .work-item .details .view {
	float: right;
	display: inline-block;
	width: 150px;
	padding: 6px 0 6px 0;
	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: #FFFFFF;
	background: #333333; }

#work-list .work-item.photo .details .view {
	position: absolute;
	right: 15px;
	top: 15px;
	font-size: 12px;
	color: #111111;
	background: #DDDDDD; }

#work-list.search .work-item.photo .details .view {
	position: static;
	font-size: 14px;
	color: #FFFFFF;
	background: #333333; }

#work-list .work-item.webdesign .details .view:hover {
	background: #111111; }

#work-list .work-item.photo .details .view:hover {
	background: #FFFFFF; }

#work-list.search .work-item.photo .details .view:hover {
	background: #111111; }



@media (max-width: 900px) {

	#work-menu {
		padding-left: 0; }

	#work-menu #work-filters {
		text-align: center; }

	#work-menu #work-filters li a {
		padding: 15px 10px 15px 10px !important;
		font-size: 12px;
		background: none !important; }

	#work-menu #work-search {
		position: static;
		width: 100%;
		height: 45px; }

	#work-menu #work-search {
		font-size: 10px;
		padding: 0 40px 0 40px;
		text-align: center;
		background-position: 10px center; }

	#work-list,
	#work-list.search {
		padding: 0; }

	#work-list .work-item {
		float: none !important;
		margin: 0 0 25px 0 !important;
		width: 100% !important; }

	#work-list .work-item .image {
		float: none !important;
		margin-right: 0 !important;
		width: 100% !important;
		height: auto !important; }

	#work-list .work-item.webdesign .image {
		margin-bottom: 15px; }

	#work-list .work-item .details {
		float: none !important;
		position: relative !important;
		padding: 0 25px 50px 25px !important;
		width: 100% !important; }

	#work-list .work-item.photo .details {
		padding-top: 15px !important;
		padding-bottom: 75px !important; }

	#work-list .work-item .details h2,
	#work-list .work-item .details h3 {
		width: 100% !important;	}

	#work-list .work-item .details h2 {
		margin-bottom: 5px !important; }

	#work-list .work-item .details h2 a {
		font-size: 16px !important; }

	#work-list .work-item .details h3 {
		margin-bottom: 10px !important;
		font-size: 12px !important;
		line-height: 15px !important; }

	#work-list .work-item.photo .details h3 {
		margin-bottom: 0 !important; }

	#work-list .work-item .details ul li {
		font-size: 10px; }

	#work-list .work-item .details .view {
		position: absolute !important;
		float: none;
		left: 25px !important;
		bottom: 0 !important;
		right: auto !important;
		top: auto !important;
		padding: 8px 0 8px 0 !important;
		width: calc(100% - 50px) !important;
		font-size: 10px !important; }

	#work-list .work-item.photo .details .view {
		bottom: 15px !important; }

	#work-list.search .work-item.photo .details .view {
		bottom: 0 !important; }

}