/******* GLOBAL *******/

header#header {
	margin-bottom: 100px !important; }



/******* INTRO *******/

#intro {
	position: relative;
	padding: 0 50px 50px 50px;
	width: 100%;
	max-width: 1300px; }

#intro h2,
#intro h3 {
	font-family: "Oxygen", Helvetica, Arial, sans-serif;
	font-weight: 300; }

#intro h2 {
	margin-bottom: 15px;
	font-size: 64px;
	line-height: 64px; }

#intro h3 {
	margin-bottom: 50px;
	font-size: 24px;
	line-height: 36px;
	color: #555555; }

#intro h3 span {
	display: inline;
	margin-right: 10px; }

#intro ul,
#intro ul li {
	list-style: none; }

#intro ul li {
	width: 250px;
	float: left;
	margin-right: 50px;
	list-style: none;
	color: #555555;
	font-size: 12px;
	line-height: 18px;
	font-weight: 400; }

#intro ul li:last-child {
	margin-right: 0; }

#intro ul li .title {
	display: block;
	font-weight: 700; }



/******* BANNER *******/

.banner {
	width: 100%;
	height: auto;
	border: none; }



/******* SECTION *******/

.section {
	position: relative;
	margin: 0 auto 0 auto;
	padding: 50px;
	width: 100%; }

.section h4,
.section p {
	margin: 0 auto 0 auto;
	max-width: 750px; }

.section h4 {
	margin-bottom: 15px;
	font-size: 18px;
	line-height: 18px;
	font-weight: 700;
	color: #111111;
	text-transform: uppercase; }

.section p {
	margin-bottom: 15px;
	font-size: 14px;
	line-height: 25px;
	font-weight: 400;
	text-align: justify;
	color: #444444	; }

.section p.large {
	font-size: 16px;
	line-height: 30px; }

.section a {
	color: inherit; }

.section img {
	float: right; }



/******* PROJECT PREVIEW *******/

.project-preview {
	position: relative;
	margin: 50px auto 50px auto;
	width: 750px;
	height: 430px;
	background: url("../img/project/project_preview.svg") no-repeat transparent; }

.project-preview .project-preview-image {
	position: absolute;
	left: 90px;
	top: 25px;
	width: 570px;
	height: 355px;
	background: no-repeat transparent; }

.project-preview,
.project-preview-image {
	background-position: left top !important }



/********* TRANSITIONS *********/

#intro,
#intro h2,
#intro h3,
#intro ul li,
.section,
.section h4,
.section p {
	-webkit-transition: all .25s ease-out;
	-moz-transition: all .25s ease-out;
	-ms-transition: all .25s ease-out;
	-o-transition: all .25s ease-out;
	transition: all .25s ease-out; }



/********* RESPONSIVE *********/

@media (max-width: 1000px) {

	header#header {
		margin-bottom: 50px !important; }

	#intro h2 {
		font-size: 48px;
		line-height: 48px; }

	#intro h3 {
		margin-bottom: 25px;
		font-size: 20px;
		line-height: 30px; }

	#intro ul li {
		width: 100%;
		margin-bottom: 15px;
		text-align: justify; }

	#intro ul #details-responsibilities {
		margin-right: 50px; }

	#intro ul #details-technology {
		margin-right: 0; }

	#intro ul #details-timeframe {
		margin-bottom: 0; }

	.project-preview {
		margin: 50px auto 50px auto;
		width: 440px;
		height: 310px; }

	.project-preview .project-preview-image {
		left: 38px;
		top: 19px;
		width: 360px;
		height: 270px; }

	.project-preview,
	.project-preview-image {
		background-position: left bottom !important }

}

@media (max-width: 700px) {

	header#header {
		margin-bottom: 20px !important; }

	#intro,
	.section {
		padding: 0 20px 20px 20px; }

	.section {
		padding-top: 20px; }

	#intro h2 {
		margin-bottom: 5px;
		font-size: 24px;
		line-height: 24px; }

	#intro h3 {
		margin-bottom: 15px;
		font-size: 14px;
		line-height: 20px;
		text-align: justify; }

	.title-link {
		top: 8px; }

	#intro h3 span {
		margin-right: 0; }

	#intro ul li {
		width: 100%;
		margin: 0 0 10px 0 !important;
		font-size: 10px;
		line-height: 14px;
		text-align: justify; }

	#intro ul li .title {
		float: left;
		width: 100px; }

	#intro ul li .content {
		float: right;
		width: calc(100% - 100px);
		width: -moz-calc(100% - 100px);
		width: -webkit-calc(100% - 100px); }

	#intro ul #details-timeframe {
		margin-bottom: 0 !important; }

	.section h4,
	.section p {
		margin-bottom: 10px; }

	.section h4 {
		font-size: 16px;
		line-height: 24px; }

	.section p.large {
		font-size: 14px;
		line-height: 22px; }

	.section p {
		font-size: 12px;
		line-height: 20px; }

	.project-preview {
		margin: 20px auto 20px auto;
		width: 225px;
		height: 475px; }

	.project-preview .project-preview-image {
		left: 12px;
		top: 64px;
		width: 200px;
		height: 340px; }

	.project-preview,
	.project-preview-image {
		background-position: right top !important; }

}