/******* WORK MENU *******/

#work-menu {
	position: relative;
	width: 100%;
	max-width: 1300px;
	margin: 0 auto 50px auto;
	padding: 10px;
	background: #DDDDDD; }

#work-menu #work-filters,
#work-menu #work-filters li {
	list-style: none; }

#work-menu #work-filters li {
	float: left;
	display: inline-block;
	margin-right: 10px; }

#work-menu #work-filters li:last-child {
	margin-right: 0; }

#work-menu #work-filters li a {
	display: block;
	padding: 10px 20px 10px 20px;
	font-size: 14px;
	font-weight: 300;
	color: #444444;
	text-decoration: none;
	text-transform: uppercase; }

#work-menu #work-filters li.current a,
#work-menu #work-filters li a:hover {
	color: #111111;
	background: #FFFFFF; }

#work-menu #work-filters li.current a {
	font-weight: 700; }

#work-menu #work-search {
	position: absolute;
	right: 10px;
	top: 10px;
	padding: 0 15px 0 40px;
	width: 650px;
	height: 37px;
	font-size: 14px;
	font-weight: 300;
	border: none;
	color: #111111;
	background: url("../../img/work/work_search.svg") 10px center no-repeat #FFFFFF; }

#work-menu #work-search::-webkit-input-placeholder {
	color: #444444; }

#work-menu #work-search:-moz-placeholder {
	color: #444444; }

#work-menu #work-search::-moz-placeholder {
	color: #444444; }

#work-menu #work-search:-ms-input-placeholder {
	color: #444444; }



/******* WORK LIST *******/

#global-list {
	width: 100%;
	font-size: 0;
	margin: 0 auto 0 auto;
	padding: 0 20px 0 20px;
	max-width: 1500px;
	text-align: center; }

#global-list article {
	display: inline-table;
	margin: 0 25px 40px 25px;
	width: calc(50% - 50px);
	width: -moz-calc(50% - 50px);
	width: -webkit-calc(50% - 50px);
	max-width: 400px; }

#global-list article:nth-child(4n + 4) {
	clear: both; }

#global-list article .content {
	padding: 25px 0 0 0; }

#global-list article.album .content {
	padding: 25px; }

#global-list article .content h2 a {
	font-size: 20px;
	line-height: 20px; }

#global-list article .content p {
	margin-top: 5px;
	margin-bottom: 10px;
	font-weight: 300;
	font-size: 14px;
	line-height: 21px; }

#global-list article .content ul,
#global-list article .content ul li {
	list-style: none;
	text-align: left; }

#global-list article .content ul li {
	margin-bottom: 5px;
	list-style: none;
	color: #555555;
	font-size: 10px;
	font-weight: 400; }

#global-list article .content ul li:last-child {
	margin-bottom: 0; }

#global-list article .content ul li span {
	font-weight: 700; }

#global-list article .special-link {
	position: absolute !important;
	right: 0;
	top: 28px; }

#global-list article.album .special-link {
	right: 25px; }

#global-list #spacer {
	display: inline-table;
	width: 450px; }




/******* RESPONSIVE *******/

@media (min-width: 1840px) {

	#work-menu {
		max-width: 1750px; }

	#work-menu #work-search {
		width: 700px; }

	#global-list {
		max-width: 1840px; }

	#global-list #spacer {
		display: inline-table;
		width: 900px; }

}

@media (max-width: 1390px) {

	#work-menu {
		max-width: 850px; }

	#work-menu #work-search {
		width: 350px; }

	#global-list {
		max-width: 940px; }

	#global-list #spacer {
		display: none;
		width: 0; }


}

@media (max-width: 1000px) {

	#work-menu {
		width: calc(100% - 50px);
		width: -moz-calc(100% - 50px);
		width: -webkit-calc(100% - 50px);
		max-width: 830px !important }

	#work-menu #work-filters {
		margin-bottom: 10px !important;
		width: 100% !important;
		text-align: center !important; }

	#work-menu #work-filters li {
		float: none !important; }

	#work-menu #work-search {
		position: static !important;
		display: block !important;
		width: 100% !important;
		margin: 0 auto 0 auto !important;
		text-align: center; }

	#global-list {
		padding: 0 10px 0 10px; }

	#global-list article {
		margin: 0 15px 50px 15px;
		width: calc(50% - 30px);
		width: -moz-calc(50% - 30px);
		width: -webkit-calc(50% - 30px); }

	#global-list article .content h2 a {
		font-size: 18px;
		line-height: 18px; }

	#global-list article .content p {
		font-size: 12px;
		line-height: 18px; }

	#global-list article .special-link {
		top: 28px; }

}

@media (max-width: 700px) {

	header#header {
		margin: 0 !important;
		border: none !important; }

	#work-menu {
		margin-bottom: 0 !important;
		padding: 10px 20px 10px 20px;
		width: 100% !important; }

	#work-menu #work-filters li {
		margin-right: 5px !important; }

	#work-menu #work-filters li a {
		padding: 5px 10px 5px 10px !important;
		font-size: 12px !important; }

	#work-menu #work-search {
		height: 30px !important;
		padding: 0;
		font-size: 10px !important;
		background-image: url("../../img/work/work_search_small.svg") !important;
		background-position: 10px center !important; }

	#global-list {
		padding: 0; }

	#global-list article {
		margin: 0;
		max-width: 100%; }

	#global-list article p {
		margin-bottom: 10px !important; }

}