@import '../common/constants';

$transition-timing: 0.1s;

.button {
  $height: $border-radius-l * 2;
  align-items: center;
  background: $color-secondary;
  border-radius: $height;
  color: $color-primary;
  display: inline-flex;
  font-size: font-size($font-size-s);
  height: $height;
  justify-content: center;
  line-height: font-size($font-size-s);
  padding: 0 20px;

  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: lowercase;
  transition: background $transition-timing $ease-standard;
  white-space: nowrap;

  @include breakpoint('medium') {
    $height: $border-radius-m * 2;
    border-radius: $height;
    height: $height;

    padding: 0 18px;
  }
  
  @include breakpoint('small') {
    $height: $border-radius-s * 2;
    border-radius: $height;
    height: $height;

    padding: 0 15px;
  }

  &::before {
    border: 2px solid $color-primary;
    border-radius: $height;
    content: '';
    display: block;
    height: calc(100%);
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all $transition-timing $ease-standard;
    width: calc(100%);
    z-index: -1;
  }

  &:hover {
    background-color: $color-secondary-alt;
    color: inherit;

    &::before {
      height: calc(100% + 10px);
      opacity: 1;
      width: calc(100% + 10px);
    }
  }
}

.button > svg {
  fill: $color-primary;
  margin-left: 8px;
  margin-top: 1px;
  transition: transform $transition-timing $ease-standard;

  @include breakpoint('small') {
    width: 15px;
  }
}

.button:hover > svg {
  transform: translateX(5px);

  @include breakpoint('medium') {
    transform: translateX(4px);
  }

  @include breakpoint('small') {
    transform: translateX(3px);
  }
}
