@import '../common/constants';

@import '../common/mixins';

nav.header {
  align-items: baseline;
  display: flex;
  margin: 0 auto $spacing-l;
  max-width: $max-width-extra;
  padding: $spacing-l * 2;

  @include breakpoint('medium') {
    margin-bottom: $spacing-m;
    padding: $spacing-m * 2;
  }

  @include breakpoint('small') {
    margin-bottom: $spacing-s;
    padding: $spacing-s * 2;
  }
}

nav.header > a {
  color: $color-primary;
  font-size: font-size($font-size-l);
  font-weight: 700;
  line-height: font-size($font-size-l);
  padding: 0 15px;
  text-decoration: none;
  text-transform: lowercase;
  white-space: nowrap;

  @include breakpoint('medium') {
    padding: 0 10px;
  }

  @include breakpoint('small') {
    &.link {
      display: none;
    }
  }

  &.title {
    font-weight: 700;
    margin-right: auto;
    padding: 0;
  }

  &.link {
    margin-right: -15px;

    @include breakpoint('medium') {
      margin-right: -10px;
    }
  }

  &.menu {
    display: none;
    fill: $color-primary;

    @include breakpoint('small') {
      display: block;
    }
  }

  &.active,
  &:hover {
    color: $color-secondary;
  }

  &.active:hover {
    color: $color-secondary-alt;
  }
}

