@import '../common/constants';


figure.photo img {
  display: block;
  height: auto;
  width: 100%;
  will-change: opacity, transform;

  &:not(.loaded) {
    opacity: 0;
    transform: translateY(15px);
  }

  &.loaded {
    opacity: 1;
    padding-top: 0 !important;
    transition: transform 1s $ease-standard, opacity 1s $ease-standard;
  }
  
  &:not([src]) {
    visibility: hidden;
  }
}

figure.photo > figcaption {
  color: $color-primary-alt;
  display: flex;
  font-size: font-size(14px);
  padding-top: 10px;
  text-align: left;

  @include breakpoint('small') {
    padding-top: 8px;
  }
}

figure.photo > figcaption > .info,
figure.photo > figcaption > .date {
  white-space: nowrap;
  width: 50%;

  &.info > .title {
    font-weight: 700;
  }

  &.date {
    text-align: right;
  }
}
