@import "../common/constants";

$height: 40px;
$transition-timing: .1s;

.button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  height: $height;
  font-size: fontSize($fontSizeS);
  line-height: fontSize($fontSizeS);
  color: $colorPrimary;
  border-radius: $height;
  text-align: center;
  text-decoration: none;
  text-transform: lowercase;
  white-space: nowrap;
  background: $colorSecondary;
  transition: background $transition-timing $easeStandard;

  @include breakpoint("medium") {
    padding: 0 18px;
    height: 35px;
  }
  
  @include breakpoint("small") {
    padding: 0 15px;
    height: 30px;
  }

  &:before {
    z-index: -1;
    opacity: 0;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: calc(100%);
    height: calc(100%);
    display: block;
    border-radius: $height;
    border: 2px solid $colorPrimary;
    transform: translate(-50%, -50%);
    transition: all $transition-timing $easeStandard;
  }

  &:hover {
    color: inherit;
    background-color: $colorSecondaryAlt;

    &:before {
      opacity: 1;
      width: calc(100% + 10px);
      height: calc(100% + 10px);
    }
  }
}

.button > svg {
  margin-top: 1px;
  margin-left: 8px;
  fill: $colorPrimary;
  transition: transform $transition-timing $easeStandard;

  @include breakpoint("small") {
    width: 15px;
  }
}

.button:hover > svg {
  transform: translateX(5px);

  @include breakpoint("medium") {
    transform: translateX(4px);
  }

  @include breakpoint("small") {
    transform: translateX(3px);
  }
}
