@import "../common/constants";

footer {
  padding: ($spacingL * 5) 0 $spacingL * 2;
  text-align: center;

  @include breakpoint("medium") {
    padding: ($spacingM * 5) 0 ($spacingM * 2);
  }

  @include breakpoint("small") {
    padding: ($spacingS * 5) 0 ($spacingS * 2);
  }
}

footer > a {
  display: inline-flex;
  margin-right: $spacingL;

  &:last-child {
    margin-right: 0;
  }

  > svg {
    width: 38px;
    height: 38px;
    fill: $colorPrimaryAlt;

    @include breakpoint("medium") {
      width: 32px;
      height: 32px;
    }

    @include breakpoint("small") {
      width: 26px;
      height: 26px;
    }
  }

  &:hover > svg,
  &:focus > svg {
    fill: $colorPrimary;
  }
}
