@import "../common/constants";

footer {
  padding: ($spacingLarge * 5) 0 60px;
  text-align: center;

  > a {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }

    > svg {
      width: 32px;
      height: 32px;
      fill: $colorPrimaryAlt;
    }

    &:hover > svg,
    &:focus > svg {
      fill: $colorPrimary;
    }
  }
}
