@import "../common/constants";

@import "../common/mixins";

nav.header {
  display: flex;
  align-items: baseline;
  margin: 0 auto $spacingL;
  padding: $spacingL * 2;
  max-width: $maxWidthExtra;

  @include breakpoint("medium") {
    margin-bottom: $spacingM;
    padding: $spacingM * 2;
  }

  @include breakpoint("small") {
    margin-bottom: $spacingS;
    padding: $spacingS * 2;
  }
}

nav.header > a {
  padding: 0 15px;
  font-weight: 700;
  font-size: fontSize($fontSizeL);
  line-height: fontSize($fontSizeL);
  text-transform: lowercase;
  color: $colorPrimary;
  white-space: nowrap;

  @include breakpoint("medium") {
    padding: 0 10px;
  }

  @include breakpoint("small") {
    &.link {
      display: none;
    }
  }

  &.title {
    margin-right: auto;
    padding: 0;
    font-weight: 700;
  }

  &.link {
    margin-right: -15px;

    @include breakpoint("medium") {
      margin-right: -10px;
    }
  }

  &.menu {
    display: none;
    fill: $colorPrimary;

    @include breakpoint("small") {
      display: block;
    }
  }

  &.active,
  &:hover {
    color: $colorSecondary;
  }

  &.active:hover {
    color: $colorSecondaryAlt;
  }
}

