@import "../common/constants";

@import "../common/mixins";

nav {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  margin: $spacingLarge auto ($spacingLarge * 3);
  padding: 0 $spacingLarge;
  max-width: 1000px + ($spacingLarge * 2);

  > a {
    position: relative;
    margin-right: 25px;
    padding-bottom: 8px;
    font-weight: 700;
    font-size: fontSize(24px);
    line-height: fontSize(24px);
    text-decoration: none;
    color: $colorPrimary;
    white-space: nowrap;

    &:before {
      position: absolute;
      bottom: -5px;
      display: none;
      width: 100%;
      background: $colorPrimary;

      @extend %line;
    }

    &:last-child {
      margin-right: 0;
    }
    
    &.title {
      margin-right: 40px;
      font-size: fontSize(32px);
      font-weight: 700;
    }

    &.spacing {
      margin-left: auto;
    }

    &:hover,
    &.active {
      border-bottom-color: $colorPrimary;

      &:before {
        display: block;
      }
    }

    &.active {
      color: $colorSecondary;
      border-bottom-color: $colorSecondary;

      &:before {
        background: $colorSecondary;
      }

      > svg {
        fill: $colorSecondary;
      }
    }

    > .icon {
      margin-right: 8px;
      width: 24px;
      height: 24px;
      vertical-align: bottom;
      fill: $colorPrimary;
    }
  }
}
