@import "../common/constants";

@import "../common/mixins";

nav.header {
  display: flex;
  align-items: end;
  margin: 0 auto $spacingLarge;
  padding: ($spacingLarge * 2);
  max-width: $maxWidthExtra;

  @include breakpoint("small") {
    margin: ($spacingSmall * 2) auto ($spacingSmall * 3);
    padding: 0 ($spacingSmall * 2);
  }
}

nav.header > a {
  position: relative;
  margin-right: $spacingLarge;
  padding-bottom: 8px;
  font-weight: 700;
  font-size: fontSize(24px);
  line-height: fontSize(24px);
  text-decoration: none;
  color: $colorPrimary;
  white-space: nowrap;

  @include breakpoint("small") {
    &:not(.title) {
      display: none;
    }
  }

  &:before {
    position: absolute;
    bottom: -5px;
    display: none;
    width: 100%;
    background: $colorPrimary;

    @extend %line;

    @include breakpoint("small") {
      bottom: -2px;
    }
  }

  &:last-child {
    margin-right: 0;
  }
  
  &.title {
    margin-right: $spacingLarge;
    font-size: fontSize(32px);
    line-height: fontSize(32px);
    font-weight: 700;

    @include breakpoint("small") {
      margin-right: 0;
    }
  }

  &.spacing {
    margin-left: auto;
  }

  &:hover,
  &.active {
    border-bottom-color: $colorPrimary;
  }

  &:hover:before,
  &.active:before {
    display: block;
  }

  &.active {
    color: $colorSecondary;
    border-bottom-color: $colorSecondary;
  }

  &.active:before {
    background: $colorSecondary;
  }

  &.active > svg {
    fill: $colorSecondary;
  }

  > .icon {
    margin-right: 8px;
    width: 24px;
    height: 24px;
    vertical-align: bottom;
    fill: $colorPrimary;
  }
}
