# Logs
logs
*.log
npm-debug.log*

# Coverage directories
coverage
.nyc_output

# Dependency directories
node_modules

# npm cache
.npm

# VS Code
.vscode/
*.code-workspace

# Compiled files
dist/

# Parcel cache
.parcel-cache
