RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(work)/?$ /$1.php [L,NC]
RewriteRule ^(album)/?$ /$1.php [L,NC]
RewriteRule ^(about)/?$ /$1.php [L,NC]