# Enable Apache rewrite directive
RewriteEngine on

# Page: Index
DirectoryIndex pages/index.php

# Page: Work
RewriteRule ^work/?$ pages/work.php [L]

# Page: Projects
RewriteRule ^projects/([a-zA-Z0-9-]+)/?$ pages/projects/$1/index.php [L]

# Page: Photography
RewriteRule ^photography/?$ pages/photography.php [L]

# Page: About
RewriteRule ^about/?$ pages/about.php [L]