.project-list {
  margin: 0 auto 0 auto;
  padding: 80px 20px 40px 20px;
  max-width: 1080px;
}

.project-list:after {
  content: "";
  display: table;
  clear: both;
}

.project-list > .list-item {
  float: left;
  display: block;
  margin-top: 60px;
  padding: 0 20px 0 20px;
  width: 50%;
}

.project-list > .list-item:nth-child(1),
.project-list > .list-item:nth-child(2) {
  margin-top: 0;
}

.project-list > .list-item:nth-child(odd) {
  clear: both;
}

.project-list > .list-item > .item-image,
.project-list > .list-item > .item-image > img {
  display: block;
  width: 100%;
  height: auto;
}

.project-list > .list-item > .item-image {
  margin-bottom: 20px;
  border: none;
}

.project-list > .list-item > h2 {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 20px;
}

.project-list > .list-item > .view {
  opacity: 0.5;
  float: right;
  padding: 5px 10px 5px 10px;
  font-size: 16px;
  line-height: 16px;
  color: #212121;
  border: 1px solid #212121;
  border-radius: 5px;
  text-decoration: none;
}

.project-list > .list-item > .view:hover {
  opacity: 1;
  text-decoration: underline;
}

.project-list > .list-item > p {
  clear: both;
}

.project-list > .list-item > .details {
  margin-top: 10px;
  list-style: none;
}

.project-list > .list-item > .details > li {
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 18px;
  color: #9E9E9E;
}

.project-list > .list-item > .details > li:last-child {
  margin-bottom: 0;
}

@media (max-width: 800px) {
  .project-list {
    padding-top: 40px;
    padding-bottom: 20px;
  }
  .project-list > .list-item {
    float: none;
    margin: 0 auto 40px auto;
    padding: 0;
    width: 100%;
    max-width: 500px;
  }
  .project-list > .list-item:last-child {
    margin-bottom: 0;
  }
  .project-list > .list-item > h2 {
    font-size: 16px;
    line-height: 16px;
  }
  .project-list > .list-item > .view {
    padding: 5px 5px 5px 5px;
    font-size: 14px;
    line-height: 14px;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  .project-list > .list-item > .details {
    margin-top: 5px;
  }
  .project-list > .list-item > .details > li {
    margin-bottom: 0;
    font-size: 12px;
    line-height: 16px;
  }
}
