@mixin clearFix {
	content: "";
	display: table;
	clear: both;
}

@mixin browserPrefix ($property, $value) {
	-webkit-#{$property}: #{$value};
	-moz-#{$property}: #{$value};
	-ms-#{$property}: #{$value};
	-o-#{$property}: #{$value};
	#{$property}: #{$value};
}

@mixin calc ($property, $expression) {
	#{$property}: -webkit-calc(#{$expression});
	#{$property}: -moz-calc(#{$expression});
	#{$property}: -ms-calc(#{$expression});
	#{$property}: -o-calc(#{$expression});
	#{$property}: calc(#{$expression});
}

@mixin transform ($transform) {
	-webkit-transform: $transform;
	-moz-transform: $transform;
	-ms-transform: $transform;
	-o-transform: $transform;
	transform: $transform;
}

@mixin animation ($animation) {
	-webkit-animation: $animation;
	-moz-animation: $animation;
	-ms-animation: $animation;
	-o-animation: $animation;
	animation: $animation;
}

@mixin transition ($transition) {
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-ms-transition: $transition;
	-o-transition: $transition;
	transition: $transition;
}

@mixin transitionTransform ($transition) {
	-webkit-transition: -webkit-transform $transition;
	-moz-transition: -moz-transform $transition;
	-ms-transition: -ms-transform $transition;
	-o-transition: -o-transform $transition;
	transition: transform $transition;
}

@mixin transitionDelay ($delay) {
	-webkit-transition-delay: $delay;
	-moz-transition-delay: $delay;
	-ms-transition-delay: $delay;
	-o-transition-delay: $delay;
	transition-delay: $delay;
}

@mixin transitionTimingFunction ($function) {
	-webkit-transition-timing-function: $function;
	-moz-transition-timing-function: $function;
	-ms-transition-timing-function: $function;
	-o-transition-timing-function: $function;
	transition-timing-function: $function;
}

@mixin removeStyling {
    -webkit-appearance: none;
    apperance: none;
    outline: none;
}

@mixin calcBackgroundHorizontal ($expression) {
	background-position: -webkit-calc(#{$expression}) center;
	background-position: -moz-calc(#{$expression}) center;
	background-position: -ms-calc(#{$expression}) center;
	background-position: -o-calc(#{$expression}) center;
	background-position: calc(#{$expression}) center;
}

@mixin lineHeight ($fontSize) {
	line-height: $fontSize * 1.618;
}

@mixin boxShadow ($shadow) {
	-webkit-box-shadow: #{$shadow};
	-moz-box-shadow: #{$shadow};
	box-shadow: #{$shadow};
}
