html {
	@include browserPrefix("box-sizing", "border-box");
}

body {
	min-width: 320px;
	font-family: "Lora", Times, serif;
	font-weight: 400;
	font-size: 18px;
	@include lineHeight(18px);
	text-align: left;
	color: $colour-text;
	background: $colour-background;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: "liga" on;
}

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

a {
	color: inherit;
}

aside,
section,
main,
nav,
header,
footer, {
	display: block;
}
