extends ../layout.pug

include ../components/link
include ../components/photo

block variables
  - const PAGE_SECTION = 'home';

block styles
  link(rel='stylesheet' href='/public/styles/home.css')

block main
  section.work
    h1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam interdum odio nunc, non elementum mi hendrerit in. Nullam sollicitudin ipsum tincidunt velit pharetra accumsan. Morbi in nunc sapien.
    .bottom
      +button({ text: "Learn More", url: "/work" })

  if articles
    section.journal
      h2 Journal
      .wrapper
        for article in articles
          .item
            h3
              a(href=`/journal/${article.slug}`)= article.attributes.title
            p.blurb= article.attributes.blurb
            p.date= new Date(article.attributes.published).toLocaleDateString('en-gb', { year: 'numeric', month: 'long', day: 'numeric' })
        .item.end
          +button({ text: "Read More", url: "/journal" })

  if photos
    section.photography
      h2 Photography
      .wrapper
        for photo in photos
          .item
            +photo(photo)
        .item.end
          +button({ text: "View More", url: "/photography" })
