extends ../layout.pug

include ../components/link
include ../components/photo

block variables
  - const PAGE_SECTION = 'home';

block styles
  link(rel='stylesheet' href='/public/home.css')

block main
  section.work
    h1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam interdum odio nunc, non elementum mi hendrerit in. Nullam sollicitudin ipsum tincidunt velit pharetra accumsan. Morbi in nunc sapien.
    +button({ text: "Learn More", url: "/work" })
  section.journal
    .section-header
      h2 Journal
      +button({ text: "Read More", url: "/journal" })
    for article in articles
      div.journal-item
        h3
          a(href=`/journal/${article.slug}`)= article.attributes.title
        p.blurb= article.attributes.blurb
        p.date= new Date(article.attributes.published).toLocaleDateString('en-gb', { year: 'numeric', month: 'long', day: 'numeric' })
  section.photography
    .section-header
      h2 Photography
      +button({ text: "View More", url: "/photography" })
    .photography-item-wrapper
      for photo in photos
        +photo({ src: photo.src, alt: photo.alt, description: photo.description, date: photo.date })
