extends ../layout.pug

include ../components/link
include ../components/photo

block variables
  - const PAGE_SECTION = 'home';

block styles
  link(rel='stylesheet' href='/public/styles/home.css')

block main
  section.me
    h1 a software engineer focusing on <span>frontend</span> & <span>backend</span> web development working as a <span>tech lead</span> in London
    .bottom
      +button({ text: "Hello", url: "/me" })

  if articles
    section.writing
      h2 Writing
      .wrapper
        for article in articles
          .item
            h3
              a(href=`/writing/${article.slug}`)= article.attributes.title
            p.blurb= article.attributes.blurb
            p.date= new Date(article.attributes.published).toLocaleDateString('en-gb', { year: 'numeric', month: 'long', day: 'numeric' })
        .item.end
          +button({ text: "More", url: "/writing" })

  if photos
    section.photography
      h2 Photography
      .wrapper
        for photo in photos
          .item
            +photo(photo)
        .item.end
          +button({ text: "More", url: "/photography" })
