extends ../layout.pug

include ../components/button
include ../components/photo

block variables
  - const PAGE_SECTION = "home";

block styles
  link(href=`/public/styles/home.css?${resourceHashes.homeCSS}` type="text/css" rel="stylesheet")

block main
  section.me
    h1
      | A <span>software engineer</span> / <span>tech lead</span> focusing on <span>frontend</span> + <span>backend</span> web development
    .bottom
      +button({ text: "Hello", title: "Learn more", url: "/me" })

  if data
    section.photography
      h2
        | Photography
        +button({ text: "More", title: "View photography", url: "/photography" })
      .wrapper
        for photo in data
          +photo(photo)
