extends ../layout.pug

include ../components/button
include ../components/photo

block variables
  - const PAGE_SECTION = "home";

block styles
  link(href="/public/styles/home.css" type="text/css" rel="stylesheet")

block main
  section.me
    h1 A software engineer focusing on <span>frontend</span> & <span>backend</span> web development working as a <span>tech lead</span> in London
    .bottom
      +button({ text: "Hello", url: "/me" })

  if photos
    section.photography
      h2 Photography
      .wrapper
        for photo in photos
          .item
            +photo(photo)
        .item.end
          +button({ text: "More", url: "/photography" })
