extends ../layout.pug

include ../components/button
include ../components/photo

block variables
  - const PAGE_SECTION = "home";

block styles
  link(href="/public/styles/home.css" type="text/css" rel="stylesheet")

block main
  section.me
    h1
      | A <span>software engineer</span> and <span>tech lead</span> focusing on <span>frontend</span> & <span>backend</span> web development
      +button({ text: "Hello", title: "Learn more", url: "/me" })

  if photos
    section.photography
      h2
        | Photography
        +button({ text: "More", title: "View photography", url: "/photography" })
      .wrapper
        for photo in photos
          +photo(photo)
