extends ../layout.pug

block variables
  - const SECTION = 'journal';

block styles
  link(rel='stylesheet' href='/styles/journal.css')

block main
  section.journal-list
    h1 Journal
    for article in articles
      div.journal-item
        h2
          a(href=`/journal/${article.slug}`)= article.title
        p= article.description
        p.date= new Date(article.attributes.published).toLocaleDateString('en-gb', { year: 'numeric', month: 'long', day: 'numeric' })
