extends ../layout.pug

include ../components/link

block variables
  - const PAGE_SECTION = 'journal';

block styles
  link(rel='stylesheet' href='/public/journal.css')

block main
  section.journal-list
    h1 Journal
    for article in articles
      div.journal-item
        h2
          a(href=`/journal/${article.slug}`)= article.attributes.title
        p= article.attributes.blurb
        p.date= new Date(article.attributes.published).toLocaleDateString('en-gb', { year: 'numeric', month: 'long', day: 'numeric' })
        +button({ text: "Read", url: `/journal/${article.slug}` })
