extends ../layout.pug

include ../components/link

block variables
  - const PAGE_SECTION = 'journal';

block styles
  link(rel='stylesheet' href='/public/styles/journal.css')

block main

  if articles
    section.journal
      h1 Writing
      for article in articles
        div.item
          h2
            a(href=`/journal/${article.slug}`)= article.attributes.title
          p= article.attributes.blurb
          p.date= new Date(article.attributes.published).toLocaleDateString('en-gb', { year: 'numeric', month: 'long', day: 'numeric' })
          +button({ text: "Read", url: `/journal/${article.slug}` })
