extends ../layout.pug

include ../components/photo

block variables
  - const PAGE_SECTION = "photography";

block styles
  link(href=`/public/styles/photography.css?${resourceHashes.photographyCSSHash}` type="text/css" rel="stylesheet")

block scripts
  script(src=`/public/scripts/photography.js?${resourceHashes.photographyJSHash}` type="text/javascript" async defer)

block main
  section.photography
    if data.albums
      .controls
        h1 Photography
        select.js-albums
          option(value="all" selected) All Photos
          for album in data.albums
            option(value=album.key)=album.name
    .gallery.js-gallery
      .column.js-column
        each photo in data.photos
          +photo(photo)
