extends ../layout.pug

include ../components/photo

block variables
  - const PAGE_SECTION = 'photography';

block styles
  link(rel='stylesheet' href='/public/styles/photography.css')

block scripts
  script(src='/public/scripts/photography.js' async defer)

block main
  section.photography
    if albums
      .controls
        h1 Photography
        select.js-albums
          option(value="all" selected) All Photos
          for album in albums
            option(value=album.key)=album.name
    .gallery.js-gallery
      .column.js-column
        each photo in photos
          +photo(photo)
