extends ../layout.pug

block variables
  - const PAGE_SECTION = 'writing';
  - const PAGE_TITLE = attributes.title;
  - const PAGE_DESCRIPTION = attributes.description;

block styles
  link(rel='stylesheet' type='text/css' href='/public/styles/writing.css')

block main
  article.writing-detail
    if content
      | !{content}
    if attributes && attributes.published
      p.footnote
        =`Published ${new Date(attributes.published).toLocaleDateString('en-gb', { year: 'numeric', month: 'long', day: 'numeric' })}`
