extends ../layout.pug

include ../components/button

block variables
  - const PAGE_SECTION = "writing";

block styles
  link(href="/public/styles/writing.css" type="text/css" rel="stylesheet")

block main

  if articles
    section.writing
      h1 Writing
      for article in articles
        div.item
          h2
            a(href=`/writing/${article.slug}`)=article.attributes.title
          p=article.attributes.blurb
          p.date=new Date(article.attributes.published).toLocaleDateString("en-gb", { year: "numeric", month: "long", day: "numeric" })
          +button({ text: "Read", url: `/writing/${article.slug}` })
