.global-footer {
  margin-top: 160px;
  padding: 0 $paddingLarge $paddingLarge $paddingLarge;
  text-align: center;
  font-size: 12px;
}

.global-footer p {
  font-size: 14px;
}

.global-footer p.small {
  font-size: 12px;
  color: $colour-greyDark;
}

.global-footer p:last-child {
  margin-bottom: 0;
}

@media (max-width: $mobileBreakpointLarge) {

  .global-footer {
    margin-top: $spacingLarge;
    padding: 0 $paddingSmall $paddingSmall $paddingSmall;
  }

  .global-footer p.small {
    margin-top: 5px;
  }

}

@media (max-width: $mobileBreakpointSmall) {

  .global-footer p,
  .global-footer p.small {
    font-size: 10px;
    line-height: 12px;
  }

}
