main {
  display: grid;
  gap: 20px 20px;
  grid-template-areas:
    'intro intro'
    'about about'
    'photography github'
    'photography codepen'
    'recognitions recognitions';
  grid-template-columns: 1.2fr 0.8fr;
}

main section,
main a.link {
  background: $color-secondary;
  border-radius: 20px;
  color: $color-primary;
  padding: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

// INTRO

@keyframes cycle {
  0% {
    opacity: 0;
    transform: scale(0) rotate(-$rotation);
  }

  15% {
    opacity: 1;
    transform: scale(1) rotate(0);
  }

  85% {
    opacity: 1;
    transform: scale(1) rotate(0);
  }

  100% {
    opacity: 0;
    transform: scale(0) rotate($rotation);
  }
}

main h1.intro {
  $rotation: 20deg;

  align-items: center;
  color: $color-secondary;
  display: flex;
  font-size: font-size($font-size-xl);
  font-weight: 700;
  grid-area: intro;
  margin-bottom: $spacing-l;

  &::after {
    animation: 3s cubic-bezier(0.68, -0.6, 0.32, 1.6) 0s infinite cycle;
    content: attr(data-current);
    display: inline-block;
    font-size: font-size($font-size-l);
    line-height: font-size($font-size-l);
    margin-left: 10px;
    will-change: opacity, transform;
  }
}

// ABOUT

main section.about {
  grid-area: about;
}

main section.about > p {
  font-size: font-size($font-size-m);
  margin-bottom: 15px;

  > span.mono {
    @extend %font-monospace;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

main section.about ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  margin: 15px 0;
}

main section.about ul > li {
  @extend %font-monospace;

  background: #192bc2;
  border-radius: 20px;
  color: $color-secondary;
  display: inline-flex;
  font-size: font-size($font-size-s);
  font-weight: 700;
  margin: 5px 10px 5px 0;
  padding: 5px 20px;
}

// PHOTOGRAPHY

main section.photography {
  grid-area: photography;
  padding: 0;
}

// GITHUB + CODEPEN

main a.link {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: font-size($font-size-l);
  font-weight: 700;
  justify-content: center;
  padding: 20px;
  text-align: center;

  &:hover {
    background: $color-primary;
    color: $color-secondary;
    fill: $color-secondary;
  }

  > svg {
    $size: 64px;

    display: block;
    height: $size;
    margin-right: 20px;
    width: $size;
  }

  > span {
    margin-right: auto;
  }
}

main a.github {
  grid-area: github;
}

main a.codepen {
  grid-area: codepen;
}

// RECOGNITIONS

main section.recognitions {
  grid-area: recognitions;
}
