// BASE

@import 'base/constants';

@import 'base/mixins';

@import 'base/resets';

@import 'base/typography';

// PAGES

@import 'pages/home';

@import 'pages/photography';

// GLOBAL

body {
  background: $color-background;
  color: $color-primary;
}

nav.header {
  align-content: center;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background-color: rgba($color-background, 0.5);
  display: flex;
  height: 70px;
  justify-content: center;
  margin-bottom: $spacing-l * 2;
  position: sticky;
  top: 0;
  z-index: 10;
}

nav.header > a {
  align-items: center;
  color: $color-primary;
  display: flex;
  font-size: font-size($font-size-m);
  font-weight: 700;
  padding: 0 15px;
  text-transform: lowercase;
  white-space: nowrap;

  &:hover,
  &.active {
    background-color: $color-background-alt;
  }
}

main {
  margin: 0 auto;
  max-width: $max-width;
  padding: 0 $spacing-l $spacing-l * 4;

  @media (max-width: $breakpoint-small) {
    padding: 0 $spacing-s $spacing-s * 2;
  }
}
