@import "common/constants";

@import "common/mixins";

main > section {
  margin-bottom: $spacingL * 3;

  @include breakpoint("medium") {
    margin-bottom: $spacingM * 3;
  }

  @include breakpoint("small") {
    margin-bottom: $spacingS * 3;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

main > section > h2 {
  margin-bottom: $spacingL;
  display: flex;
  align-items: center;
  white-space: nowrap;
  font-size: fontSize($fontSizeL);
  text-transform: lowercase;

  @include breakpoint("small") {
    margin-bottom: $spacingS;
  }

  &:after {
    margin-left: $spacingL;
    width: 100%;
    transform: translateY(2px);

    @extend %line;

    @include breakpoint("medium") {
      margin-left: $spacingM;
    }

    @include breakpoint("small") {
      margin-left: $spacingS;
    }
  }
}

main > section .item {
  display: block;
  position: relative;
  margin-bottom: $spacingL;
  font-weight: inherit;
  text-decoration: none;

  @extend %box;

  @include breakpoint("medium") {
    margin-bottom: $spacingM;
  }

  @include breakpoint("small") {
    margin-bottom: $spacingS;
  }

  &:hover {
    color: inherit;
    background: $colorSecondaryAlt;

    > ul,
    > p.date {
      color: $colorPrimary;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  > ul,
  > p.date {
    font-size: fontSize($fontSizeXS);
    color: $colorPrimaryAlt;
  
    @extend %fontMonospace;
  }
}

main > section > .item h3 {
  margin-bottom: 5px;
  text-decoration: underline;
}

main > section.me > h1 {
  font-size: fontSize($fontSizeXL);
  line-height: fontSize($fontSizeXL);
  font-weight: 700;
}

main > section.me > p {
  margin-top: $spacingL;
  font-size: fontSize($fontSizeM);

  @include breakpoint("medium") {
    margin-top: $spacingM;
  }

  @include breakpoint("small") {
    margin-top: $spacingS;
  }

  > span.mono {
    @extend %fontMonospace;
  }
}

main > section.me > p.greeting {
  display: flex;
  align-items: center;

  $rotation: 20deg;

  @keyframes cycle {
    0% {
      opacity: 0;
      transform: scale(0) rotate(-$rotation);
    }

    15% {
      opacity: 1;
      transform: scale(1) rotate(0);
    }

    85% {
      opacity: 1;
      transform: scale(1) rotate(0);
    }
  
    100% {
      opacity: 0;
      transform: scale(0) rotate($rotation);
    }
  }

  &:after {
    content: attr(data-current);
    display: inline-block;
    margin-left: 10px;
    font-size: fontSize($fontSizeL);
    line-height: fontSize($fontSizeL);
    animation: 3s cubic-bezier(.68, -.6, .32, 1.6) 0s infinite cycle;
    will-change: opacity, transform;
  }
}

main > section.me ul {
  margin-top: $spacingL;
  columns: 2;
  list-style: none;

  @include breakpoint("medium") {
    margin-top: $spacingM;
  }

  @include breakpoint("small") {
    margin-top: $spacingS;
  }
}

main > section.me ul > li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: fontSize($fontSizeS);
  color: $colorSpecial;

  @extend %fontMonospace;

  @include breakpoint("medium") {
    margin-bottom: 15px;
  }

  @include breakpoint("small") {
    margin-bottom: 8px;
  }

  &:last-child {
    margin: 0;
  }

  &:before {
    position: relative;
    margin-right: 15px;
    min-width: 30px;
    background: $colorSpecial;

    @extend %line;

    @include breakpoint("small") {
      margin-right: 8px;
      min-width: 15px;
    }
  }
}

main > section.projects .item > ul {
  margin-top: 10px;
  display: flex;
  list-style: none;
}

main > section.projects .item > ul > li {
  margin-right: 15px;

  @include breakpoint("small") {
    margin-right: 10px;
  }

  &:last-child {
    margin-right: 0;
  }
}

main > section.projects > .more {
  display: flex;
}

main > section.projects > .more > .item {
  margin-right: $spacingL;
  margin-bottom: 0;
  width: 50%;
  min-height: 100%;
  font-weight: 700;
  text-align: center;
  text-decoration: underline;

  @extend %fontMonospace;

  @include breakpoint("medium") {
    margin-right: $spacingM;
  }

  @include breakpoint("small") {
    margin-right: $spacingS;
  }

  &:hover > svg {
    fill: $colorPrimary;
  }

  &:last-child {
    margin-right: 0;
  }
}

main > section.projects > .more > .item > svg {
  $size: 60px;

  display: block;
  margin: 0 auto 15px;
  width: $size;
  height: $size;
  fill: $colorPrimaryAlt;

  @include breakpoint("medium") {
    $size: 48px;

    margin-bottom: 10px;
    width: $size;
    height: $size;
  }

  @include breakpoint("small") {
    $size: 32px;

    margin-bottom: 8px;
    width: $size;
    height: $size;
  }
}
