@import 'common/constants';

@import 'common/mixins';

main > section {
  margin-bottom: $spacing-l * 3;

  @include breakpoint('medium') {
    margin-bottom: $spacing-m * 3;
  }

  @include breakpoint('small') {
    margin-bottom: $spacing-s * 3;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

main > section > h2 {
  align-items: center;
  display: flex;
  font-size: font-size($font-size-l);
  margin-bottom: $spacing-l;
  text-transform: lowercase;
  white-space: nowrap;

  @include breakpoint('small') {
    margin-bottom: $spacing-s;
  }

  &::after {

    @extend %line;
    margin-left: $spacing-l;
    transform: translateY(2px);
    width: 100%;

    @include breakpoint('medium') {
      margin-left: $spacing-m;
    }

    @include breakpoint('small') {
      margin-left: $spacing-s;
    }
  }
}

main > section .item {

  @extend %box;
  display: block;
  font-weight: inherit;
  margin-bottom: $spacing-l;
  position: relative;
  text-decoration: none;

  @include breakpoint('medium') {
    margin-bottom: $spacing-m;
  }

  @include breakpoint('small') {
    margin-bottom: $spacing-s;
  }

  &:hover {
    background: $color-secondary-alt;
    color: inherit;

    > ul,
    > p.date {
      color: $color-primary;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  > ul,
  > p.date {
  
    @extend %font-monospace;
    color: $color-primary-alt;
    font-size: font-size($font-size-xs);
  }
}

main > section > .item h3 {
  margin-bottom: 5px;
  text-decoration: underline;
}

main > section.me > h1 {
  font-size: font-size($font-size-xl);
  font-weight: 700;
  line-height: font-size($font-size-xl);
}

main > section.me > p {
  font-size: font-size($font-size-m);
  margin-top: $spacing-l;

  @include breakpoint('medium') {
    margin-top: $spacing-m;
  }

  @include breakpoint('small') {
    margin-top: $spacing-s;
  }

  > span.mono {
    @extend %font-monospace;
  }
}

main > section.me > p.greeting {

  $rotation: 20deg;
  align-items: center;
  display: flex;

  &::after {
    animation: 3s cubic-bezier(0.68, -0.6, 0.32, 1.6) 0s infinite cycle;
    content: attr(data-current);
    display: inline-block;
    font-size: font-size($font-size-l);
    line-height: font-size($font-size-l);
    margin-left: 10px;
    will-change: opacity, transform;
  }

  @keyframes cycle {
    0% {
      opacity: 0;
      transform: scale(0) rotate(-$rotation);
    }

    15% {
      opacity: 1;
      transform: scale(1) rotate(0);
    }

    85% {
      opacity: 1;
      transform: scale(1) rotate(0);
    }
  
    100% {
      opacity: 0;
      transform: scale(0) rotate($rotation);
    }
  }
}

main > section.me ul {
  columns: 2;
  list-style: none;
  margin-top: $spacing-l;

  @include breakpoint('medium') {
    margin-top: $spacing-m;
  }

  @include breakpoint('small') {
    margin-top: $spacing-s;
  }
}

main > section.me ul > li {

  @extend %font-monospace;
  align-items: center;
  color: $color-special;
  display: flex;
  font-size: font-size($font-size-s);
  margin-bottom: 20px;

  @include breakpoint('medium') {
    margin-bottom: 15px;
  }

  @include breakpoint('small') {
    margin-bottom: 8px;
  }

  &:last-child {
    margin: 0;
  }

  &::before {

    @extend %line;
    background: $color-special;
    margin-right: 15px;
    min-width: 30px;
    position: relative;

    @include breakpoint('small') {
      margin-right: 8px;
      min-width: 15px;
    }
  }
}

main > section.projects .item > ul {
  display: flex;
  list-style: none;
  margin-top: 10px;
}

main > section.projects .item > ul > li {
  margin-right: 15px;

  @include breakpoint('small') {
    margin-right: 10px;
  }

  &:last-child {
    margin-right: 0;
  }
}

main > section.projects > .more {
  display: flex;
}

main > section.projects > .more > .item {

  @extend %font-monospace;
  font-weight: 700;
  margin-bottom: 0;
  margin-right: $spacing-l;
  min-height: 100%;
  text-align: center;
  text-decoration: underline;
  width: 50%;

  @include breakpoint('medium') {
    margin-right: $spacing-m;
  }

  @include breakpoint('small') {
    margin-right: $spacing-s;
  }

  &:hover > svg {
    fill: $color-primary;
  }

  &:last-child {
    margin-right: 0;
  }
}

main > section.projects > .more > .item > svg {
  $size: 60px;

  display: block;
  fill: $color-primary-alt;
  height: $size;
  margin: 0 auto 15px;
  width: $size;

  @include breakpoint('medium') {
    $size: 48px;
    height: $size;

    margin-bottom: 10px;
    width: $size;
  }

  @include breakpoint('small') {
    $size: 32px;
    height: $size;

    margin-bottom: 8px;
    width: $size;
  }
}
