@import "partial/constants";
@import "partial/colours";
@import "partial/mixins";

.articles .list {
	margin-top: $paddingLarge;
	list-style: none;
}

.articles .list li {
	margin-bottom: $paddingLarge;
}

.articles .list li .date {
	display: block;
}
