@import "partial/constants";
@import "partial/colours";
@import "partial/mixins";
@import "partial/resets";
@import "partial/fonts";

$headerHeight: 100px;
$headerLinkPadding: 10px;

.global-header {
	padding: 0 $widthPadding 0 $widthPadding;
	height: $headerHeight;
}

.global-header > .container {
	margin: 0 auto 0 auto;
	height: 100%;
	max-width: $maxWidth;
}

.global-header > .container:after,
.global-header ul:after {
	@include clearFix;
}

.global-header a {
	display: block;
	color: inherit;
	font-family: "Lato", Helvetica, Verdana, sans-serif;
	text-decoration: none;
}

.global-header .header-nav a,
.global-header .header-links a {
	padding: 0 $headerLinkPadding 0 $headerLinkPadding;
	height: $headerHeight;
}

.global-header a span {
	padding: 4px;
	border-bottom: 1px solid transparent;
}

.global-header a:hover span,
.global-header .header-nav .current > a span {
	border-bottom-color: #CCCCCC;
}

.global-header .header-title,
.global-header .header-nav span,
.global-header .header-links span {
	position: relative;
	top: 50%;
	display: block;
	@include transform (translateY(-50%));
}

.global-header .header-title,
.global-header .header-nav {
	float: left;
}

.global-header .header-title {
	margin-right: 20px;
}

.global-header .header-nav .current > a {
	font-weight: 700;
}

.global-header .header-title > a {
	font-weight: 700;
	font-size: 26px;
	line-height: 26px;
}

.global-header ul {
	list-style: none;
}

.global-header ul > li {
	float: left;
}

$headerLinkIconSize: 24px;

.global-header .header-links {
	float: right;
}

.global-header .header-links a {
	position: relative;
	padding-left: $headerLinkIconSize + $headerLinkPadding + ($headerLinkPadding / 2);
}

.global-header .header-links a:before {
	content: "";
	position: absolute;
	left: $headerLinkPadding;
	top: 50%;
	margin-top: -($headerLinkIconSize / 2);
	display: inline-block;
	width: $headerLinkIconSize;
	height: $headerLinkIconSize;
	background: center center no-repeat transparent;
	background-size: contain;
}

.global-header .header-links .github a:before {
	background-image: url("../img/global/global-link-github.svg");
}

.global-header .header-links .codepen a:before {
	background-image: url("../img/global/global-link-codepen.svg");
}
