@import "partial/constants";
@import "partial/colours";
@import "partial/mixins";
@import "partial/resets";
@import "partial/fonts";

/* LINK */

$transitionDuration: 0.3s;

a.link {
	position: relative;
	display: inline-block;
	color: #00C853;
	text-decoration: none;
}

a.link:before,
a.link:after {
	content: "";
	z-index: 0;
	position: absolute;
	@include transition(width $transitionDuration $easeStandard);
}

a.link:before,
a.link:hover:after {
	@include calc(width, "100% + 6px");
}

a.link:hover:before,
a.link:after {
	width: 0px;
}

a.link:before {
	bottom: 5%;
	height: 30%;
	right: -(6px / 2);
	background: rgba(#00C853, 0.2);
}

a.link:after {
	left: -(6px / 2);
	bottom: 0;
	height: 2px;
	background: #00C853;
	@include transitionDelay(0.1s);
}

a.link > .link-text {
	z-index: 10;
	position: relative;
}

$iconArrowSize: 18px;
$iconExternalSize: 14px;
$iconOffset: 8px;

a.link.arrow .link-text {
	padding-right: $iconArrowSize + ($iconOffset * 2);
}

a.link.external .link-text {
	padding-right: $iconExternalSize + $iconOffset;
}

a.link.arrow .link-text:after,
a.link.external .link-text:after {
	content: "";
	position: absolute;
	top: 50%;
	background: center center no-repeat transparent;
	background-size: contain;
}

a.link.arrow .link-text:after {
	right: $iconOffset;
	margin-top: -($iconArrowSize / 2);
	width: $iconArrowSize;
	height: $iconArrowSize;
	background-image: url("../images/global/link-arrow.svg");
	@include transitionTransform(0.2s $easeStandard);
}

a.link.external .link-text:after {
	right: 0;
	margin-top: -($iconExternalSize / 2);
	width: $iconExternalSize;
	height: $iconExternalSize;
	background-image: url("../images/global/link-external.svg");
}

a.link.arrow:hover .link-text:after {
	@include transform(translateX($iconOffset));
}

/* CONTNET */

.outer-overlay,
.outer-menu,
.global-header > .hamburger {
	display: none;
}

.outer-content {
	margin: 0 auto 0 auto;
}

.global-header h1,
.nav a,
.links a {
	font-family: "Montserrat", Helvetica, Verdana, sans-serif;
	font-weight: 700;
}

$headerHeight: 100px;
$headerLinkPadding: 10px;

.global-header {
	z-index: 100;
	position: relative;
	height: $headerHeight;
}

.global-header > .container {
	margin: 0 auto 0 auto;
	padding: 0 $widthPadding 0 $widthPadding;
	height: 100%;
	max-width: $maxWidth + ($widthPadding * 2);
}

.global-header nav:after,
.global-header > .content:after,
.global-header ul:after {
	@include clearFix;
}

.global-header .title,
.global-header .nav li,
.global-header .links li {
	display: table;
	height: $headerHeight;
}

.global-header ul {
	list-style: none;
}

.global-header ul > li {
	float: left;
}

.global-header a {
	display: table-cell;
	vertical-align: middle;
	text-decoration: none;
	color: inherit;
}

.global-header a span {
	display: block;
	padding: 4px;
	border-bottom: 2px solid transparent;
}

.global-header a:hover span,
.global-header .nav .current > a span {
	border-bottom-color: $colour-text;
}

.global-header .title,
.global-header .nav {
	float: left;
}

.global-header .title {
	margin-right: 20px;
}

.global-header .title > a {
	font-weight: 700;
	font-size: 20px;
	line-height: 20px;
}

.global-header .nav a,
.global-header .links a {
	padding: 0 $headerLinkPadding 0 $headerLinkPadding;
}

.global-header .nav .current > a {
	font-weight: 700;
}

$headerLinkIconSize: 24px;

.global-header .links {
	float: right;
}

.global-header .links a {
	position: relative;
	padding-left: $headerLinkIconSize + $headerLinkPadding + ($headerLinkPadding / 2);
}

.global-header .links a:before,
.outer-menu .links a span:before {
	content: "";
	position: absolute;
	left: $headerLinkPadding;
	top: 50%;
	margin-top: -($headerLinkIconSize / 2);
	display: inline-block;
	width: $headerLinkIconSize;
	height: $headerLinkIconSize;
	background: center center no-repeat transparent;
	background-size: contain;
}

.global-header .links .github a:before {
	background-image: url("../images/global/global-link-github.svg");
}

.global-header .links .codepen a:before {
	background-image: url("../images/global/global-link-codepen.svg");
}

.global-footer {
	margin-top: 160px;
	padding: 0 $widthPadding 60px $widthPadding;
	text-align: center;
	font-size: 12px;
}

.global-footer p {
	font-size: 14px;
}

.global-footer p.small {
	font-size: 12px;
	color: $colour-greyDark;
}

.global-footer p:last-child {
	margin-bottom: 0;
}

.outer-background {
	display: none;
}

@media (max-width: 900px) {

	.global-header .links a {
		padding: 4px 10px 0 10px;
	}

	.global-header .links a:before {
		position: static;
		margin: 0 auto 5px auto;
		display: block;
	}

	.global-header .links a span {
		padding-bottom: 0;
	}

}

@media (max-width: $mobileBreakpointLarge) {

	body {
		font-size: 16px;
		@include lineHeight(16px);
	}

	.outer-wrapper,
	.outer-content {
		-webkit-perspective: 2000px;
		perspective: 2000px;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		-webkit-font-smoothing: subpixel-antialiased;
		font-smoothing: subpixel-antialiased;
	}

	.outer-wrapper {
		z-index: 10;
		position: relative;
		min-width: 320px;
	}

	$gradientFrom: #3F4257;
	$gradientTo: #727998;

	body.nocanvas .outer-wrapper {
		background: $gradientFrom;
		background: -moz-linear-gradient(-45deg, $gradientFrom 0%, $gradientTo 100%);
		background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, $gradientFrom), color-stop(100%, $gradientTo));
		background: -webkit-linear-gradient(-45deg, $gradientFrom 0%, $gradientTo 100%);
		background: -o-linear-gradient(-45deg, $gradientFrom 0%, $gradientTo 100%);
		background: -ms-linear-gradient(-45deg, $gradientFrom 0%, $gradientTo 100%);
		background: linear-gradient(135deg, $gradientFrom 0%, $gradientTo 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#{$gradientFrom}", endColorstr="#{$gradientTo}", GradientType=1);
	}

	.outer-menu {
		z-index: 0;
		position: absolute;
		top: 50%;
		right: 0;
		display: block;
		width: 100%;
		@include transform(translateY(-50%));
	}

	.outer-menu > ul {
		list-style: none;
	}

	.outer-menu > .nav {
		margin-bottom: 40px;
	}

	.outer-menu > ul > li > a {
		padding: 20px 10% 20px 0;
		display: block;
		font-size: 16px;
		line-height: 16px;
		font-weight: 400;
		text-align: right;
		text-decoration: none;
		color: $colour-white;
	}

	.outer-menu > ul > li > a {
		opacity: 0;
	}

	.outer-menu .nav > li:nth-child(1) > a {
		@include transitionDelay(0.1s);
	}

	.outer-menu .nav > li:nth-child(2) > a {
		@include transitionDelay(0.15s);
	}

	.outer-menu .nav > li:nth-child(3) > a {
		@include transitionDelay(0.2s);
	}

	.outer-menu .links > li:nth-child(1) > a {
		@include transitionDelay(0.25s);
	}

	.outer-menu .links > li:nth-child(2) > a {
		@include transitionDelay(0.3s);
	}

	.outer-menu > ul > li.current > a {
		font-weight: 700;
	}

	.outer-menu > ul > li.current > a,
	.outer-menu > ul > li > a:hover {
		background: rgba(255, 255, 255, 0.2);
	}

	.outer-menu > .links > li > a > span {
		position: relative;
		padding-left: $headerLinkIconSize + $headerLinkPadding;
	}

	.outer-menu > .links > li > a > span:before {
		left: 0;
	}

	.outer-menu > .links .github a span:before {
		background-image: url("../images/global/global-link-github-light.svg");
	}

	.outer-menu > .links .codepen a span:before {
		background-image: url("../images/global/global-link-codepen-light.svg");
	}

	.outer-content,
	.outer-overlay {
		position: relative;
		width: 100%;
		height: 100%;
		overflow-x: hidden;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		-webkit-transform-style: preserve-3d;
		transform-style: preserve-3d;
	}

	.outer-content {
		z-index: 10;
		background: $colour-background;
		@include transitionTransform(0.4s cubic-bezier(0.190, 1.000, 0.220, 1.000));
	}

	.outer-background {
		z-index: 0;
		position: absolute;
		left: 0;
		top: 0;
		display: block;
		width: 100%;
		height: 100%;
		background: $colour-black;
		transform-style: preserve-3d;
		-webkit-transform-style: preserve-3d;
		-webkit-backface-visibility: hidden;
	}

	body.nocanvas .outer-background {
		display: none;
	}

	/* MENU */

	body.position .outer-wrapper,
	body.position .outer-content {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}

	body.menu .outer-content {
		pointer-events: none;
	}

	body.menu .outer-content {
		@include transitionTimingFunction(cubic-bezier(0.175, 0.885, 0.335, 1.05));
	}

	body.menu .outer-overlay {
		z-index: 20;
		display: block;
	}

	body.menu .outer-overlay:hover {
		cursor: pointer;
	}

	$boxShadowBlur: 20px;

	body.menu .outer-content {
		overflow: hidden;
		@include boxShadow(rgba(0, 0, 0, 0.5) 0 0 $boxShadowBlur ($boxShadowBlur / 2));
	}

	body.nocanvas.menu .outer-content {
		@include boxShadow(rgba(0, 0, 0, 0.3) 0 0 10px 3px);
	}

	body.menu .outer-content,
	body .outer-overlay {
		@include transform(translate3d(-50%, 0, 0) scale3d(0.85, 0.85, 1) rotateY(25deg) translateZ(0));
	}

	body.position .outer-menu > ul > li > a {
		opacity: 1;
		@include transition(opacity 0.25s $easeStandard);
	}

	$headerHeight: 50px;

	.global-header {
		padding: 0 0 0 20px;
	}

	.global-header > .container {
		padding: 0;
	}

	.global-header,
	.global-header .title {
		height: $headerHeight;
	}

	.global-header .title {
		margin-right: 0;
	}

	.global-header .title > a {
		font-size: 16px;
		line-height: 16px;
	}

	.global-header nav {
		display: none;
	}

	.global-header .hamburger {
		float: right;
		position: relative;
		display: block;
		width: $headerHeight + 20px;
		height: $headerHeight;
	}

	.global-header .hamburger:before {
		content: "";
		position: absolute;
		left: 10px;
		top: 50%;
		margin-top: -(30px / 2);
		display: block;
		width: 40px;
		height: 30px;
		background: url("/images/global/global-header-hamburger.svg") 0 center no-repeat transparent;
	}

	body.menu .global-header .hamburger:before {
		background-position: -40px center;
	}

	.global-footer {
		margin-top: 60px;
		padding: 0 20px 20px 20px;
	}

	.global-footer p,
	.global-footer p.small {
		font-size: 10px;
		line-height: 12px;
	}

	.global-footer p.small {
		margin-top: 5px;
	}

}
