@import "partial/constants";
@import "partial/colours";
@import "partial/mixins";

/* HOME */

.home {
	margin: 0 auto 0 auto;
}

/* FEATURED */

$previewWidth: 520px;
$previewHeight: 325px;

.home > .featured,
.home > .featured > .container {
	position: relative;
}

.home > .featured {
	z-index: 0;
	position: relative;
	margin: 40px 0 100px 0;
	padding: 60px 0 60px 0;
	height: auto;
}

.home > .featured:before,
.home > .featured:after {
	content: "";
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
}

.home > .featured:before {
	z-index: 10;
	top: 0;
	background: $colour-purple;
	@include transform(skewY(2deg));
}

.home > .featured:after {
	z-index: 0;
	bottom: -18%;
	width: 100%;
	height: 100%;
	background: $colour-green;
	@include transform(skewY(-12deg));
}

.home > .featured > .container {
	z-index: 20;
	position: relative;
	display: table;
	margin: 0 auto 0 auto;
	padding: 0 40px 0 40px;
	width: 100%;
	max-width: $maxWidth + ($widthPadding * 2);
}

.home > .featured > .container > .text,
.home > .featured > .container > .preview {
	display: table-cell;
	vertical-align: middle;
}

.home > .featured > .container > .text {
	padding-right: 40px;
}

.home > .featured a,
.home > .featured p {
	color: #F3E5F5;
}

.home > .featured h2 {
	margin-bottom: 10px;
	font-size: 46px;
	line-height: 46px;
}

.home > .featured h2 a {
	text-decoration: none;
}

.home > .featured p {
	margin-bottom: 20px;
	font-size: 24px;
	line-height: 36px;
}

.home > .featured .technologies {
	margin-bottom: 40px;
	list-style: none;
}

.home > .featured .technologies:after {
	@include clearFix;
}

.home > .featured .technologies > li {
	float: left;
	margin-right: 10px;
	font-size: 16px;
	line-height: 16px;
	font-style: italic;
	color: rgba(#F3E5F5, 0.8);
}

.home > .featured .technologies > li:last-child {
	margin-right: 0;
}

.home > .featured .link:before {
	background-color: rgba(#F3E5F5, 0.2);
}

.home > .featured .link:after {
	background-color: #F3E5F5;
}

.home > .featured .link > .link-text:after {
	background-image: url("../images/home/featured-link-arrow.svg")
}

.home > .featured .preview {
	width: $previewWidth;
	height: $previewHeight;
}

.home > .featured .preview > .preview-video {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 6px;
	@include boxShadow(0 0 15px 8px rgba(0, 0, 0, 0.1));
}

/* LIST */

.home > .list {
	z-index: 10;
	position: relative;
	margin: 0 auto 0 auto;
	padding: 0 $widthPadding 0 $widthPadding;
	max-width: $maxWidth + ($widthPadding * 2);
	@include browserPrefix("column-count", 2);
	@include browserPrefix("column-gap", $widthPadding);
}

.home > .list:before {
	content: "";
	z-index: 0;
	position: absolute;
	left: 50%;
	bottom: 20%;
	width: 100vw;
	height: 400px;
	background: $colour-green;
	@include transform(translateX(-50%) skewY(15deg));
}

.home > .list:after {
	@include clearFix;
}

.home > .list > .project {
	z-index: 10;
	position: relative;
	display: block;
	width: 100%;
	@include browserPrefix("break-inside", avoid);
	display: table;
	margin-bottom: $widthPadding;
	background: $colour-white;
}

.home > .list > .project .image {
	display: block;
}

.home > .list > .project .preview,
.home > .list > .project .preview > .preview-image {
	display: block;
}

.home > .list > .project .preview > .preview-image {
	width: 100%;
	height: auto;
}

.home > .list > .project > .text {
	padding: 40px;
}

.home > .list > .project h2 {
	margin-bottom: 10px;
	font-size: 32px;
	line-height: 32px;
}

.home > .list > .project h2 > a {
	display: block;
	color: inherit;
	text-decoration: none;
}

.home > .list > .project p {
	margin-bottom: 20px;
}

.home > .list > .project .technologies {
	margin-bottom: 40px;
	list-style: none;
}

.home > .list > .project .technologies:after {
	@include clearFix;
}

.home > .list > .project .technologies > li {
	float: left;
	margin-right: 10px;
	font-size: 16px;
	line-height: 16px;
	font-style: italic;
	color: $colour-greyDark;
}

.home > .list > .project .technologies > li:last-child {
	margin-right: 0;
}

@media (max-width: $mobileBreakpointSmall) {

	/* HOME */

	.home {
		padding: 0;
	}

	/* FEATURED */

	.home > .featured {
		margin-bottom: 40px;
	}

	.home > .featured h2 {
		left: 0;
		font-size: 28px;
		line-height: 28px;
		max-width: 100%;
	}

	.home > .featured h2 > a {
		padding: 10px 10px 10px 20px;
	}

	.home > .featured .image {
		margin-bottom: 40px;
	}

	.home > .featured .image:before {
		content: none;
		display: none;
	}

	.home > .featured p {
		padding: 0 20px 0 20px;
		font-size: 16px;
		@include lineHeight(16px);
	}

	.home > .featured p.small {
		margin-top: 5px;
	}

	/* LIST */

	.home > .list {
		margin: 0 auto 0 auto;
		padding: 0 20px 0 20px;
	}

	.home > .list > .project {
		float: none;
		display: block;
		margin-right: 0;
		margin-top: 0;
		margin-bottom: 40px;
		width: 100%;
	}

	.home > .list > .project .image {
		margin-bottom: 20px;
	}

	.home > .list > .project > h2 {
		margin-bottom: 5px;
		font-size: 18px;
		line-height: 18px;
	}

	.home > .list > .project p {
		font-size: 14px;
		@include lineHeight(14px);
	}

}
