@import "partial/constants";
@import "partial/colours";
@import "partial/mixins";

/* HOME */

.home {
	margin: 0 auto 0 auto;
}

/* FEATURED */

$previewWidth: 520px;
$previewHeight: 325px;

.home > .featured,
.home > .featured > .container {
	position: relative;
}

.home > .featured {
	margin: 40px 0 40px 0;
	padding: 60px 0 60px 0;
	height: auto;
}

.home > .featured:before {
	content: "";
	z-index: 0;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: $colour-purple;
	@include transform(skewY(2deg));
}

.home > .featured > .container {
	z-index: 10;
	position: relative;
	display: table;
	margin: 0 auto 0 auto;
	padding: 0 40px 0 40px;
	width: 100%;
	max-width: 1000px;
}

.home > .featured > .container > .text,
.home > .featured > .container > .preview {
	display: table-cell;
	vertical-align: middle;
}

.home > .featured > .container > .text {
	padding-right: 40px;
}

.home > .featured a,
.home > .featured p {
	color: #F3E5F5;
}

.home > .featured h2 {
	margin-bottom: 20px;
	font-size: 46px;
	line-height: 46px;
}

.home > .featured h2 a {
	text-decoration: none;
}

.home > .featured p {
	margin-bottom: 40px;
	font-size: 24px;
	line-height: 36px;
}

.home > .featured .link:before {
	background-color: rgba(#F3E5F5, 0.2);
}

.home > .featured .link:after {
	background-color: #F3E5F5;
}

$arrowWidth: 24px;
$arrowHeight: 24px;

.home > .featured .link > .link-text:after {
	content: "";
	position: absolute;
	right: -($arrowHeight + 5px);
	top: 50%;
	margin-top: -($arrowHeight / 2);
	width: $arrowWidth;
	height: $arrowHeight;
	background: url("../images/home/link-arrow.svg") center center no-repeat transparent;
	@include transitionTransform(0.2s $easeStandard);
}

.home > .featured .link:hover > .link-text:after {
	@include transform(translateX(5px));
}

.home > .featured .preview {
	width: $previewWidth;
	height: $previewHeight;
}

.home > .featured .preview > .preview-video {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 6px;
	@include boxShadow(0 0 15px 8px rgba(0, 0, 0, 0.1));
}

/* LIST */

.home > .list {
	margin: 0 auto 0 auto;
}

.home > .list:after {
	@include clearFix;
}

.home > .list > .project {
	float: left;
	display: inline-table;
	margin-right: 60px;
	margin-top: 60px;
}

.home > .list > .project .image {
	display: block;
}

.home > .list > .project .image,
.home > .list > .project .image > img {
	display: block;
}

.home > .list > .project .image {
	margin-bottom: 20px;
}

.home > .list > .project .image > img {
	width: 100%;
	height: auto;
}

.home > .list > .project > h2 {
	margin-bottom: 10px;
	font-size: 22px;
	line-height: 22px;
}

.home > .list > .project > h2 > a {
	display: block;
	color: inherit;
	text-decoration: underline;
}

.home > .list > .project p {
	font-size: 16px;
	@include lineHeight(16px);
}

@media (min-width: 920px) {

	.home > .list > .project {
		@include calc(width, "(100% / 3) - 40px");
	}

	.home > .list > .project:nth-child(3n) {
		margin-right: 0;
	}

	.home > .list > .project:nth-child(4n) {
		clear: both;
	}

}

@media (max-width: 921px) {

	.home > .list > .project {
		@include calc(width, "(100% / 2) - 30px");
	}

	.home > .list > .project:nth-child(2n) {
		margin-right: 0;
	}

	.home > .list > .project:nth-child(2n+1) {
		clear: both;
	}

}

@media (max-width: $mobileBreakpointSmall) {

	/* HOME */

	.home {
		padding: 0;
	}

	/* FEATURED */

	.home > .featured {
		margin-bottom: 40px;
	}

	.home > .featured h2 {
		left: 0;
		font-size: 28px;
		line-height: 28px;
		max-width: 100%;
	}

	.home > .featured h2 > a {
		padding: 10px 10px 10px 20px;
	}

	.home > .featured .image {
		margin-bottom: 40px;
	}

	.home > .featured .image:before {
		content: none;
		display: none;
	}

	.home > .featured p {
		padding: 0 20px 0 20px;
		font-size: 16px;
		@include lineHeight(16px);
	}

	.home > .featured p.small {
		margin-top: 5px;
	}

	/* LIST */

	.home > .list {
		margin: 0 auto 0 auto;
		padding: 0 20px 0 20px;
	}

	.home > .list > .project {
		float: none;
		display: block;
		margin-right: 0;
		margin-top: 0;
		margin-bottom: 40px;
		width: 100%;
	}

	.home > .list > .project .image {
		margin-bottom: 20px;
	}

	.home > .list > .project > h2 {
		margin-bottom: 5px;
		font-size: 18px;
		line-height: 18px;
	}

	.home > .list > .project p {
		font-size: 14px;
		@include lineHeight(14px);
	}

}
