@import "partial/constants";
@import "partial/colours";
@import "partial/mixins";

/* COMMON */

$sidebarWidth: 160px;

/* OVERRIDES */

body {
	color: $colour-white;
	background: $colour-black;
}

.outer-wrapper {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.outer-wrapper > .outer-content {
	background: $colour-black;
}

.global-footer {
	display: none;
}

$newGlobalHeaderHeight: 50px;

.global-header {
	padding-left: 20px;
	padding-right: 20px;
	@include calc (width, "100% - #{$sidebarWidth}");
}

.global-header > .container {
	max-width: none;
}

.global-header a span {
	padding: 2px;
	border-bottom-color: transparent;
}

.global-header a:hover span,
.global-header .nav .current > a span {
	border-bottom-color: darken($colour-greyDark, 25%);
}

.global-header,
.global-header .title,
.global-header .nav li {
	height: $newGlobalHeaderHeight;
}

.global-header .title > a,
.global-header .nav a {
	font-size: 16px;
	line-height: 16px;
	color: $colour-greyDark;
}

.global-header .links {
	display: none;
}

/* MAIN */

$navigatorHeight: 80px;
$loadingSize: 60px;
$scaleAmount: 0.25;

#photography {
	z-index: 0;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	will-change: transform;
	overflow: hidden;
	background: $colour-black;
}

/* VIEWER */

$viewerPadding: 20px;

#photography > .viewer {
	z-index: 0;
	position: absolute;
	left: 0;
	bottom: $navigatorHeight;
	padding: $viewerPadding 0 $viewerPadding $viewerPadding;
	@include calc (width, "100% - #{$sidebarWidth}");
	@include calc (height, "100% - #{$navigatorHeight + $newGlobalHeaderHeight}");
}

#photography > .viewer > .arrow {
	z-index: 10;
	position: absolute;
	top: 0;
	width: 20%;
	height: 100%;
}

#photography > .viewer > .arrow:hover {
	cursor: pointer;
}

#photography > .viewer > .arrow.prev {
	left: 0;
}

#photography > .viewer > .arrow.next {
	right: 0;
}

#photography > .viewer > .arrow:before {
	content: "";
	opacity: 0;
	position: absolute;
	top: 50%;
	margin-top: -(30px / 2);
	width: 30px;
	height: 50px;
	background: url("../images/photography/viewer-arrow.svg") center center no-repeat transparent;
	@include transition (all 0.2s $easeStandard);
}

#photography > .viewer > .arrow:hover:before {
	opacity: 0.5;
}

#photography > .viewer > .arrow.prev:before {
	left: $viewerPadding + 40px;
	@include transform (translateX(0px));
}

#photography > .viewer > .arrow.prev:hover:before {
	@include transform (translateX(-20px));
}

#photography > .viewer > .arrow.next:before {
	right: $viewerPadding + (40px - ($viewerPadding / 2));
	@include transform (translateX(0px) rotate(180deg));
}

#photography > .viewer > .arrow.next:hover:before {
	@include transform (translateX(20px) rotate(180deg));
}

$photoMaxSize: 1024px;

#photography > .viewer > .viewer-photo {
	z-index: 0;
	position: relative;
	top: 50%;
	margin: 0 auto 0 auto;
	width: 100%;
	height: 100%;
	max-width: $photoMaxSize;
	max-height: $photoMaxSize;
	background: center center no-repeat transparent;
	background-size: contain;
	@include transform (translateY(-50%));
	@include transition (opacity 0.2s $easeAcceleration);
}

#photography.loading > .viewer > .viewer-photo {
	opacity: 0.5;
	@include transition (opacity 0.2s $easeDeceleration);
}

#photography.loading > .viewer:before {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -($loadingSize / 2);
	margin-top: -($loadingSize / 2);
	width: $loadingSize;
	height: $loadingSize;
	border-radius: 50%;
	border: ($loadingSize / 10) solid #FFFFFF;
	@include animation (loading 1s infinite $easeDeceleration);
}

@-webkit-keyframes loading {
	0% { -webkit-transform: scale(0.1); opacity: 0; }
	50% { opacity: 1; }
	100% { -webkit-transform: scale(1); opacity: 0; } }

@-moz-keyframes loading {
	0% { -moz-transform: scale(0.1); opacity: 0; }
	50% { opacity: 1; }
	100% { -moz-transform: scale(1); opacity: 0; } }

@-ms-keyframes loading {
	0% { -ms-transform: scale(0.1); opacity: 0; }
	50% { opacity: 1; }
	100% { -ms-transform: scale(1); opacity: 0; } }

@-o-keyframes loading {
	0% { -o-transform: scale(0.1); opacity: 0; }
	50% { opacity: 1; }
	100% { -o-transform: scale(1); opacity: 0; } }

@keyframes loading {
	0% { transform: scale(0.1); opacity: 0; }
	50% { opacity: 1; }
	100% { transform: scale(1); opacity: 0; } }

/* MAP */

#photography > .map {
	z-index: 10;
	position: absolute;
	left: 0;
	top: $newGlobalHeaderHeight;
	width: 100%;
	@include calc (width, "100% - #{$sidebarWidth}");
	@include calc (height, "100% - #{$newGlobalHeaderHeight + $navigatorHeight}");
	background: $colour-black;
	@include transform (translateY(0));
	@include transition (all 0.5s $easeStandard);
}

#photography > .map.v-enter,
#photography > .map.v-leave-to {
	opacity: 0;
	@include transform (translateY(100%));
}

/* NAVIGATOR */

$navigatorPadding: 20px;
$selectorWidth: 300px;
$buttonSize: 16px;

#photography > .navigator {
	z-index: 20;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: $navigatorHeight;
	background: $colour-black;
}

#photography > .navigator > .details {
	position: absolute;
	left: 20px;
	top: 50%;
	list-style: none;
	@include transform(translateY(-50%));
}

#photography > .navigator > .details > .title {
	margin-bottom: 5px;
	font-size: 16px;
	line-height: 16px;
}

#photography > .navigator > .details > .index {
	font-size: 12px;
	line-height: 12px;
	color: $colour-greyDark;
}

#photography > .navigator > .buttons {
	position: absolute;
	right: $selectorWidth + ($navigatorPadding * 2);
	top: 50%;
	@include transform (translateY(-50%));
}

#photography > .navigator > .buttons:after {
	@include clearFix;
}

#photography > .navigator > .buttons > .button {
	float: left;
	display: block;
	margin-right: $navigatorPadding;
	font-size: 12px;
	line-height: 12px;
	text-align: center;
	color: $colour-greyDark;
	text-decoration: none;
}

#photography > .navigator > .buttons > .button:last-child {
	margin-right: 0;
}

#photography > .navigator > .buttons > .button:before {
	content: "";
	display: block;
	margin: 0 auto 5px auto;
	width: $buttonSize;
	height: $buttonSize;
	background: center center no-repeat transparent;
}

#photography > .navigator > .buttons > .button.map:before {
	background-image: url("../images/photography/map-button.svg");
}

#photography > .navigator > .buttons > .button.close:before {
	background-image: url("../images/photography/close-button.svg");
}

#photography > .navigator > .selector {
	position: absolute;
	right: $navigatorPadding;
	top: 50%;
	padding: 0 ((15px * 2) + 8px) 0 15px;
	width: $selectorWidth;
	height: 40px;
	font-size: 14px;
	color: $colour-greyDark;
	border-radius: 3px;
	border: none;
	background: url("../images/photography/select-arrow.svg") no-repeat #181818;
	@include calcBackgroundHorizontal("100% - 15px");
	@include removeStyling;
	@include transform (translateY(-50%));
}

#photography > .navigator > .selector:hover {
	cursor: pointer;
}

/* SIDEBAR */

#photography > .sidebar {
	z-index: 0;
	position: absolute;
	right: 0;
	top: 0;
	padding: 20px 0 20px 0;
	width: $sidebarWidth;
	@include calc (height, "100% - #{$navigatorHeight}");
	overflow: hidden;
	overflow-y: scroll;
	background: $colour-black;
}

#photography > .sidebar .sidebar-thumb {
	opacity: 0.25;
	display: block;
	margin: 0 auto 20px auto;
	width: 120px;
	height: 80px;
	background: center center no-repeat transparent;
	background-size: cover;
	@include transition (opacity 0.2s $easeStandard);
}

#photography > .sidebar .sidebar-thumb:last-child {
	margin-bottom: 0;
}

#photography > .sidebar .sidebar-thumb:hover {
	opacity: 0.5;
}

#photography > .sidebar .sidebar-thumb.current {
	opacity: 1;
}

@media (min-width: $mobileBreakpointLarge + 1px) {

	#photography > .navigator > .details,
	#photography > .sidebar {
		@include transition (opacity 0.2s $easeStandard);
	}

	#photography.mapOpen > .navigator > .details,
	#photography.mapOpen > .sidebar {
		opacity: 0.25;
		pointer-events: none;
	}

	/* SIDEBAR */

	#photography > .sidebar > .sidebar-wrapper {
		width: auto !important;
	}

}

@media (max-width: $mobileBreakpointLarge) {

	/* VARIABLES */

	$sidebarHeight: 50px;
	$navigatorHeight: 50px;

	/* OVERRIDES */

	$newGlobalHeaderHeight: 50px;

	.outer-content {
		background: $colour-black;
	}

	.global-header {
		padding-left: 10px;
		padding-right: 0;
		width: 100%;
	}

	.global-header,
	.global-header .title,
	.global-header .hamburger {
		height: $newGlobalHeaderHeight;
	}

	.global-header .hamburger {
		width: 60px;
	}

	.global-header .hamburger:before {
		background-image: url("/images/global/global-header-hamburger-light.svg");
	}

	/* MAIN */

	#photography {
		top: $newGlobalHeaderHeight;
		@include calc (height, "100% - #{$newGlobalHeaderHeight}");
	}

	/* NOTICE */

	#photography > .notice {
		pointer-events: none;
		z-index: 10;
		position: absolute;
		left: 0;
		bottom: $sidebarHeight + $navigatorHeight;
		padding: 5px;
		width: 100%;
		font-size: 10px;
		line-height: 10px;
		text-align: center;
		color: $colour-grey;
		background: rgba(0, 0, 0, 0.5);
	}

	/* VIEWER */

	#photography > .viewer {
		top: 0;
		bottom: auto;
		padding: 0;
		width: 100%;
		@include calc (height, "100% - #{$sidebarHeight + $navigatorHeight}");
	}

	#photography > .viewer > .viewer-photo {
		width: 100%;
		height: 100%;
	}

	#photography > .viewer > .arrow {
		width: 50%;
	}

	#photography > .viewer > .arrow:before {
		display: none;
	}

	/* MAP */

	#photography > .map {
		display: none;
	}

	/* NAVIGATOR */

	$navigatorPadding: 10px;

	#photography > .navigator {
		padding: $navigatorPadding;
		height: $navigatorHeight;
	}

	#photography > .navigator > .details {
		left: $navigatorPadding;
		padding-right: $navigatorPadding;
		@include calc (width, "45% - #{$navigatorPadding}");
	}

	#photography > .navigator > .details > .title,
	#photography > .navigator > .details > .index {
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}

	#photography > .navigator > .details > .title {
		margin-bottom: 2px;
		font-size: 12px;
		line-height: 12px;
	}

	#photography > .navigator > .details > .index {
		font-size: 10px;
		line-height: 10px;
	}

	#photography > .navigator > .buttons {
		display: none;
	}

	#photography > .navigator > .selector {
		right: $navigatorPadding;
		padding: 0 (($navigatorPadding * 2) + 8px) 0 $navigatorPadding;
		@include calc (width, "55% - #{$navigatorPadding}");
		height: 30px;
		font-size: 12px;
		@include calcBackgroundHorizontal("100% - #{$navigatorPadding}");
	}

	/* SIDEBAR */

	#photography > .sidebar {
		top: auto;
		bottom: $navigatorHeight;
		padding: 10px;
		width: 100%;
		height: $sidebarHeight;
		overflow-x: scroll;
		overflow-y: hidden;
	}

	#photography > .sidebar > .sidebar-wrapper:after {
		@include clearFix;
	}

	#photography > .sidebar .sidebar-thumb {
		float: left;
		margin-bottom: 0;
		margin-right: 10px;
		width: 50px;
		height: 30px;
	}

	#photography > .sidebar .sidebar-thumb:last-child {
		margin-right: 0;
	}

}
