@import "partial/constants";
@import "partial/colours";
@import "partial/mixins";

/* OVERRIDES */

body {
	color: #FFFFFF;
	background: #000000;
}

/* COMMON */

$scaleAmount: 0.25;

#photography,
#photography > #selection,
#photography > #album {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

#photography > #selection,
#photography > #album {
	background: #000000;
}

/* SELECTION */

#photography > #selection {
	z-index: 10;
	opacity: 1;
	margin: 0 auto 0 auto;
	padding: 100px 30px 100px 30px;
	will-change: transform;
	@include transform (scale(1) translateZ(0));
	@include transition (all 0.5s $easeStandard);
}

#photography > #selection.v-enter,
#photography > #selection.v-leave-to {
	opacity: 0;
	@include transform (scale(1 + $scaleAmount));
}

#photography > #selection > .album {
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 60px;
	display: inline-table;
	font-size: 0;
	@include calc (width, "(100% / 3) - 60px");
}

#photography > #selection > .album .preview {
	position: relative;
	margin-bottom: 30px;
	display: block;
}

#photography > #selection > .album .preview img {
	display: block;
	width: 100%;
	height: auto;
	border: none;
}

#photography > #selection > .album h2 {
	margin-bottom: 10px;
	font-size: 20px;
	line-height: 20px;
	font-weight: 500;
}

#photography > #selection > .album h2 a {
	color: inherit;
}

#photography > #selection > .album p {
	font-size: 12px;
	line-height: 12px;
	color: #B2B2B2;
}

/* ALBUM */

$viewerPadding: 40px;
$navigatorHeight: 80px;
$sidebarWidth: 160px;
$loadingSize: 60px;

#photography > #album {
	z-index: 0;
	will-change: transform;
	overflow: hidden;
	@include transform (scale(1) translateZ(0));
	@include transition (all 0.5s $easeStandard);
}

#photography > #album.v-enter,
#photography > #album.v-leave-to {
	@include transform (scale(1 - $scaleAmount));
}

/* VIEWER */

$viewerPadding: 40px;

#photography > #album > .viewer {
	z-index: 0;
	position: absolute;
	left: 0;
	top: 0;
	@include calc (width, "100% - #{$sidebarWidth}");
	@include calc (height, "100% - #{$navigatorHeight}");
}

#photography > #album > .viewer > .arrow {
	z-index: 10;
	position: absolute;
	top: 0;
	width: 20%;
	height: 100%;
}

#photography > #album > .viewer > .arrow:hover {
	cursor: pointer;
}

#photography > #album > .viewer > .arrow.prev {
	left: 0;
}

#photography > #album > .viewer > .arrow.next {
	right: 0;
}

#photography > #album > .viewer > .arrow:before {
	content: "";
	opacity: 0;
	position: absolute;
	top: 50%;
	margin-top: -(30px / 2);
	width: 30px;
	height: 50px;
	background: url("public/img/photography/viewer-arrow.svg") center center no-repeat transparent;
	@include transition (all 0.2s $easeStandard);
}

#photography > #album > .viewer > .arrow:hover:before {
	opacity: 0.5;
}

#photography > #album > .viewer > .arrow.prev:before {
	left: $viewerPadding + 40px;
	@include transform (translateX(0px));
}

#photography > #album > .viewer > .arrow.prev:hover:before {
	@include transform (translateX(-20px));
}

#photography > #album > .viewer > .arrow.next:before {
	right: $viewerPadding + (40px / 2);
	@include transform (translateX(0px) rotate(180deg));
}

#photography > #album > .viewer > .arrow.next:hover:before {
	@include transform (translateX(20px) rotate(180deg));
}

#photography > #album > .viewer > .viewer-photo {
	z-index: 0;
	position: absolute;
	left: $viewerPadding;
	top: $viewerPadding;
	@include calc (width, "100% - #{$viewerPadding + ($viewerPadding / 2)}"); // Half of the viewer padding as the padding of the sidebar is equal to half
	@include calc (height, "100% - #{$viewerPadding + ($viewerPadding / 2)}"); // Half of the viewer padding as the padding of the navigator is equal to half
	background: center center no-repeat transparent;
	background-size: contain;
	@include transition (opacity 0.2s $easeAcceleration);
}

#photography.loading > #album > .viewer > .viewer-photo {
	opacity: 0.5;
	@include transition (opacity 0.2s $easeDeceleration);
}

#photography.loading > #album > .viewer > .viewer-photo:before {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -($loadingSize / 2);
	margin-top: -($loadingSize / 2);
	width: $loadingSize;
	height: $loadingSize;
	border-radius: 50%;
	border: ($loadingSize / 10) solid #FFFFFF;
	@include animation (loading 1s infinite $easeDeceleration);
}

@-webkit-keyframes loading {
	0% { -webkit-transform: scale(0.1); opacity: 0; }
	50% { opacity: 1; }
	100% { -webkit-transform: scale(1); opacity: 0; } }

@-moz-keyframes loading {
	0% { -moz-transform: scale(0.1); opacity: 0; }
	50% { opacity: 1; }
	100% { -moz-transform: scale(1); opacity: 0; } }

@-ms-keyframes loading {
	0% { -ms-transform: scale(0.1); opacity: 0; }
	50% { opacity: 1; }
	100% { -ms-transform: scale(1); opacity: 0; } }

@-o-keyframes loading {
	0% { -o-transform: scale(0.1); opacity: 0; }
	50% { opacity: 1; }
	100% { -o-transform: scale(1); opacity: 0; } }

@keyframes loading {
	0% { transform: scale(0.1); opacity: 0; }
	50% { opacity: 1; }
	100% { transform: scale(1); opacity: 0; } }

/* GLOBE */

#photography > #album > .globe {
	z-index: 10;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	@include calc (height, "100% - #{$navigatorHeight}");
	background: #000000;
	@include transform (translateY(0));
	@include transition (all 0.5s $easeStandard);
}

#photography > #album > .globe.v-enter,
#photography > #album > .globe.v-leave-to {
	opacity: 0;
	@include transform (translateY(100%));
}

/* NAVIGATOR */

$navigatorPadding: 20px;
$selectorWidth: 300px;
$buttonSize: 16px;

#photography > #album > .navigator {
	z-index: 20;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: $navigatorHeight;
	background: #000000;
}

#photography > #album > .navigator > .details {
	position: absolute;
	left: 20px;
	top: 50%;
	list-style: none;
	@include transform(translateY(-50%));
}

#photography > #album > .navigator > .details > .title {
	margin-bottom: 5px;
	font-size: 16px;
	line-height: 16px;
}

#photography > #album > .navigator > .details > .index {
	font-size: 12px;
	line-height: 12px;
	color: #8C8C8C;
}

#photography > #album > .navigator > .buttons {
	position: absolute;
	right: $selectorWidth + ($navigatorPadding * 2);
	top: 50%;
	@include transform (translateY(-50%));
}

#photography > #album > .navigator > .buttons:after {
	@include clearFix;
}

#photography > #album > .navigator > .buttons > .button {
	opacity: 0.5;
	float: left;
	display: block;
	margin-right: $navigatorPadding;
	font-size: 12px;
	line-height: 12px;
	text-align: center;
	color: #FFFFFF;
	text-decoration: none;
}

#photography > #album > .navigator > .buttons > .button:last-child {
	margin-right: 0;
}

#photography > #album > .navigator > .buttons > .button:before {
	content: "";
	display: block;
	margin: 0 auto 5px auto;
	width: $buttonSize;
	height: $buttonSize;
	background: center center no-repeat transparent;
}

#photography > #album > .navigator > .buttons > .button.map:before {
	background-image: url("public/img/photography/map-button.svg");
}

#photography > #album > .navigator > .buttons > .button.close:before {
	background-image: url("public/img/photography/close-button.svg");
}

#photography > #album > .navigator > .buttons > .button.menu:before {
	background-image: url("public/img/photography/menu-button.svg");
}

#photography > #album > .navigator > .buttons > .button:hover {
	opacity: 1;
}

#photography > #album > .navigator > .selector {
	position: absolute;
	right: $navigatorPadding;
	top: 50%;
	padding: 0 15px 0 15px;
	width: $selectorWidth;
	height: 40px;
	font-size: 14px;
	color: #BABABA;
	border-radius: 3px;
	border: none;
	background: url("public/img/photography/select-arrow.svg") no-repeat #181818;
	@include calcBackgroundHorizontal("100% - 15px");
	@include removeStyling;
	@include transform (translateY(-50%));
}

#photography > #album > .navigator > .selector:hover {
	cursor: pointer;
	background-color: lighten(#181818, 5%);
}

/* SIDEBAR */

#photography > #album > .sidebar {
	z-index: 0;
	position: absolute;
	right: 0;
	top: 0;
	padding: 20px 0 20px 0;
	width: $sidebarWidth;
	@include calc (height, "100% - #{$navigatorHeight}");
	overflow: hidden;
	overflow-y: scroll;
	background: #000000;
}

#photography > #album > .sidebar > .sidebar-thumb {
	opacity: 0.25;
	display: block;
	margin: 0 auto 20px auto;
	width: 120px;
	height: 80px;
	background: center center no-repeat transparent;
	background-size: cover;
	@include transition (opacity 0.2s $easeStandard);
}

#photography > #album > .sidebar > .sidebar-thumb:last-child {
	margin-bottom: 0;
}

#photography > #album > .sidebar > .sidebar-thumb:hover {
	opacity: 0.5;
}

#photography > #album > .sidebar > .sidebar-thumb.current {
	opacity: 1;
}
