extends layout.pug

block variables
  - const section = 'about';
  - const pageTitle = 'About';

block styles
  link(rel='stylesheet' href='/sass/about.css')

block content
  main.about
    .wrapper
      h2
        .container Hello!
      p.large I am Sam, a web developer
      p I like to use Vue, Canvas, WebGL, SVG, SCSS, Node, Gulp, and Laravel
      p If you want to get in touch, feel free to email me
      h3 Awards &amp; Nominations
      ul
        li
          a(href='https://www.awwwards.com/sites/tng-fintech-group' target='_blank' rel='noopener noreferrer').external Awwwards
          | User Approved award (05<sup>th</sup> September 2017)
        li
          a(href='https://www.cssdesignawards.com/sites/tng-fintech-group/31268' target='_blank' rel='noopener noreferrer').external CSS Design Awards
          | Special Kudos award (05<sup>th</sup> September 2017)
