extends layout.pug

block variables
  - const section = 'about';
  - const pageTitle = 'About';

block styles
  link(rel='stylesheet' href='/sass/about.css')

block content
  main.about
    .wrapper
      h2 Hello!
      p.large I am Sam, a web developer. I love obsessing over optimisation, performance, and accessibility — using as few bytes &amp; requests to deliver silky-smooth experiences to as many people as possible.
      p I like to use Node, Vue, Canvas, WebGL/three.js, SVG, SCSS, and Laravel, to name a few.
      p If you want to get in touch, feel free to email me at #[a(href="mailto:sam@flamov.com?subject=Hello!") sam@flamov.com] You can also find me on #[a.external(href='https://github.com/Flamov' target='_blank' rel='noopener noreferrer') GitHub] and #[a.external(href='https://codepen.io/Flamov' target='_blank' rel='noopener noreferrer') Codepen].
      h3 Awards &amp; Nominations
      ul
        li
          a.external(href='https://www.awwwards.com/sites/tng-fintech-group' target='_blank' rel='noopener noreferrer') Awwwards
          |  – User Approved award (05<sup>th</sup> September 2017)
        li
          a.external(href='https://www.cssdesignawards.com/sites/tng-fintech-group/31268' target='_blank' rel='noopener noreferrer') CSS Design Awards
          |  – Special Kudos award (05<sup>th</sup> September 2017)
