extends layout.pug

block variables
  - const SECTION = 'home';

block styles
  link(rel='stylesheet' href='/sass/home.css')

block content
  section.work
    h1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam interdum odio nunc, non elementum mi hendrerit in. Nullam sollicitudin ipsum tincidunt velit pharetra accumsan. Morbi in nunc sapien.
    a.more Learn More
  section.journal
    h2 Journal
      a.more(href="#") Read More
    div.journal-item
      h3
        a(href="#") Donec tincidunt neque eu mauris sagittis suscipit
      p 25th July 2020
    div.journal-item
      h3
        a(href="#") Proin sed ligula nec augue fringilla tincidunt vitae vel leo
      p 25th July 2020
  section.photography
    h2 Photography
      a.more(href="#") View More
    .photography-item-wrapper
      figure.photography-item
        a(href="#")
          img(src="https://cdn.flamov.com/photography/kenya/kenya-1-full.jpg" alt="")
          figcaption='Lorem ipsum dolor sit amet'
      figure.photography-item
        a(href="#")
          img(src="https://cdn.flamov.com/photography/yunnan/yunnan-1-full.jpg" alt="")
          figcaption='Consectetur adipiscing elit'
      figure.photography-item
          a(href="#")
            img(src="https://cdn.flamov.com/photography/peak-district/peakdistrict-1-full.jpg" alt="")
            figcaption='Consectetur adipiscing elit'
