mixin icon-internal
  svg(width="13" height="24" viewBox="0 0 13 24" xmlns="http://www.w3.org/2000/svg")
    path(d="m.36798784 23.623468c.23592728.2411048.55573814.376532.8891837.376532.33344557 0 .65325643-.1354272.88918371-.376532l10.48565695-10.7291182c.2356336-.2414051.3679878-.5686415.3679878-.9098292s-.1323542-.668424-.3679878-.9098292l-10.48565695-10.72911819c-.32116477-.30621246-.77507627-.4190227-1.19773548-.2976738-.42265754.1213489-.75295573.45931612-.87155103.89178714-.1185953.43247273-.00834491.89692338.2909191 1.22554511l9.5964732 9.81928894-9.5964732 9.819289c-.23563368.2414051-.36798784.5686415-.36798784.9098292s.13235416.6684241.36798784.9098292z" fill-rule="evenodd")

mixin icon-external
  svg(width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg").arrow
    path(d="m22.6360833 19.3567582c.3666944 0 .7183717-.1456697.9776638-.4049618.259292-.2592921.4049618-.6109693.4049618-.9776638v-16.59150701c0-.36669443-.1456698-.7183717-.4049618-.97766377-.2592921-.25929208-.6109694-.40496182-.9776638-.40496182h-16.59150706c-.49396419 0-.95040576.26352659-1.19738878.69131279s-.24698302.95483939 0 1.38262559.70342459.69131279 1.19738878.69131279h13.25477066l-18.84057803 18.84057803c-.27446777.2557507-.43322637.612057-.44005999.9871522-.00640271.3750971.13968735.7367809.40496343 1.0020552.26527423.265276.62695802.4113661 1.00205512.4049634.37509526-.0068336.73140157-.1655922.98715227-.44006l18.840578-18.840578v13.2547706c0 .7632094.6194163 1.3826256 1.3826256 1.3826256z" fill-rule="evenodd")

mixin icon-github
  svg(width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg").logo
    path(d="M12,0A12,12,0,0,0,8.21,23.39c.6.11.82-.26.82-.58s0-1,0-2c-3.34.73-4-1.61-4-1.61A3.18,3.18,0,0,0,3.64,17.4c-1.09-.74.08-.73.08-.73a2.52,2.52,0,0,1,1.84,1.24,2.55,2.55,0,0,0,3.49,1,2.56,2.56,0,0,1,.76-1.6C7.15,17,4.34,16,4.34,11.37A4.64,4.64,0,0,1,5.58,8.15,4.32,4.32,0,0,1,5.7,5s1-.32,3.3,1.23a11.37,11.37,0,0,1,6,0C17.3,4.65,18.3,5,18.3,5a4.31,4.31,0,0,1,.12,3.18,4.63,4.63,0,0,1,1.23,3.22c0,4.61-2.81,5.62-5.48,5.92A2.86,2.86,0,0,1,15,19.52c0,1.6,0,2.9,0,3.29s.22.69.83.58A12,12,0,0,0,12,0Z")

mixin icon-codepen
  svg(width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg").logo
    polygon(points="5.86 10.93 5.86 13.07 7.45 12 5.86 10.93")
    polygon(points="11.36 9.38 11.36 6.41 6.37 9.74 8.6 11.23 11.36 9.38")
    polygon(points="17.63 9.74 12.64 6.41 12.64 9.38 15.4 11.23 17.63 9.74")
    polygon(points="6.37 14.26 11.36 17.59 11.36 14.62 8.6 12.77 6.37 14.26")
    polygon(points="12.64 14.62 12.64 17.59 17.63 14.26 15.4 12.77 12.64 14.62")
    polygon(points="12 10.49 9.74 12 12 13.51 14.26 12 12 10.49")
    path(d="M12,0A12,12,0,1,0,24,12,12,12,0,0,0,12,0Zm7.42,14.26a.63.63,0,0,1,0,.08v.11l0,0v0l0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0h0l-6.78,4.52a.64.64,0,0,1-.71,0L4.86,14.79h0l0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0v0l0,0v-.11a.63.63,0,0,1,0-.08V9.74a.62.62,0,0,1,0-.08V9.54l0,0v0l0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0h0l6.78-4.52a.64.64,0,0,1,.71,0l6.78,4.52h0l0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0v0l0,0v.11a.62.62,0,0,1,0,.08Z")
    polygon(points="18.14 13.07 18.14 10.93 16.55 12 18.14 13.07")
