block variables
- const PAGE_TITLE = "Portfolio";
- const PAGE_DESCRIPTION = "Web development and design portfolio."

doctype html
html(lang="en")

  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1, user-scalable=no")
    meta(name="description" content=(PAGE_DESCRIPTION))
    meta(name="subject" content=(PAGE_DESCRIPTION))
    title=(PAGE_TITLE)
    script(src="../../scripts/main.ts" type="module" async defer)
    base(href="/")

  body(class=PAGE_SECTION)
    style.
      @import "../../styles/main.scss";
    nav.header
      a(href="/" class=(PAGE_SECTION === "home" ? "active" : false)).link Home
      a(href="/photography" class=(PAGE_SECTION === "photography" ? "active" : false)).link Photography
    main
      block main
