block variables

doctype html
html

  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport" content="user-scalable=no, width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, target-densitydpi=device-dpi")
    title Flamov Portfolio
    link(rel="stylesheet" href="/sass/global.css")
    block styles

  body
    .outer-wrapper
      .outer-overlay.js-overlay
      .outer-menu
        include partials/menu
      .outer-content
        header.global-header
          .container
            h1.title
              a(href="#") Sam's Portfolio
            nav
              include partials/menu
            a.hamburger.js-menu(href="#")
              svg(xmlns="http://www.w3.org/2000/svg" width="40" height="16" viewBox="0 0 40 16")
                path.open(d="m39 16h-28a1 1 0 0 1 0-2h28a1 1 0 0 1 0 2zm1-8a1 1 0 0 0 -1-1h-33a1 1 0 0 0 0 2h33a1 1 0 0 0 1-1zm0-7a1 1 0 0 0 -1-1h-38a1 1 0 0 0 0 2h38a1 1 0 0 0 1-1z")
                path.close(d="m39.69 14.05a1.22 1.22 0 0 1 0 1.62 1.06 1.06 0 0 1 -.76.33 1 1 0 0 1 -.76-.33l-5.67-6.05-5.67 6.05a1 1 0 0 1 -.76.33 1.06 1.06 0 0 1 -.76-.33 1.22 1.22 0 0 1 0-1.62l5.69-6.05-5.69-6a1.22 1.22 0 0 1 0-1.62 1 1 0 0 1 1.52 0l5.67 6 5.67-6a1 1 0 0 1 1.52 0 1.22 1.22 0 0 1 0 1.62l-5.69 6z")
        block content
        footer.global-footer
          p Copyright &copy; Flamov.com 2005-2017
          p.small All logos, images, and trademarks used on this website are property of their respective owners.
    canvas.outer-background.js-stars
    script(src="/js/menu.js" async)
    block scripts
