extends layout.pug

block variables
  - const section = 'photography';
  - const pageTitle = 'Photography';
  - const pageDescription = 'Photography portfolio and albums.';

block styles
  link(rel='stylesheet' href='/sass/photography.css')

block scripts
  script(src='/js/photography.js' async)

block content
  main.photography.js-photography
    .viewer
      a.arrow.prev.js-arrow(href='#', data-target='prev', title="Previous photo")
        svg.icon(xmlns='http://www.w3.org/2000/svg' width='16' height='28' viewBox='0 0 16 28')
          path(d='m0 14a2 2 0 0 1 .59-1.41l12-12a2 2 0 0 1 2.82 0 2 2 0 0 1 0 2.82l-10.58 10.59 10.58 10.59a2 2 0 0 1 -2.82 2.82l-12-12a2 2 0 0 1 -.59-1.41z')
      a.arrow.next.js-arrow(href='#' data-target='next', title="Next photo")
        svg.icon(xmlns='http://www.w3.org/2000/svg' width='16' height='28' viewBox='0 0 16 28')
          path(d='m0 14a2 2 0 0 1 .59-1.41l12-12a2 2 0 0 1 2.82 0 2 2 0 0 1 0 2.82l-10.58 10.59 10.58 10.59a2 2 0 0 1 -2.82 2.82l-12-12a2 2 0 0 1 -.59-1.41z')
      .viewer-photo.js-viewer
    .sidebar.js-sidebar
      .sidebar-wrapper.js-sidebar-wrapper
    .navigator
      ul.details
        li.header.js-header
        li.subheader.js-subheader
      label(for="albums", title="Albums").albums-label
        select.albums.js-albums#albums
          optgroup(label='Albums')
