extends layout.pug

block styles
  link(rel="stylesheet" href="/sass/photography.css")

block scripts
  script(src="/js/photography.js" async)

block content
  .photography.js-photography
    .viewer
      a.arrow.prev.js-prev(href="#")
      a.arrow.next.js-next(href="#")
      .viewer-photo.js-viewer
    .sidebar.js-sidebar
      .sidebar-wrapper.js-sidebar-wrapper
    .navigator
      ul.details
        li.header.js-header
        li.subheader.js-subheader
      select.albums.js-albums
        optgroup(label="Albums")
