extends layout.pug

block variables
  - const section = 'photography';

block styles
  link(rel="stylesheet" href="/sass/photography.css")

block scripts
  script(src="/js/photography.js" async)

block content
  .photography.js-photography
    .viewer
      a.arrow.prev.js-arrow(href="#", data-target="prev")
        svg.icon(xmlns="http://www.w3.org/2000/svg" width="16" height="28" viewBox="0 0 16 28")
          path(d="m0 14a2 2 0 0 1 .59-1.41l12-12a2 2 0 0 1 2.82 0 2 2 0 0 1 0 2.82l-10.58 10.59 10.58 10.59a2 2 0 0 1 -2.82 2.82l-12-12a2 2 0 0 1 -.59-1.41z")
      a.arrow.next.js-arrow(href="#" data-target="next")
        svg.icon(xmlns="http://www.w3.org/2000/svg" width="16" height="28" viewBox="0 0 16 28")
          path(d="m0 14a2 2 0 0 1 .59-1.41l12-12a2 2 0 0 1 2.82 0 2 2 0 0 1 0 2.82l-10.58 10.59 10.58 10.59a2 2 0 0 1 -2.82 2.82l-12-12a2 2 0 0 1 -.59-1.41z")
      .viewer-photo.js-viewer
    .sidebar.js-sidebar
      .sidebar-wrapper.js-sidebar-wrapper
    .navigator
      ul.details
        li.header.js-header
        li.subheader.js-subheader
      select.albums.js-albums
        optgroup(label="Albums")
