extends ../project.pug

block body

  p We were commissioned by the Hong Kong Jockey Club to develop a photo printing booth that would use iPads to print photos in real-time. Users would be able to use the iPads to search for and select photos they had posted on social media. The photo would be sent wirelessly to a printer nearby where it would be printed instantaneously.

  h3 iPad App

  p We developed the iPad app using #[a.external(href='https://cordova.apache.org/' target='_blank' rel='noopener noreferrer') Cordova]. The app would send a HTTP #[code GET] request to the #[a.external(href='http://www.wayin.com' target='_blank' rel='noopener noreferrer') Wayin] API service which would return a list of all the social media images of the event posted under a set of hashtags related to the event.

  +project-image({
    src: 'https://cdn.flamov.com/projects/hkjc/hkjc-image-selection.jpg',
    alt: 'Screenshot of the iPad app\'s image selection page.',
    size: 'small'
  })

  +project-caption({
    image: 'https://cdn.flamov.com/projects/hkjc/hkjc-image-photo.jpg',
    alt: 'Screenshot of the iPad app with an image open.'
  })
    | Tapping the 'print' button would send a HTTP #[code POST] request to the printing server with the image URL and a random printer ID.

  h3 Printing Server

  p The printing server was run on several laptops connected to high-speed photo printers. The server was built using #[a.external(href='https://www.angularjs.org/' target='_blank' rel='noopener noreferrer') AngularJS] that would listen for HTTP requests respective to its printer ID on the local area network. Requests would be added to a queue which filtered duplicate requests.

  p The apps ran in Firefox using the 'kiosk' and 'silent printing' modes, which allowed print requests to be sent to the OS-level printing service without showing any dialogue boxes or notifications. Firefox also allowed for the adjustment of printing parameters such as sizing and spacing, which was cruical to printing on photo-sized paper.

  p Printing images was achieved by directly printing a local webpage rendered by AngularJS containing the image next in the queue, and using the native #[code window.print()] method. A CSS3 #[code @media print] media query ensured the webpage and photo was sized and positioned correctly.
