extends ../project.pug

block body

  p Phonics Hero is an iPad app that contains games that help with synthetic phonics.

  p The games were made using the HTML5 #[code canvas] API. We used #[a.external(href="https://www.greensock.com/tweenmax" target="_blank" rel="noopener noreferrer") TweenMax] for the animations and #[a.external(href="http://www.createjs.com/" target="_blank" rel="noopener noreferrer") CreateJS] for audio and touch events, wrapped in a mobile app using #[a.external(href="https://cordova.apache.org/" target="_blank" rel="noopener noreferrer") Cordova].

  +project-image({
    src: "https://cdn.flamov.com/projects/phonics-hero/phonics-hero-image-game.jpg",
    alt: "Screenshot of one of the app's games",
    size: "small"
  })
