extends ../project.pug

block body

  p After the controversial announcement of the video game <i>Left 4 Dead 2</i> in early June of 2009, I, along with two friends Brad and Saurabh, created the Steamchat podcast (formerly "Steamcast"). The show was born from community voices, and therefore it was created and dedicated to the community, reguarly featuing listeners, developers, and designers are guests, with interviews being conducted entierly using listener-submitted questions.

  p The website was built with Laravel which provided convenient model, controller, and routing methods, useful for episode navigation and categorization. The front-page episode player was built with Vue, Axios, and the HTM5 audio API. Audio progress was represented by a full-width overlay spanning the header image, where visitors could click anywhere horizontally to seek the audio.

  +project-caption({
    image: 'https://cdn.flamov.com/projects/steamchat/steamchat-image-player.png',
    caption: 'The front-page episode player features a dramatic overlapping image. Clicking the play button on an episode would dynamically change the player audio and image.',
    alt: 'Screenshot of the front page and the episode player.'
  })
