extends ../project.pug

block body

  p We were commissioned to develop a Facebook Page app where users could upload their photos, edit and decorate them, and then submit them to a galley, for both desktop and mobile devices.

  +project-image({
    src: "https://cdn.flamov.com/projects/steve-madden/steve-madden-image-frontpage.jpg",
    alt: "Screenshot of the front-page of the app.",
    size: "small"
  })

  +project-caption({
    image: "https://cdn.flamov.com/projects/steve-madden/steve-madden-image-upload.jpg",
    alt: "Screenshot of the app showing the image upload section."
  })
    | Users could upload images which were previewed on the front-end by using the #[code new FileReader] API and #[code readAsDataURL] method.

  +project-caption({
    image: "https://cdn.flamov.com/projects/steve-madden/steve-madden-image-edit.jpg",
    alt: "Screenshot of the app showing the image decoration and manipulation controls."
  })
    | Photos could be rotated, scaled, and decorated with a selection of frames on the front-end. Once submitted, the front-end would pass image manipulation values to the PHP back-end, which would use methods such as <code>imagealphablending</code> and <code>imagefill</code> in order to render the final bitmap image file.

  +project-caption({
    image: "https://cdn.flamov.com/projects/steve-madden/steve-madden-image-gallery.jpg",
    caption: "The gallery showed the uploaded images. Users could 'Like' and share the images using the Facebook Graph API.",
    alt: "Screenshot of the app showing the gallery."
  })
