header.global-header
  .container
    h1.title
      a(href='/') Sam's Portfolio
    nav
      include menu
    a.hamburger.js-menu(href='#' title='Menu')
      svg(xmlns='http://www.w3.org/2000/svg' width='40' height='16' viewBox='0 0 40 16')
        path.open(d='m39 16h-28a1 1 0 0 1 0-2h28a1 1 0 0 1 0 2zm1-8a1 1 0 0 0 -1-1h-33a1 1 0 0 0 0 2h33a1 1 0 0 0 1-1zm0-7a1 1 0 0 0 -1-1h-38a1 1 0 0 0 0 2h38a1 1 0 0 0 1-1z')
        path.close(d='m39.69 14.05a1.22 1.22 0 0 1 0 1.62 1.06 1.06 0 0 1 -.76.33 1 1 0 0 1 -.76-.33l-5.67-6.05-5.67 6.05a1 1 0 0 1 -.76.33 1.06 1.06 0 0 1 -.76-.33 1.22 1.22 0 0 1 0-1.62l5.69-6.05-5.69-6a1.22 1.22 0 0 1 0-1.62 1 1 0 0 1 1.52 0l5.67 6 5.67-6a1 1 0 0 1 1.52 0 1.22 1.22 0 0 1 0 1.62l-5.69 6z')
