@mixin clearFix {
  content: "";
  display: table;
  clear: both;
}

@mixin removeStyling {
  -webkit-appearance: none;
  apperance: none;
  outline: none;
}

@mixin lineHeight ($fontSize) {
  line-height: $fontSize * 1.618;
}
