html {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  color: $colour-text;
  background: $colour-background;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  color: inherit;
}

aside,
section,
main,
nav,
header,
footer {
  display: block;
}
