/* COLOURS */

$colour-white: #FFFFFF;
$colour-greyLight: #EEEEEE;
$colour-grey: #8C8C8C;
$colour-greyDark: #757575;
$colour-text: #212121;
$colour-black: #000000;

$colour-background: #ECEFF1;

$colour-purple: #9C27B0;
$colour-green: #69F0AE;

/* EASING */

$easeStandard: cubic-bezier(0.4, 0.0, 0.2, 1);
$easeDeceleration: cubic-bezier(0.0, 0.0, 0.2, 1);
$easeAcceleration: cubic-bezier(0.4, 0.0, 1, 1);
$easeSharp: cubic-bezier(0.4, 0.0, 0.6, 1);
$easeQuad: cubic-bezier(0.455, 0.030, 0.515, 0.955);

/* SIZES */

$maxWidth: 1100px;
$contentWidth: 680px;

/* SPACING AND PADDING */

$paddingLarge: 40px;
$spacingLarge: $paddingLarge + ($paddingLarge / 2);
$paddingSmall: 20px;
$spacingSmall: $paddingSmall + ($paddingSmall / 2);

/* BREAKPOINTS */

$mobileBreakpointLarge: 800px;
$mobileBreakpointSmall: 600px;
