// Sizes

$maxWidth: 700px;
$maxWidthExtra: 1000px;

$spacingL: 25px;
$spacingM: 15px;
$spacingS: 10px;

$breakpointLarge: 800px;
$breakpointSmall: 550px;

// Colors

$colorPrimary: #FFFFFF;
$colorPrimaryAlt: #999999;
$colorSecondary: #803CFF;
$colorSecondaryAlt: #7120EB;
$colorSpecial: #F72585;
$colorBackground: #000;
$colorBackgroundAlt: #171717;
$colorLine: #2B2B2B;

// Fonts

$fontSansSerif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$fontMonospace: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;

$fontSizeXL: 46px;
$fontSizeL: 32px;
$fontSizeM: 20px;
$fontSizeS: 16px;
$fontSizeXS: 14px;

// Animations / transitions

$easeStandard: cubic-bezier(.4, 0, .2, 1);
$easeInOutCubic: cubic-bezier(.65, 0, .35, 1);
