$maxWidth: 800px;
$maxWidthExtra: 1000px;

$easeStandard: cubic-bezier(.4, 0, .2, 1);

$spacingLarge: 25px;
$spacingMedium: 20px;
$spacingSmall: 10px;

$maxWidth: 700px;
$maxWidthExtra: 1000px;

$breakpointLarge: 600px;
$breakpointMedium: 1000px;

$fontMain: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$fontMonospace: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;

$colorPrimary: #FFFFFF;
$colorPrimaryAlt: #B8B8B8;
$colorSecondary: #803CFF;
$colorSecondaryAlt: #6614E1;
$colorBackground: #171717;
$colorBackgroundAlt: #111;
