$maxWidth: 800px;
$easeStandard: cubic-bezier(.4, 0, .2, 1);
$spacingLarge: 50px;

$fontMain: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$fontMonospace: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;

$colorPrimary: #FFFFFF;
$colorPrimaryAlt: #B8B8B8;
$colorSecondary: #803CFF;
$colorSecondaryAlt: #6614E1;
$colorBackground: #171717;
$colorBackgroundAlt: #111;
