@import "constants";

$line-size: 6px;
$line-color: rgba($color-primary-alt, .3);

%line {
  content: "";
  display: block;
  height: $line-size;
  border-radius: $line-size;
  background: $line-color;
}

%line-vertical {
  width: $line-size;

  @extend %line;
}

$box-border-radius: 10px;
$box-padding: 20px;

%box {
  padding: $box-padding;
  border-radius: $box-border-radius;
  background: $color-background-alt;
}

%font-main {
  font-family: $font-main;
}

%font-monospace {
  font-family: $font-monospace;
}
