@import "constants";

@mixin breakpoint($size) {
  @if $size == "large" {
    @media screen and (min-width: $breakpointLarge + 1px) {
      @content;
    }
  }

  @else if $size == "medium" {
    @media screen and (min-width: $breakpointSmall + 1px) and (max-width: $breakpointLarge) {
      @content;
    }
  }

  @else if $size == "small" {
    @media screen and (max-width: $breakpointSmall) {
      @content;
    }
  }
}

$lineSize: 6px;

%line {
  content: "";
  display: block;
  height: $lineSize;
  border-radius: $lineSize;
  background: $colorLine;
}

%lineVertical {
  width: $lineSize;

  @extend %line;
}

$boxBorderRadius: 10px;
$boxPadding: 20px;

%box {
  padding: $boxPadding;
  border-radius: $boxBorderRadius;
  background: $colorBackgroundAlt;
  overflow: hidden;

  @include breakpoint("medium") {
    padding: $spacingM;
  }

  @include breakpoint("small") {
    padding: $spacingS;
  }
}

%fontSansSerif {
  font-family: $fontSansSerif;
}

%fontMonospace {
  font-family: $fontMonospace;
}

@function fontSize($size) {
  @return ($size / 10px) * 1rem;
}

@function lineHeight($size) {
  @return fontSize($size) * 1.6;
}
