@import "constants";

@import "mixins";

html {
  font-size: (10px / 16px) * 100%;
  line-height: 1.5;
}

body {
  font-size: fontSize(16px);

  @extend %fontMain;
}

pre,
code {
  @extend %fontMonospace;
}
