@import "constants";

@import "mixins";

html {
  $baseFontSize: (10px / 16px) * 100%;

  font-size: $baseFontSize;
  line-height: 1.5;

  @include breakpoint("medium") {
    font-size: $baseFontSize * .9;
  }

  @include breakpoint("small") {
    font-size: $baseFontSize * .8;
  }
}

body {
  font-size: fontSize(16px);
  font-weight: 500;

  @extend %fontSansSerif;
}

pre,
code {
  @extend %fontMonospace;
}

a {
  font-weight: 700;
  text-decoration: underline;

  &:hover {
    color: $colorSecondary;
  }
}
