@import url("https://fonts.googleapis.com/css2?family=Manuale&family=Playfair+Display:wght@400;700&family=Roboto+Mono:ital@0;1&display=swap");

body {
  font-family: "Manuale", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

pre,
code {
  font-family: "Roboto Mono", monospace;
}
