/* EASING */
/* SIZES */
/* SPACING AND PADDING */
/* BREAKPOINTS */
/* HOME */
.home {
  position: relative;
  margin: 0 auto;
}
.home:before {
  content: "";
  z-index: 0;
  position: absolute;
  left: 0;
  bottom: 20%;
  width: 100%;
  height: 400px;
  background: #69F0AE;
  transform: skewY(15deg);
}

/* FEATURED */
.home > .featured,
.home > .featured > .container {
  position: relative;
}

.home > .featured {
  z-index: 0;
  position: relative;
  margin: 40px 0 80px 0;
  padding: 40px 0;
  height: auto;
}
.home > .featured:before, .home > .featured:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}
.home > .featured:before {
  z-index: 10;
  top: 0;
  background: #9C27B0;
  transform: skeyY(2deg);
}
.home > .featured:after {
  z-index: 0;
  bottom: -12%;
  width: 100%;
  height: 100%;
  background: #69F0AE;
  transform: skewY(-12deg);
}
.home > .featured > .container {
  z-index: 20;
  position: relative;
  display: table;
  table-layout: fixed;
  margin: 0 auto;
  padding: 0 40px;
  width: 100%;
  max-width: 1180px;
}
.home > .featured > .container > .text,
.home > .featured > .container > .preview {
  display: table-cell;
  vertical-align: middle;
}
.home > .featured > .container > .text {
  padding-right: 40px;
}
.home > .featured a,
.home > .featured p {
  color: #F3E5F5;
}
.home > .featured h2 {
  margin-bottom: 10px;
  font-size: 46px;
  line-height: 46px;
}
.home > .featured h2 a {
  display: block;
  text-decoration: none;
}
.home > .featured p {
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 36px;
}
.home > .featured .links > a.link {
  margin-right: 20px;
}
.home > .featured .links > a.link:last-child {
  margin-right: 0;
}
.home > .featured .links > a.link:before {
  background-color: rgba(243, 229, 245, 0.2);
}
.home > .featured .links > a.link:after {
  background-color: #F3E5F5;
}
.home > .featured .links > a.link > .icon {
  fill: #FFFFFF;
}
.home > .featured .technologies {
  margin-top: 40px;
  list-style: none;
}
.home > .featured .technologies:after {
  content: "";
  display: table;
  clear: both;
}
.home > .featured .technologies > li {
  float: left;
  margin-right: 10px;
  font-size: 18px;
  line-height: 18px;
  font-style: italic;
  color: rgba(243, 229, 245, 0.8);
}
.home > .featured .technologies > li:last-child {
  margin-right: 0;
}
.home > .featured .preview {
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  background: #FFFFFF;
  box-shadow: 0 0 15px 8px rgba(0, 0, 0, 0.1);
}
.home > .featured .preview:before {
  content: "";
  display: block;
  padding-top: 62.5%;
}
.home > .featured .preview > .preview-image {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}
.home > .featured .preview > .preview-image:not([src]) {
  visibility: hidden;
}
.home > .featured .preview > .preview-image.loaded {
  opacity: 1;
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

/* LIST */
.home > .list {
  z-index: 10;
  position: relative;
  margin: 0 auto;
  padding: 0 40px;
  max-width: 1060px;
}
.home > .list + .list {
  margin-top: 0;
}

.home > .list > .project {
  z-index: 10;
  display: block;
  margin-bottom: 40px;
  max-width: 470px;
  background: #FFFFFF;
  box-shadow: 2px 8px 20px 0 rgba(31, 32, 68, 0.25);
}
.home > .list > .project .image {
  display: block;
}
.home > .list > .project .preview {
  position: relative;
  display: block;
}
.home > .list > .project .preview:before {
  content: "";
  display: block;
  padding-top: 62.5%;
}
.home > .list > .project .preview > .preview-image {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}
.home > .list > .project .preview > .preview-image:not([src]) {
  visibility: hidden;
}
.home > .list > .project .preview > .preview-image.loaded {
  opacity: 1;
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.home > .list > .project > .text {
  padding: 40px;
}
.home > .list > .project h2 {
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 32px;
}
.home > .list > .project h2 a {
  display: block;
  color: inherit;
  text-decoration: none;
}
.home > .list > .project p {
  margin-bottom: 20px;
}
.home > .list > .project .links > a.link {
  margin-right: 20px;
}
.home > .list > .project .links > a.link:last-child {
  margin-right: 0;
}
.home > .list > .project .technologies {
  margin-top: 40px;
  list-style: none;
}
.home > .list > .project .technologies:after {
  content: "";
  display: table;
  clear: both;
}
.home > .list > .project .technologies > li {
  float: left;
  margin: 10px 10px 0 0;
  font-size: 16px;
  line-height: 16px;
  font-style: italic;
  color: #757575;
}
.home > .list > .project .technologies > li:last-child {
  margin-right: 0;
}

@media (max-width: 800px) {
  .home > .featured > .container {
    display: block;
  }
  .home > .featured > .container > .text,
.home > .featured > .container > .preview {
    display: block;
  }
  .home > .featured > .container > .text {
    padding-right: 0;
    padding-top: 265px;
  }
  .home > .featured .preview {
    position: absolute;
    left: 40px;
    top: 0;
    display: block;
    width: 360px;
    height: 225px;
  }
  .home > .featured .preview:before {
    content: none;
    display: none;
  }
  .home > .featured .preview > .preview-image {
    position: static;
  }
}
@media (min-width: 601px) {
  .home > .list {
    margin-top: 60px;
  }
  .home > .list:after {
    content: "";
    display: table;
    clear: both;
  }

  .home > .list > .project {
    width: 50%-20px;
  }

  .home > .list.columns > .project {
    position: absolute;
    margin-bottom: 0;
    width: calc(50% - 60px);
  }
  .home > .list.columns > .project:nth-child(odd) {
    clear: both;
    float: left;
    left: 40px;
  }
  .home > .list.columns > .project:nth-child(even) {
    float: right;
    right: 40px;
  }
}
@media (max-width: 600px) {
  .home > .featured {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10% 0;
  }
  .home > .featured:before {
    transform: skewY(4deg);
  }
  .home > .featured:after {
    z-index: 0;
    bottom: -8%;
    transform: skewY(-20deg);
  }
  .home > .featured > .container {
    padding: 0 20px;
    max-width: 500px;
  }
  .home > .featured > .container > .text {
    padding-top: 195px;
  }
  .home > .featured h2 {
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 24px;
  }
  .home > .featured p {
    margin-bottom: 20px;
    font-size: inherit;
    line-height: inherit;
  }
  .home > .featured .technologies {
    margin-top: 30px;
  }
  .home > .featured .technologies > li {
    margin-right: 5px;
    font-size: 12px;
    line-height: 12px;
  }
  .home > .featured .preview {
    left: 20px;
    width: 280px;
    height: 175px;
  }

  .home > .list {
    margin-top: 30px;
    padding: 0 20px;
    width: auto;
  }

  .home > .list > .project {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
  .home > .list > .project > .text {
    padding: 20px;
  }
  .home > .list > .project h2 {
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 24px;
  }
  .home > .list > .project .technologies {
    margin-top: 30px;
  }
  .home > .list > .project .technologies > li {
    margin: 5px 5px 0 0;
    font-size: 12px;
    line-height: 12px;
  }
}

/*# sourceMappingURL=/home.css.map */