/* EASING */
/* SIZES */
/* SPACING AND PADDING */
/* BREAKPOINTS */
/* OVERRIDES */
body {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: #FFFFFF;
  background: #000000;
}

.main-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.main-container > .inner-content {
  background: #000000;
}

.global-header {
  z-index: 30;
  position: relative;
  width: calc(100% - 160px);
  height: 50px;
}
.global-header > .container {
  margin-left: 0;
  padding: 0 0 0 20px;
}
.global-header svg {
  fill: #757575;
}
.global-header a,
.global-header .title > a {
  font-size: 16px;
}
.global-header a {
  height: 50px;
  color: #757575;
}
.global-header a > span {
  padding: 2px;
  border-bottom-color: transparent;
}
.global-header a:hover > span, .global-header a.current > span {
  border-bottom-color: #353535;
}
.global-header .links {
  display: none;
}
.global-header .hamburger {
  padding: 0 20px;
}

.global-footer {
  display: none;
}

/* MAIN */
.photography {
  z-index: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "Raleway", Helvetica, Verdana, sans-serif;
  background: #000000;
}

.photography > .viewer {
  z-index: 0;
  position: absolute;
  left: 0;
  bottom: 80px;
  padding: 20px 0 20px 20px;
  background: #000000;
  width: calc(100% - 160px);
  height: calc(100% - 130px);
}
.photography > .viewer > .arrow {
  z-index: 10;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 100%;
}
.photography > .viewer > .arrow > .icon {
  opacity: 0;
  display: block;
  width: 16px;
  height: auto;
  fill: #8C8C8C;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.photography > .viewer > .arrow:hover .icon {
  opacity: 0.5;
}
.photography > .viewer > .arrow.prev {
  left: 0;
  padding-left: 40px;
}
.photography > .viewer > .arrow.prev .icon {
  margin-right: auto;
  transform: translateX(20px);
}
.photography > .viewer > .arrow.prev:hover .icon {
  transform: translateX(0px);
}
.photography > .viewer > .arrow.next {
  right: 0;
  padding-right: 20px;
}
.photography > .viewer > .arrow.next .icon {
  margin-left: auto;
  transform: translateX(-20px) rotate(-180deg);
}
.photography > .viewer > .arrow.next:hover .icon {
  transform: translateX(0) rotate(-180deg);
}
.photography > .viewer > .viewer-photo {
  z-index: 0;
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 1024px;
  max-height: 1024px;
  background: center center no-repeat transparent;
  background-size: contain;
}

/* NAVIGATOR */
.photography > .navigator {
  z-index: 20;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0 20px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  background: #000000;
}
.photography > .navigator > .details {
  list-style: none;
}
.photography > .navigator > .details > .header {
  padding-bottom: 5px;
  font-size: 16px;
  line-height: 16px;
}
.photography > .navigator > .details > .subheader {
  font-size: 12px;
  line-height: 12px;
  color: #8C8C8C;
}
.photography > .navigator > .albums {
  margin-left: auto;
  padding: 0 45px 0 15px;
  width: 300px;
  height: 40px;
  font-size: 14px;
  color: #8C8C8C;
  border-radius: 3px;
  border: 0;
  background: url("/img/photography/albums-arrow.svg") no-repeat #181818;
  background-position: calc(100% - 15px) center;
  -webkit-appearance: none;
  apperance: none;
  outline: none;
}
.photography > .navigator > .albums:hover {
  cursor: pointer;
}

/* SIDEBAR */
.photography > .sidebar {
  z-index: 30;
  position: absolute;
  right: 0;
  top: 0;
  width: 160px;
  height: calc(100% - 80px);
  overflow: hidden;
  overflow-y: scroll;
  background: #000000;
}
.photography > .sidebar .thumbnail {
  opacity: 0.5;
  display: block;
  margin: 0 auto 20px;
  width: 120px;
  height: 80px;
  background: center center no-repeat #757575;
  background-size: cover;
  overflow: hidden;
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.photography > .sidebar .thumbnail:first-child {
  margin-top: 20px;
}
.photography > .sidebar .thumbnail.current, .photography > .sidebar .thumbnail:hover {
  opacity: 1;
}
.photography > .sidebar .thumbnail img {
  opacity: 0;
  display: block;
  width: 100%;
  height: auto;
}
.photography > .sidebar .thumbnail img:not([src]) {
  visibility: hidden;
}
.photography > .sidebar .thumbnail img.loaded {
  opacity: 1;
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

@media (max-width: 800px) {
  /* OVERRIDES */
  .global-header {
    width: 100%;
  }
  .global-header > .container {
    padding-left: 10px;
  }
  .global-header .hamburger {
    padding: 0 10px;
  }

  /* MAIN */
  .photography {
    top: 50px;
    height: calc(100% - 50px);
  }

  /* VIEWER */
  .photography > .viewer {
    z-index: 20;
    bottom: auto;
    padding: 0;
    width: 100%;
    height: calc(100% - 100px);
    transition: height 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }
  .photography > .viewer > .arrow {
    width: 50%;
  }
  .photography > .viewer > .arrow > .icon {
    display: none;
  }
  .photography > .viewer > .viewer-photo {
    width: 100%;
    height: 100%;
  }

  /* NAVIGATOR */
  .photography > .navigator {
    z-index: 10;
    padding: 10px;
    height: 50px;
  }
  .photography > .navigator > .details {
    left: 10px;
    padding-right: 10px;
    width: 45%;
  }
  .photography > .navigator > .details {
    list-style: none;
  }
  .photography > .navigator > .details > .header,
.photography > .navigator > .details > .subheader {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .photography > .navigator > .details > .header {
    padding-bottom: 2px;
    font-size: 12px;
    line-height: 12px;
  }
  .photography > .navigator > .details > .subheader {
    font-size: 10px;
    line-height: 10px;
  }
  .photography > .navigator > .albums {
    padding: 0 35px 0 10px;
    width: 55%;
    height: 30px;
    font-size: 12px;
    background-position: calc(100% - 10px) center;
  }

  /* SIDEBAR */
  .photography > .sidebar {
    z-index: 0;
    top: auto;
    bottom: 50px;
    padding: 10px 0;
    width: 100%;
    height: 50px;
    overflow-x: scroll;
    overflow-y: hidden;
    text-align: center;
  }
  .photography > .sidebar > .sidebar-wrapper {
    margin: 0 auto;
  }
  .photography > .sidebar > .sidebar-wrapper:after {
    content: "";
    display: table;
    clear: both;
  }
  .photography > .sidebar .thumbnail {
    float: left;
    margin: 0 10px 0 0;
    width: 50px;
    height: 30px;
  }
  .photography > .sidebar .thumbnail:first-child {
    margin: 0 10px 0 10px;
  }
}

/*# sourceMappingURL=/photography.css.map */