/* EASING */
/* SIZES */
/* SPACING AND PADDING */
/* BREAKPOINTS */
/* PROJECT HEADER */
.project-header {
  z-index: 10;
  position: relative;
  margin: 0 auto 60px auto;
  width: 100%;
}
.project-header > .wrapper {
  margin: 0 auto;
  padding: 60px 40px;
  max-width: 1180px;
}
.project-header h2,
.project-header p,
.project-header ul {
  max-width: 680px;
}
.project-header h2 {
  margin-bottom: 10px;
  font-size: 48px;
  line-height: 48px;
}
.project-header p {
  margin-bottom: 40px;
  font-size: 24px;
  line-height: 38.832px;
}
.project-header ul {
  display: block;
  list-style: none;
}
.project-header ul li {
  margin-bottom: 5px;
  font-size: 16px;
  font-style: italic;
  line-height: 25.888px;
}
.project-header ul li:last-child {
  margin-bottom: 0;
}
.project-header ul .title {
  margin-right: 10px;
  font-family: "Raleway", Helvetica, Verdana, sans-serif;
  font-weight: 700;
  font-style: normal;
}
.project-header .links {
  margin-top: 40px;
}
.project-header .links a.link {
  margin-right: 20px;
}
.project-header .links a.link:last-child {
  margin-right: 0;
}

@media (max-width: 600px) {
  .project-header {
    margin-bottom: 30px;
  }
  .project-header > .wrapper {
    padding: 30px 20px;
  }
  .project-header h2 {
    font-size: 26px;
    line-height: 26px;
  }
  .project-header p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 25.888px;
  }
  .project-header ul > li {
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 19.416px;
  }
  .project-header ul .title {
    display: block;
    margin-right: 0;
  }

  .project-header .links {
    margin-top: 20px;
  }
  .project-header .links a.link {
    margin-right: 10px;
  }
}
/* PROJECT CONTENT */
.project-content {
  margin: 60px auto;
  padding: 0 40px;
  max-width: 1180px;
}
.project-content h3,
.project-content h4,
.project-content p,
.project-content ol,
.project-content ul {
  display: block;
  margin: 20px auto 0 0;
  max-width: 680px;
}
.project-content h3 {
  margin-top: 60px;
  font-size: 26px;
  line-height: 42.068px;
}
.project-content h4 {
  margin-top: 40px;
  font-size: 20px;
  line-height: 32.36px;
}
.project-content p {
  text-align: justify;
}
.project-content ol,
.project-content ul {
  padding-left: 40px;
  list-style-position: outside;
}
.project-content ol li,
.project-content ul li {
  margin-left: 1em;
  margin-bottom: 5px;
  text-align: justify;
}
.project-content ol li:last-child,
.project-content ul li:last-child {
  margin-bottom: 0;
}
.project-content b {
  font-weight: 700;
}
.project-content code {
  padding: 2px 4px;
  color: #EEEEEE;
  text-shadow: 0 1px 1px #757575;
  border-radius: 2px;
  background: #8C8C8C;
}
.project-content hr {
  display: block;
  margin: 60px auto 60px 0;
  max-width: 680px;
  height: 3px;
  border: 0;
}
.project-content hr:before {
  content: "";
  margin: 0 auto;
  display: block;
  width: 50%;
  height: 100%;
  background: #9C27B0;
}

@media (max-width: 600px) {
  .project-content {
    margin: 0 auto;
    padding: 0 20px;
  }
  .project-content h3,
.project-content h4,
.project-content p,
.project-content ol,
.project-content ul {
    display: block;
    margin-top: 10px;
  }
  .project-content h3 {
    margin-top: 30px;
    font-size: 18px;
    line-height: 29.124px;
  }
  .project-content h4 {
    margin-top: 15px;
    font-size: 16px;
    line-height: 25.888px;
  }
  .project-content hr {
    margin-top: 30px;
    margin-bottom: 30px;
    height: 2px;
  }
}
/* PROJECT HIGHLIGHTS */
.project-highlights {
  max-width: 680px;
}
.project-highlights h3 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 22px;
  line-height: 35.596px;
}
.project-highlights ul {
  list-style-position: outside;
}
.project-highlights ul li {
  margin-left: 1em;
  margin-bottom: 5px;
}
.project-highlights ul li:last-child {
  margin-bottom: 0;
}

@media (max-width: 600px) {
  .project-highlights {
    margin-bottom: 30px;
  }
  .project-highlights h3 {
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 29.124px;
  }
  .project-highlights ul > li {
    margin-bottom: 2px;
  }
}
/* PROJECT CAPTION */
.project-caption {
  position: relative;
  display: table;
  table-layout: fixed;
  margin: 60px auto 60px 0;
  max-width: 1100px;
  background: #FFFFFF;
}
.project-caption:after {
  content: "";
  display: table;
  clear: both;
}
.project-caption .media,
.project-caption .text {
  display: table-cell;
  vertical-align: middle;
}
.project-caption .media {
  position: relative;
  width: 60%;
}
.project-caption .media .video-element,
.project-caption .media .image-element {
  z-index: 0;
  position: relative;
  margin: 0 auto;
  display: block;
  width: 100%;
  height: auto;
  max-width: 680px;
}
.project-caption .media .video-element + .image-element {
  display: none;
}
.project-caption .video-play {
  z-index: 10;
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 10px 15px;
  color: #FFFFFF;
  background: #000000;
}
.project-caption .video-play a.link {
  display: block;
}
.project-caption.playing .video-play {
  display: none;
}
.project-caption > .text {
  padding: 40px;
  font-size: 20px;
  text-align: left;
  font-style: italic;
  line-height: 32.36px;
}
.project-caption > .text code {
  font-style: normal;
}

@media (max-width: 800px) {
  .project-caption {
    margin-left: auto;
    margin-right: auto;
  }
  .project-caption > .media,
.project-caption > .text {
    display: block;
    width: 100%;
  }
}
@media (max-width: 600px) {
  .project-caption {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .project-caption > .text {
    padding: 20px;
    font-size: 14px;
    line-height: 22.652px;
  }
  .project-caption .video-play {
    right: 0;
    bottom: 0;
    padding: 5px 10px;
  }
}
/* PROJECT IMAGE */
.project-image {
  display: block;
  margin: 60px auto 60px 0;
  width: 100%;
  height: auto;
}
.project-image.large {
  max-width: 1100px;
}
.project-image.small {
  max-width: 680px;
}

@media (max-width: 600px) {
  .project-image {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
/* PROJECTS */
.project-header.tng-fintech-website a.link,
.project-content.tng-fintech-website a.link {
  color: #00FFD3;
}
.project-header.tng-fintech-website a.link:before,
.project-content.tng-fintech-website a.link:before {
  background: rgba(0, 255, 211, 0.2);
}
.project-header.tng-fintech-website a.link:after,
.project-content.tng-fintech-website a.link:after {
  background: #00FFD3;
}
.project-header.tng-fintech-website a.link > .icon > .icon-layer,
.project-content.tng-fintech-website a.link > .icon > .icon-layer {
  fill: #00FFD3;
}

.project-header.tng-fintech-website {
  color: #00FFD3;
  background: #1C0A66;
}

.project-content.tng-fintech-website h3,
.project-content.tng-fintech-website > h4 {
  color: #1C0A66;
}
.project-content.tng-fintech-website .highlight {
  background: rgba(28, 10, 102, 0.2);
}
.project-content.tng-fintech-website hr:before {
  background: #1C0A66;
}

.project-header.tng-website a.link,
.project-content.tng-website a.link {
  color: #FEE27E;
}
.project-header.tng-website a.link:before,
.project-content.tng-website a.link:before {
  background: rgba(254, 226, 126, 0.2);
}
.project-header.tng-website a.link:after,
.project-content.tng-website a.link:after {
  background: #FEE27E;
}
.project-header.tng-website a.link > .icon > .icon-layer,
.project-content.tng-website a.link > .icon > .icon-layer {
  fill: #FEE27E;
}

.project-header.tng-website {
  color: #FEE27E;
  background: #1F134D;
}

.project-content.tng-website h3,
.project-content.tng-website > h4 {
  color: #1F134D;
}
.project-content.tng-website .highlight {
  background: rgba(31, 19, 77, 0.2);
}
.project-content.tng-website hr:before {
  background: #1F134D;
}

.project-header.tng-app a.link,
.project-content.tng-app a.link {
  color: #FFFFFF;
}
.project-header.tng-app a.link:before,
.project-content.tng-app a.link:before {
  background: rgba(255, 255, 255, 0.2);
}
.project-header.tng-app a.link:after,
.project-content.tng-app a.link:after {
  background: #FFFFFF;
}
.project-header.tng-app a.link > .icon > .icon-layer,
.project-content.tng-app a.link > .icon > .icon-layer {
  fill: #FFFFFF;
}

.project-header.tng-app {
  color: #FFFFFF;
  background: #4FC3F7;
}

.project-content.tng-app h3,
.project-content.tng-app > h4 {
  color: #4FC3F7;
}
.project-content.tng-app .highlight {
  background: rgba(79, 195, 247, 0.2);
}
.project-content.tng-app hr:before {
  background: #4FC3F7;
}

.project-header.joyce a.link,
.project-content.joyce a.link {
  color: #FFFFFF;
}
.project-header.joyce a.link:before,
.project-content.joyce a.link:before {
  background: rgba(255, 255, 255, 0.2);
}
.project-header.joyce a.link:after,
.project-content.joyce a.link:after {
  background: #FFFFFF;
}
.project-header.joyce a.link > .icon > .icon-layer,
.project-content.joyce a.link > .icon > .icon-layer {
  fill: #FFFFFF;
}

.project-header.joyce {
  color: #FFFFFF;
  background: #000000;
}

.project-content.joyce h3,
.project-content.joyce > h4 {
  color: #000000;
}
.project-content.joyce .highlight {
  background: rgba(0, 0, 0, 0.2);
}
.project-content.joyce hr:before {
  background: #000000;
}

.project-header.enicar a.link,
.project-content.enicar a.link {
  color: #FFFFFF;
}
.project-header.enicar a.link:before,
.project-content.enicar a.link:before {
  background: rgba(255, 255, 255, 0.2);
}
.project-header.enicar a.link:after,
.project-content.enicar a.link:after {
  background: #FFFFFF;
}
.project-header.enicar a.link > .icon > .icon-layer,
.project-content.enicar a.link > .icon > .icon-layer {
  fill: #FFFFFF;
}

.project-header.enicar {
  color: #FFFFFF;
  background: #E44436;
}

.project-content.enicar h3,
.project-content.enicar > h4 {
  color: #E44436;
}
.project-content.enicar .highlight {
  background: rgba(228, 68, 54, 0.2);
}
.project-content.enicar hr:before {
  background: #E44436;
}

.project-header.steamchat a.link,
.project-content.steamchat a.link {
  color: #FFFFFF;
}
.project-header.steamchat a.link:before,
.project-content.steamchat a.link:before {
  background: rgba(255, 255, 255, 0.2);
}
.project-header.steamchat a.link:after,
.project-content.steamchat a.link:after {
  background: #FFFFFF;
}
.project-header.steamchat a.link > .icon > .icon-layer,
.project-content.steamchat a.link > .icon > .icon-layer {
  fill: #FFFFFF;
}

.project-header.steamchat {
  color: #FFFFFF;
  background: #0064BF;
}

.project-content.steamchat h3,
.project-content.steamchat > h4 {
  color: #0064BF;
}
.project-content.steamchat .highlight {
  background: rgba(0, 100, 191, 0.2);
}
.project-content.steamchat hr:before {
  background: #0064BF;
}

.project-header.k11 a.link,
.project-content.k11 a.link {
  color: #FFFFFF;
}
.project-header.k11 a.link:before,
.project-content.k11 a.link:before {
  background: rgba(255, 255, 255, 0.2);
}
.project-header.k11 a.link:after,
.project-content.k11 a.link:after {
  background: #FFFFFF;
}
.project-header.k11 a.link > .icon > .icon-layer,
.project-content.k11 a.link > .icon > .icon-layer {
  fill: #FFFFFF;
}

.project-header.k11 {
  color: #FFFFFF;
  background: #A7834A;
}

.project-content.k11 h3,
.project-content.k11 > h4 {
  color: #A7834A;
}
.project-content.k11 .highlight {
  background: rgba(167, 131, 74, 0.2);
}
.project-content.k11 hr:before {
  background: #A7834A;
}

.project-header.hkjc a.link,
.project-content.hkjc a.link {
  color: #FAD40E;
}
.project-header.hkjc a.link:before,
.project-content.hkjc a.link:before {
  background: rgba(250, 212, 14, 0.2);
}
.project-header.hkjc a.link:after,
.project-content.hkjc a.link:after {
  background: #FAD40E;
}
.project-header.hkjc a.link > .icon > .icon-layer,
.project-content.hkjc a.link > .icon > .icon-layer {
  fill: #FAD40E;
}

.project-header.hkjc {
  color: #FAD40E;
  background: #002E65;
}

.project-content.hkjc h3,
.project-content.hkjc > h4 {
  color: #002E65;
}
.project-content.hkjc .highlight {
  background: rgba(0, 46, 101, 0.2);
}
.project-content.hkjc hr:before {
  background: #002E65;
}

/*# sourceMappingURL=/project.css.map */