@import "common/constants";

@import "common/resets";

@import "common/typography";

@import "components/header";

@import "components/footer";

@import "components/button";

@import "components/photo";

body {
  color: $colorPrimary;
  background: $colorBackground;
}

main {
  margin: 0 auto;
  padding: 0 ($spacingLarge * 2);
  max-width: $maxWidth;

  @include breakpoint("medium") {
    padding: 0 ($spacingMedium * 2);
  }

  @include breakpoint("small") {
    padding: 0 ($spacingSmall * 2);
  }
}
