@import "common/constants";

@import "common/resets";

@import "common/typography";

@import "components/header";

@import "components/footer";

@import "components/button";

@import "components/photo";

$timing: 1500ms;

body {
  color: $colorPrimary;
  background: $colorBackground;
}

body > .content {
  opacity: 1;
  z-index: 0;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  transition: transform $timing $easeInOutCubic;
  background: $colorBackground;
  
  @include breakpoint("mobile") {
    will-change: transform;
  }
}

body > .outer-menu {
  opacity: 0;
  pointer-events: none;
  z-index: 20;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  transform: translateY(-100vh);
  transition: transform $timing $easeInOutCubic, opacity $timing $easeInOutCubic;

  @include breakpoint("small") {
    display: flex;
    will-change: transform, opacity;
  }

  > a.link {
    padding: $spacingSmall 0;
    width: 100%;
    font-size: fontSize(38px);
    text-align: center;
    text-decoration: none;
    text-transform: lowercase;

    &.active {
      background: rgba($colorSecondary, .5);
    }
  }

  > a.menu {
    position: absolute;
    top: 0;
    right: 0;
    padding: $spacingSmall * 2;

    > svg {
      display: block;
      width: 32px;
      height: 32px;
      fill: $colorPrimary;
    }
  }
}

body > .stars {
  pointer-events: none;
  opacity: 0;
  z-index: 10;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  width: 100%;
  height: 100%;
  transition: opacity ($timing / 2) $easeInOutCubic;

  @include breakpoint("small") {
    display: block;
    will-change: opacity;
  }
}

body.menu {
  overflow: hidden;

  > .content {
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100vh) translateZ(0);
  }

  > .outer-menu {
    pointer-events: auto;
    opacity: 1;
    transform: translateY(0) translateZ(0);
  }

  > .stars {
    opacity: 1;
  }
}

main {
  margin: 0 auto;
  padding: 0 ($spacingLarge * 2);
  max-width: $maxWidth;

  @include breakpoint("medium") {
    padding: 0 ($spacingMedium * 2);
  }

  @include breakpoint("small") {
    padding: 0 ($spacingSmall * 2);
  }
}
