@import "common/constants";

@import "common/resets";

@import "common/typography";

@import "components/header";

@import "components/footer";

@import "components/button";

@import "components/photo";

$timing: 1500ms;

body {
  color: $colorPrimary;
  background: $colorBackground;
}

body > .outer-menu,
body > .stars {
  display: none;
}

@include breakpoint("small") {
  body > .content {
    opacity: 1;
    z-index: 0;
    position: relative;
    min-height: 100vh;
    background: $colorBackground;
    overflow-x: hidden;
    transition: transform $timing $easeInOutCubic;
    will-change: transform;
  }

  body > .outer-menu {
    opacity: 0;
    pointer-events: none;
    z-index: 20;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    transform: translateY(-100vh);
    transition: transform $timing $easeInOutCubic, opacity $timing $easeInOutCubic;
    will-change: transform, opacity;

    > a.link {
      padding: $spacingS 0;
      width: 100%;
      font-size: fontSize(38px);
      text-align: center;
      text-decoration: none;
      text-transform: lowercase;

      &:hover {
        color: $colorPrimary;
      }

      &.active,
      &:hover {
        background: rgba($colorSecondary, .5);
      }
    }

    > a.menu {
      position: absolute;
      top: 0;
      right: 0;
      padding: $spacingS * 2;

      > svg {
        display: block;
        width: 32px;
        height: 32px;
        fill: $colorPrimary;
      }
    }
  }

  body > .stars {
    pointer-events: none;
    opacity: 0;
    z-index: 10;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    transition: opacity ($timing / 2) $easeInOutCubic;
    transition-delay: ($timing / 2);
    will-change: opacity;
  }

  body.menu {
    overflow: hidden;

    > .content {
      pointer-events: none;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transform: translateY(100vh) translateZ(0);
    }

    > .outer-menu {
      pointer-events: auto;
      opacity: 1;
      transform: translateY(0) translateZ(0);
    }

    > .stars {
      opacity: 1;
      transition-delay: 0ms;
    }
  }
}

main {
  margin: 0 auto;
  padding: 0 ($spacingL * 2);
  max-width: $maxWidth;

  @include breakpoint("medium") {
    padding: 0 ($spacingM * 2);
  }

  @include breakpoint("small") {
    padding: 0 ($spacingS * 2);
  }
}
