@import "common/constants";

@import "common/mixins";

main {
  max-width: 1000px + ($spacingLarge * 2);
}

section {
  margin-bottom: $spacingLarge * 2;

  @include breakpoint("small") {
    margin-bottom: 40px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  > h1,
  > h2 {
    margin-bottom: 20px;
    font-size: fontSize(32px);

    @include breakpoint("small") {
      margin-bottom: 15px;
    }
  }

  > h2 {
    line-height: fontSize(32px);
  }
}

section > .wrapper {
  display: flex;
  align-items: stretch;
  justify-content: space-between;

  @include breakpoint("small") {
    display: block;
  }

  > .item {
    display: flex;
    flex-flow: column;
    margin-right: 40px;
    width: 100%;

    @include breakpoint("small") {
      margin-right: 0;
      margin-bottom: 15px;
    }

    &.end {
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 150px;
      background: none;

      @include breakpoint("small") {
        max-width: none;
        align-items: end;
      }
    }
  }
}

section.work {
  > .bottom {
    $margin: 20px;

    display: flex;
    align-items: center;

    &:before,
    &:after {
      @extend %line;
    }

    &:before {
      margin-right: $margin;
      width: 100%;

      @include breakpoint("small") {
        margin-right: 10px;
      }
    }

    &:after {
      margin-left: $margin;
      min-width: 90px;

      @include breakpoint("small") {
        display: none;
      }
    }
  }
}

section.journal {
  .item {
    @extend %box;
  }

  h3 {
    margin-bottom: 15px;
    font-size: fontSize(22px);

    @include breakpoint("small") {
      margin-bottom: 5px;
    }

    > a:hover {
      color: $colorSecondary;
    }
  }

  p.blurb {
    margin-bottom: 20px;

    @include breakpoint("small") {
      margin-bottom: 8px;
    }
  }

  p.date {
    margin-top: auto;
    font-size: fontSize(14px);
    line-height: fontSize(14px);
    text-align: right;
    color: $colorPrimaryAlt;

    @extend %fontMonospace;
  }
}

section.photography {
  figure > img {
    display: block;
    width: 100%;
    height: auto;
  }

  figcaption {
    display: flex;
    padding-top: 10px;
    font-size: fontSize(14px);
    line-height: fontSize(14px);
    color: $colorPrimaryAlt;

    @include breakpoint("small") {
      padding-top: 8px;
    }

    > span {
      white-space: nowrap;
    }

    > span.description {
      font-weight: 700;
    }

    > span.date {
      margin-left: auto;
      text-align: right;

      @extend %fontMonospace;
    }
  }
}
