@import "common/colours";

@import "common/constants";

section {
  margin-bottom: $spacing-large * 3;

  &:last-child {
    margin-bottom: 0;
  }

  > .section-header {
    margin-bottom: 40px;
    display: flex;
    align-items: center;

    > h2 {
      margin-right: 40px;
      font-size: 38px;
    }

    > .button {
      transform: translateY(3px);
    }
  }
}

section.work {
  h1 {
    margin-bottom: 40px;
    font-size: 38px;
    line-height: 46px;
  }
}

section.journal > .journal-item {
  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 0;
  }

  h3 {
    margin-bottom: 10px;
    font-size: 24px;

    > a:hover {
      color: $color-secondary;
    }
  }

  p.date {
    margin-top: 10px;
    font-size: 14px;
    color: $color-primary-alt;
  }
}

section.photography {
  > .photography-item-wrapper {
    display: flex;
    align-items: start;
    justify-content: space-between;
  }

  figure {
    margin-right: 40px;
    width: 50%;
    display: block;
    break-inside: avoid;

    &:last-child {
      margin-right: 0;
    }
  
    > img {
      display: block;
      width: 100%;
      height: auto;
    }
  
    > figcaption {
      display: flex;
      padding-top: 10px;
      font-size: 14px;
      color: $color-primary-alt;
  
      > span {
        width: 50%;
        white-space: nowrap;
      }
  
      > span.description {
        font-weight: 700;
      }
  
      > span.date {
        text-align: right;
      }
    }
  }
}
