@import "common/constants";

@import "common/mixins";

main {
  max-width: $maxWidthExtra;
}

main > section {
  margin-bottom: $spacingL * 3;

  @include breakpoint("medium") {
    margin-bottom: $spacingM * 3;
  }

  @include breakpoint("small") {
    margin-bottom: $spacingS * 3;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

main > section > h1,
main > section > h2 {
  text-transform: lowercase;
}

main > section > h1 {
  font-size: fontSize($fontSizeXL);

  > span {
    color: $colorSpecial;
  }
}

main > section > h2 {
  margin-bottom: $spacingL;
  display: flex;
  font-size: fontSize($fontSizeL);
  line-height: fontSize($fontSizeL);

  @include breakpoint("medium") {
    margin-bottom: $spacingM;
  }

  @include breakpoint("small") {
    margin-bottom: $spacingS;
    justify-content: space-between;
  }

  > .button {
    margin-left: $spacingL;

    @include breakpoint("medium") {
      margin-left: $spacingM;
    }

    @include breakpoint("small") {
      margin-left: 0;
    }
  }
}

main > section > .wrapper {
  display: flex;
  align-items: stretch;
  justify-content: space-between;

  @include breakpoint("small") {
    display: block;
  }
  
  > figure {
    margin-right: $spacingL;

    @include breakpoint("medium") {
      margin-right: $spacingM;
    }
  
    @include breakpoint("small") {
      margin-right: 0;
      margin-bottom: $spacingS;
    }

    &:last-child {
      margin: 0;
    }
  }
}

main > section.me > .bottom {
  margin-top: $spacingL;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include breakpoint("medium") {
    margin-top: $spacingM;
  }

  @include breakpoint("small") {
    margin-top: $spacingS;
  }

  &:after {
    margin-left: $spacingL;
    width: 100%;

    @extend %line;

    @include breakpoint("medium") {
      margin-left: $spacingM;
    }
  
    @include breakpoint("small") {
      margin-left: $spacingS;
    }
  }
}
