@import "common/constants";

@import "common/mixins";

main > .journal {
  h1 {
    margin-bottom: 40px;
    font-size: fontSize(48px);
    line-height: fontSize(48px);
    font-weight: 700;
  }

  > .item {
    position: relative;
    margin-bottom: 60px;

    @extend %box;
  
    &:last-child {
      margin-bottom: 0;
    }
  
    h2 {
      margin-bottom: 20px;
      font-size: fontSize(24px);
    }

    h2 > a:hover {
      color: $colorSecondary;
    }
  
    p.date {
      margin-top: 20px;
      font-size: fontSize(14px);
      line-height: fontSize(14px);
      color: $colorPrimaryAlt;

      @extend %fontMonospace;
    }

    .button {
      z-index: 1;
      position: absolute;
      right: 20px;
      bottom: -20px;
    }
  }
}

main > .journal-detail {
  h1 {
    margin-bottom: 60px;
    font-size: fontSize(48px);
    font-weight: 700;    
  }
  
  h2 {
    margin-top: 60px;
    font-size: fontSize(32px);

    &:after {
      margin-top: 20px;
      width: 180px;

      @extend %line;
    }
  }
  
  h3 {
    margin-top: 40px;
    font-size: fontSize(28px);
  }
  
  h4 {
    margin-top: 30px;
    font-size: fontSize(24px);
  }
  
  h5 {
    margin-top: 20px;
    font-size: fontSize(22px);
  }
  
  h6 {
    margin-top: 20px;
    font-size: fontSize(18px);
    color: $colorPrimaryAlt;
  }
  
  p {
    margin-top: 20px;
    font-size: fontSize(24px);

    &:first-child {
      margin-bottom: 0;
    }
  }

  p.footnote {
    margin-top: 80px;
    font-size: fontSize(18px);
    color: $colorPrimaryAlt;

    @extend %fontMonospace;
    
    &:before {
      margin-bottom: 20px;
      width: 150px;

      @extend %line;
    }
  }

  a:hover {
    color: $colorSecondary;
  }

  blockquote {
    position: relative;
    margin: 40px 0;
    padding: 5px 0 5px 30px;
    color: $colorPrimaryAlt;

    p:first-child {
      margin-top: 0;
    }

    &:before {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;

      @extend %lineVertical;
    }
  }

  :not(pre) > code {
    /* To-do: fix this up, make same colours as code block, etc. */
    padding: 2px 6px;
    border-radius: 5px;
    color: #C792EA;
    background: #0D0D0D;
    white-space: nowrap;
  }

  pre {
    $over-extend: 1000px;

    margin-top: 40px;
    margin-left: -($over-extend - $maxWidth + ($spacingLarge * 2)) / 2;
    padding: 0;
    width: $over-extend;
    font-size: fontSize(16px);
    overflow-x: auto;

    @extend %box;

    @media(max-width: $over-extend + $spacingLarge) {
      width: 100%;
      margin-left: 0;
    }

    > code {
      margin: 20px;
      display: inline-block;

      @import "highlight.js/styles/night-owl.css";
    }
  }
}
