@import "common/constants";

main {
  display: flex;
}

main > .journal-list {
  margin: 0 auto;

  h1 {
    margin-bottom: 40px;
    font-size: 48px;
    font-weight: 700;
  }

  > .journal-item {
    position: relative;
    margin-bottom: 60px;
    padding: 20px;
    border-radius: $border-radius;
    background: $color-background-alt;
  
    &:last-child {
      margin-bottom: 0;
    }
  
    h2 {
      margin-bottom: 20px;
      font-size: 24px;
    }

    h2 > a:hover {
      color: $color-secondary;
    }
  
    p.date {
      margin-top: 20px;
      font-size: 14px;
      font-family: $font-monospace;
      color: $color-primary-alt;
    }

    .button {
      z-index: 1;
      position: absolute;
      right: 20px;
      bottom: -20px;
    }
  }
}

main > .journal-detail {
  margin: 0 auto;
  max-width: 700px;

  h1 {
    margin-bottom: 60px;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px * 1.4;
  }
  
  h2 {
    margin-top: 60px;
    font-size: 32px;
    line-height: 32px * 1.4;
  }
  
  h3 {
    margin-top: 40px;
    font-size: 28px;
    line-height: 28px * 1.4;
  }
  
  h4 {
    margin-top: 30px;
    font-size: 24px;
    line-height: 24px * 1.4;
  }
  
  h5 {
    margin-top: 20px;
    font-size: 22px;
    line-height: 22px * 1.4;
  }
  
  h6 {
    margin-top: 20px;
    font-size: 18px;
    line-height: 18px * 1.4;
    color: $color-primary-alt;
  }
  
  p {
    margin-top: 20px;
    font-size: 24px;
    line-height: 24px * 1.6;

    &:first-child {
      margin-bottom: 0;
    }

    &.footnote {
      margin-top: 80px;
      font-size: 18px;
      line-height: 18px;
      color: $color-primary-alt;
    }
  }

  a:hover {
    color: $color-secondary;
  }

  b,
  strong {
    font-weight: 700;
  }

  i,
  em {
    font-style: italic;
  }

  blockquote {
    position: relative;
    margin: 40px 0;
    padding: 5px 0 5px 40px;
    color: $color-primary-alt;

    p:first-child {
      margin-top: 0;
    }

    &:before {
      $size: 5px;

      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: $size;
      height: 100%;
      border-radius: $size;
      background: $color-primary-alt;
    }
  }

  :not(pre) > code {
    padding: 2px 6px;
    border-radius: 5px;
    color: #C792EA;
    background: #0D0D0D;
    white-space: nowrap;
  }

  pre {
    display: block;
    margin: 40px 0;
    color: #D6DEEB;
    font-size: 18px;
    line-height: 28px;
    border-radius: $border-radius;
    background: #0D0D0D;
    overflow-x: auto;

    > code {
      margin: 20px;
      display: inline-block;
      white-space: unset;

      @import "highlight.js/styles/night-owl.css";
    }
  }
}
