@import "common/constants";

@import "common/mixins";

main > section.me > h1 {
  font-weight: 700;
  font-size: fontSize(48px);
  line-height: fontSize(48px);
}

main > section.me > p {
  margin-top: $spacingLarge;
  font-size: fontSize(20px);

  @include breakpoint("medium") {
    margin-top: $spacingMedium;
  }

  @include breakpoint("small") {
    margin-top: $spacingSmall;
  }
  > span.mono {
    @extend %fontMonospace;
  }
}

main > section.me > p.greeting {
  display: flex;
  align-items: center;

  $rotation: 20deg;

  @keyframes cycle {
    0% {
      opacity: 0;
      transform: scale(0) rotate(-$rotation);
    }

    15% {
      opacity: 1;
      transform: scale(1) rotate(0);
    }

    85% {
      opacity: 1;
      transform: scale(1) rotate(0);
    }
  
    100% {
      opacity: 0;
      transform: scale(0) rotate($rotation);
    }
  }

  &:after {
    content: attr(data-current);
    display: inline-block;
    margin-left: 10px;
    font-size: fontSize(28px);
    line-height: fontSize(28px);
    animation: 3s cubic-bezier(.68, -.6, .32, 1.6) 0s infinite cycle;
    will-change: opacity, transform;
  }
}

main > section.me ul {
  position: relative;
  columns: 2;
  margin-top: $spacingLarge;
  list-style: none;

  @include breakpoint("medium") {
    margin-top: $spacingMedium;
  }

  @include breakpoint("small") {
    margin-top: $spacingSmall;
  }
}

main > section.me ul > li {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: lighten($colorSecondary, 20%);

  @extend %fontMonospace;

  @include breakpoint("medium") {
    margin-bottom: 15px;
  }

  @include breakpoint("small") {
    margin-bottom: 8px;
  }

  &:last-child {
    margin: 0;
  }

  &:before {
    position: relative;
    margin-right: 15px;
    min-width: 30px;
    background: $colorSecondary;

    @extend %line;

    @include breakpoint("small") {
      margin-right: 8px;
      min-width: 15px;
    }
  }
}

main > section.projects,
main > section.recognitions {
  margin-top: $spacingLarge * 3;

  @include breakpoint("medium") {
    margin-top: $spacingMedium * 3;
  }

  @include breakpoint("small") {
    margin-top: $spacingSmall * 3;
  }
}

main > section.projects > h2,
main > section.recognitions > h2 {
  margin-bottom: $spacingLarge;
  display: flex;
  align-items: center;
  white-space: nowrap;
  text-transform: lowercase;

  @include breakpoint("small") {
    margin-bottom: $spacingSmall;
  }

  &:after {
    margin-left: $spacingLarge;
    width: 100%;
    transform: translateY(2px);

    @extend %line;

    @include breakpoint("medium") {
      margin-left: $spacingMedium;
    }

    @include breakpoint("small") {
      margin-left: $spacingSmall;
    }
  }
}

main > section.projects > .item,
main > section.recognitions > .item {
  margin-bottom: $spacingLarge;

  @extend %box;

  @include breakpoint("medium") {
    margin-bottom: $spacingMedium;
  }

  @include breakpoint("small") {
    margin-bottom: $spacingSmall;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

main > section.projects > .item > h3,
main > section.recognitions > .item > h3 {
  margin-bottom: 10px;
}

main > section.projects > .item > p,
main > section.recognitions > .item > h3 {
  font-size: fontSize(18px);
}

main > section.projects > .item > h3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  > a {    
    display: block;
    margin-left: 15px;

    &:first-child {
      margin-left: auto;
    }

    > svg {
      display: block;
      fill: $colorPrimaryAlt;
    }

    &:hover > svg {
      fill: $colorSecondaryAlt;
    }
  }
}


main > section.projects > .item > .bottom {
  margin-top: 10px;
  display: flex;
  align-items: center;

  @include breakpoint("small") {
    display: block;
  }
}

main > section.projects .item > .bottom > .technologies {
  display: flex;
  list-style: none;
}

main > section.projects .item > .bottom > .technologies > li {
  margin-right: 15px;
  font-size: fontSize(14px);
  color: $colorPrimaryAlt;

  @extend %fontMonospace;
  
  @include breakpoint("small") {
    margin-right: 10px;
  }

  &:last-child {
    margin-right: 0;
  }
}

main > section.projects .item > .bottom > .links {
  display: flex;
  align-items: center;
  margin-left: auto;
  
  @include breakpoint("small") {
    margin-top: 15px;
  }
}

main > section.projects .item > .bottom > .links > a {
  display: block;
  margin-right: 15px;

  @include breakpoint("small") {
    margin-right: 10px;
  }

  &:last-child {
    margin-right: 0;
  }

  &:hover > svg {
    fill: $colorPrimary;
  }

  > svg {
    fill: $colorSecondary;
  }
}

main > section.projects > .items-more {
  display: flex;
}

main > section.projects > .items-more > .item {
  margin-right: $spacingLarge;
  margin-bottom: 0;
  width: 50%;
  min-height: 100%;
  text-align: center;
  text-decoration: none;

  @extend %box, %fontMonospace;

  @include breakpoint("medium") {
    margin-right: $spacingMedium;
  }

  @include breakpoint("small") {
    margin-right: $spacingSmall;
  }

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    color: $colorPrimary;
    background: $colorSecondaryAlt;
  }

  &:hover > svg {
    fill: $colorPrimary;
  }
}

main > section.projects > .items-more > .item > svg {
  $size: 60px;

  display: block;
  margin: 0 auto 15px;
  width: $size;
  height: $size;
  fill: $colorPrimaryAlt;

  @include breakpoint("medium") {
    $size: 48px;

    margin-bottom: 10px;
    width: $size;
    height: $size;
  }

  @include breakpoint("small") {
    $size: 32px;

    margin-bottom: 8px;
    width: $size;
    height: $size;
  }
}

main > section.recognitions > .item > p.date {
  font-size: fontSize(14px);
  color: $colorPrimaryAlt;

  @extend %fontMonospace;
}
