@import "common/constants";

@import "common/mixins";

main {
  max-width: 2000px;
}

main > section.photography > .photos-controls {
  margin-bottom: $spacingLarge * 2;
  text-align: center;

  @include breakpoint("small") {
    margin-bottom: $spacingSmall * 2;
  }

  > a {
    $transition-timing: .2s;
    $height: 40px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    padding: 0 20px;
    height: $height;
    font-size: fontSize(18px);
    font-weight: 700;
    color: $colorPrimary;
    border-radius: $height;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    color: $colorBackground;
    background: $colorPrimary;

    @include breakpoint("small") {
      margin-bottom: 10px;
      margin-left: 10px;
      padding: 0 10px;
      min-width: 60px;
      height: 30px;
    }

    &:first-child {
      margin-left: 0;
    }

    &:hover,
    &.active {
      color: $colorPrimary;
      background: $colorSecondary;
    }
  }
}

main > section.photography > .photos-wrapper {
  column-count: 3;
  column-gap: $spacingLarge * 2;

  @include breakpoint("small") {
    column-count: 1;
  }
}

main > section.photography > .photos-wrapper > figure {
  display: block;
  break-inside: avoid;

  > img {
    margin: 0 auto;
    display: block;
    width: 100%;
    height: auto;
  }

  > figcaption {
    display: flex;
    padding-top: 10px;
    margin-bottom: $spacingLarge * 2;
    font-size: 14px;
    color: $colorPrimaryAlt;

    @include breakpoint("small") {
      margin-bottom: $spacingSmall * 2;
    }

    > span {
      width: 50%;
      white-space: nowrap;
    }

    > span.description {
      font-weight: 700;
    }

    > span.date {
      text-align: right;
    }
  }
}
