@import "common/constants";

@import "common/mixins";

main > section.work {
  > h1 {
    font-weight: 700;
    font-size: fontSize(48px);
    line-height: fontSize(48px);
  }

  p {
    margin-top: $spacingLarge;
    font-size: fontSize(20px);

    @include breakpoint("small") {
      margin-top: $spacingSmall;
    }
  }

  > .columns {
    display: flex;

    > .columns-wrapper {
      width: 50%;
    }
  }

  ul {
    margin-top: $spacingLarge;
    list-style: none;

    @include breakpoint("small") {
      margin-top: $spacingSmall;
    }
  }

  ul > li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: lighten($colorSecondary, 20%);

    @include breakpoint("small") {
      margin-bottom: 15px;
    }

    @extend %fontMonospace;

    &:last-child {
      margin: 0;
    }

    &:before {
      margin-right: 15px;
      min-width: 30px;
      background: $colorSecondary;

      @include breakpoint("small") {
        margin-right: 5px;
        min-width: 15px;
      }

      @extend %line;
    }  
  }
}

main > section.projects {
  margin-top: $spacingLarge * 3;

  @include breakpoint("small") {
    margin-top: $spacingSmall * 3;
  }

  > h2 {
    margin-bottom: $spacingLarge;
    display: flex;
    align-items: center;

    @include breakpoint("small") {
      margin-bottom: $spacingSmall;
    }

    &:after {
      margin-left: $spacingLarge;
      width: 100%;
      transform: translateY(2px);

      @extend %line;

      @include breakpoint("small") {
        margin-left: $spacingSmall;
      }
    }
  }
}

main > section.projects .item {
  margin-bottom: $spacingLarge;

  @include breakpoint("small") {
    margin-bottom: $spacingSmall;
  }

  @extend %box;

  &:last-child {
    margin-bottom: 0;
  }

  > h3 {
    margin-bottom: 10px;

    @include breakpoint("small") {
      margin-bottom: 10px;
    }
  }

  > p {
    font-size: fontSize(18px);
  }

  > .bottom {
    margin-top: 10px;
    display: flex;
    align-items: center;

    @include breakpoint("small") {
      display: block;
      margin-top: 10px;
    }
  }

  > .bottom > .technologies {
    display: flex;
    list-style: none;

    @include breakpoint("small") {
      margin-bottom: 15px;
    }
    
    > li {
      margin-right: 15px;
      font-size: fontSize(14px);
      color: $colorPrimaryAlt;
      
      @include breakpoint("small") {
        margin-right: 10px;
      }

      @extend %fontMonospace;
    }

    > li:last-child {
      margin-right: 0;
    }
  }

  .bottom > .links {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  a {
    display: block;
    margin-right: 15px;

    @include breakpoint("small") {
      margin-right: 10px;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover > svg {
      fill: $colorPrimary;
    }

    > svg {
      fill: $colorSecondary;
    }
  }
}

main > section.projects > .items-more {
  display: flex;

  > .item {
    margin-right: $spacingLarge;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 150px;
    border: 2px solid transparent;
    text-decoration: none;

    @extend %box, %fontMonospace;

    @include breakpoint("small") {
      height: 100px;
      margin-right: $spacingSmall;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      border-color: #FFF;
      background: lighten($colorBackgroundAlt, 10%);
    }

    &:hover > svg {
      fill: $colorPrimary;
    }

    > svg {
      $size: 60px;

      margin-bottom: 15px;
      width: $size;
      height: $size;
      fill: $colorPrimaryAlt;

      @include breakpoint("small") {
        margin-bottom: 15px;
        width: 32px;
        height: 32px;
      }
    }
  }
}
