include icons

footer
  a(href="https://github.com/Flamov" rel="noopener noreferrer" target="_blank")
    +icon-github
  a(href="https://codepen.com/Flamov" rel="noopener noreferrer" target="_blank")
    +icon-codepen
  a(href="mailto:sam@flamov.com?subject=Hello!")
    +icon-mail
