mixin menu
  a(href="/" class=(PAGE_SECTION === "home" ? "active" : false)).link Home
  a(href="/writing" class=(PAGE_SECTION === "writing" ? "active" : false)).link Writing
  a(href="/photography" class=(PAGE_SECTION === "photography" ? "active" : false)).link Photography
  a(href="/me" class=(PAGE_SECTION === "me" ? "active" : false)).link Me
