$headerHeight: 100px;
$iconSize: 24px;
$lineMargin: 2px;

.global-header {
  height: $headerHeight;

  > .container {
    margin: 0 auto;
    padding: 0 $paddingLarge;
    display: flex;
    align-items: start;
    height: 100%;
    max-width: $maxWidth + ($paddingLarge * 2);

    > nav {
      display: flex;
      flex-grow: 1;
      align-items: start;
    }
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: $headerHeight;
    font-size: 18px;
    text-decoration: none;

    > span {
      padding-top: $lineMargin;
      border-bottom: $lineMargin solid transparent;
    }

    &:hover > span,
    &.current > span {
      border-bottom-color: $colour-text;
    }
  }

  svg {
    fill: $colour-text;
  }
}

.global-header .title {
  margin-right: 40px;
  white-space: nowrap;

  > a {
    font-weight: 700;
    font-size: 20px;
  }
}

.global-header ul {
  display: flex;
  list-style: none;

  > li {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.global-header .links {
  margin-left: auto;

  .icon {
    margin-right: $iconSize / 2;
    width: $iconSize;
    height: $iconSize;
  }
}

.global-header .hamburger {
  display: none;
}

@media (max-width: 900px) {

  .global-header .title {
    margin-right: 15px;
  }

  .global-header ul > li {
    margin-right: 15px;
  }

  .global-header .links .icon {
    margin-right: ($iconSize / 2) / 2;
    width: $iconSize / 1.2;
    height: $iconSize / 1.2;
  }

}

@media (max-width: $mobileBreakpointLarge) {

  $headerHeight: 80px;

  .global-header {
    height: $headerHeight;

    > .container {
      padding-left: $paddingLarge;
      padding-right: 0;

      > nav {
        display: none;
      }
    }

    a {
      height: $headerHeight;
    }

    $hamburgerIconWidth: 40px;

    .hamburger {
      display: flex;
      margin-left: auto;
      padding: 0 $paddingLarge;

      .open,
      body.menu & .close {
        display: block;
      }

      body.menu & .open,
      .close {
        display: none;
      }
    }
  }

  .global-header .title {
    margin-right: 0;
  }

}

@media (max-width: $mobileBreakpointSmall) {

  $headerHeight: 50px;

  .global-header {
    height: $headerHeight;

    > .container {
      padding-left: $paddingSmall;
    }

    a {
      height: $headerHeight;
    }
  }

  .global-header .title > a {
    font-size: 16px;
  }

  .global-header .hamburger {
    padding: 0 $paddingSmall;
  } 

}
