$headerHeight: 100px;
$headerLinkPadding: 10px;
$headerLinkIconSize: 24px;
$headerLinkLineHeight: 2px;

.global-header {
	z-index: 100;
	position: relative;
	height: $headerHeight;
}

.global-header > .container {
	margin: 0 auto 0 auto;
	padding: 0 $paddingLarge 0 $paddingLarge;
	height: 100%;
	max-width: $maxWidth + ($paddingLarge * 2);
}

.global-header nav:after,
.global-header > .content:after,
.global-header ul:after {
	@include clearFix;
}

.global-header .title,
.global-header .nav li,
.global-header .links li {
	display: table;
	height: $headerHeight;
}

.global-header ul {
	list-style: none;
}

.global-header ul > li {
	float: left;
	margin-right: 20px;
}

.global-header ul > li:last-child {
	margin-right: 0;
}

.global-header a {
	display: table-cell;
	vertical-align: middle;
	text-decoration: none;
	color: inherit;
}

.global-header a span {
	display: block;
	padding-top: $headerLinkLineHeight;
	border-bottom: $headerLinkLineHeight solid transparent;
}

.global-header a:hover span,
.global-header .nav .current > a span {
	border-bottom-color: $colour-text;
}

.global-header .title,
.global-header .nav {
	float: left;
}

.global-header .title {
	margin-right: 40px;
}

.global-header .title > a {
	font-weight: 700;
	font-size: 20px;
	line-height: 20px;
}

.global-header .links {
	float: right;
}

.global-header .links a {
	position: relative;
	padding-left: $headerLinkIconSize + ($headerLinkPadding / 2);
}

.global-header .links a:before,
.outer-menu .links a span:before {
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -($headerLinkIconSize / 2);
	display: inline-block;
	width: $headerLinkIconSize;
	height: $headerLinkIconSize;
	background: center center no-repeat transparent;
	background-size: contain;
}

.global-header .links .github a:before {
	// background-image: url("../images/global/global-link-github.svg");
}

.global-header .links .codepen a:before {
	// background-image: url("../images/global/global-link-codepen.svg");
}

@media (max-width: 900px) {

	.global-header .links a {
		padding-left: 0;
	}

	.global-header .links a:before {
		position: static;
		margin: 0 auto 5px auto;
		display: block;
	}

}

@media (max-width: $mobileBreakpointLarge) {

	$headerHeight: 80px;

	.global-header {
		padding-left: $paddingLarge;
	}

	.global-header > .container {
		padding: 0;
	}

	.global-header,
	.global-header .title {
		height: $headerHeight;
	}

	.global-header .title {
		margin-right: 0;
	}

	.global-header nav {
		display: none;
	}

	$hamburgerIconWidth: 40px;
	$hamburgerIconHeight: 30px;

	.global-header .hamburger {
		float: right;
		position: relative;
		display: block;
		width: $hamburgerIconWidth + ($paddingLarge * 2);
		height: $headerHeight;
	}

	.global-header .hamburger:before {
		content: "";
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -($hamburgerIconWidth / 2);
		margin-top: -($hamburgerIconHeight / 2);
		display: block;
		width: $hamburgerIconWidth;
		height: $hamburgerIconHeight;
		// background: url("/images/global/global-header-hamburger.svg") 0 center no-repeat transparent;
	}

	body.menu .global-header .hamburger:before {
		background-position: -$hamburgerIconWidth center;
	}

}

@media (max-width: $mobileBreakpointSmall) {

	$headerHeight: 50px;

	.global-header {
		padding-left: $paddingSmall;
	}

	.global-header,
	.global-header .title {
		height: $headerHeight;
	}

	.global-header .title > a {
		font-size: 16px;
		line-height: 16px;
	}

	$hamburgerIconWidth: 40px;
	$hamburgerIconHeight: 30px;

	.global-header .hamburger {
		width: $hamburgerIconWidth + ($paddingSmall * 2);
		height: $headerHeight;
	}

}
