@import "common/constants";

@import "common/colours";

@import "common/mixins";

main.about {
  margin: 0 auto;
  padding: $spacingLarge $paddingLarge;
  max-width: $contentWidth;

  h2 {
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 32px;
    color: $colour-purple;
  }

  h3 {
    margin-top: $spacingLarge;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 20px;
  }

  p,
  li {
    margin-bottom: 10px;
    font-size: 18px;

    @include lineHeight(18px);
  }

  ul {
    padding-left: 15px;
    list-style-position: outside;

    li {
      margin-left: 1em;
      text-align: justify;
    }

    li:last-child {
      margin-bottom: 0;
    }
  }
}


@media (max-width: $mobileBreakpointSmall) {

  main.about {
    padding: $spacingSmall $paddingSmall;

    h2 {
      margin-bottom: 10px;
      font-size: 24px;
      line-height: 24px;
    }

    h3 {
      margin-top: $spacingSmall;
      margin-bottom: 5px;
      font-size: 16px;
      line-height: 16px;
    }

    p,
    li {
      margin-bottom: 5px;
      font-size: 14px;

      @include lineHeight(14px);
    }

    ul {
      padding-left: 0
    }
  }
}
