/* COMMON */

@import "common/constants";

@import "common/colours";

@import "common/mixins";

@import "common/resets";

@import "common/fonts";

@import "common/links";

/* PARTIALS */

@import "partials/header";

@import "partials/footer";

/* COMMON */

p .highlight,
li .highlight {
  padding-left: 2px;
  padding-right: 2px;
  background: rgba($colour-purple, .2);
}

/* CONTENT */

.inner-overlay,
.outer-menu,
.global-header > .hamburger {
  display: none;
}

.inner-content {
  margin: 0 auto;
}

.outer-background {
  display: none;
}

@media (max-width: $mobileBreakpointLarge) {

  .main-container,
  .inner-content {
    min-height: 100vh;
    perspective: 2000px;
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
    font-smoothing: subpixel-antialiased;

    body.position & {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }

  .main-container {
    z-index: 10;
    position: relative;
    min-width: 320px;
  }

  .inner-overlay,
  .inner-content {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    backface-visibility: hidden;
    transform-style: preserve-3d;

    body.menu & {
      transform: translate3d(-50%, 0, 0) scale3d(.85, .85, 1) rotateY(25deg) translateZ(0);
    }
  }

  body.menu .inner-overlay {
    z-index: 20;
    display: block;

    &:hover {
      cursor: pointer;
    }
  }

  .inner-content {
    z-index: 10;
    background: $colour-background;
    transition: transform .4s cubic-bezier(.190, 1.000, .220, 1.000);

    body.menu & {
      $boxShadowBlur: 20px;

      pointer-events: none;
      box-shadow: rgba(#000, .5) 0 0 $boxShadowBlur ($boxShadowBlur / 2);
      overflow: hidden;
      transition-timing-function: cubic-bezier(.175, .885, .335, 1.05);
    }
  }

  .outer-menu {
    z-index: 0;
    position: absolute;
    top: 50%;
    right: 0;
    display: block;
    width: 100%;
    transform: translateY(-50%);

    a {
      opacity: 0;
      padding: 20px 10% 20px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: $colour-white;

      &.current,
      &:hover {
        background: rgba(#FFF, .2);
      }

      body.position & {
        opacity: 1;
        transition: opacity .25s $easeStandard;
      }

      span {
        margin-left: auto;
      }
    }

    ul {
      list-style: none;
    }

    .nav {
      margin-bottom: 40px;

      li:nth-child(1) > a {
        transition-delay: 0s;
      }
      
      li:nth-child(2) > a {
        transition-delay: .1s;
      }

      li:nth-child(3) > a {
        transition-delay: .2s;
      }

      li:nth-child(4) > a {
        transition-delay: .3s;
      }
    }

    .links {

      span {
        margin-left: 0;
      }

      svg {
        margin-left: auto;
        margin-right: 10px;
      }

      li:nth-child(1) > a {
        transition-delay: .4s;
      }

      li:nth-child(2) > a {
        transition-delay: .5s;
      }
    }

    svg {
      fill: $colour-white;
    }
  }

  .outer-background {
    z-index: 0;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: $colour-black;
    transform-style: preserve-3d;
    backface-visibility: hidden;
  }

}

@media (max-width: $mobileBreakpointSmall) {

  .outer-menu a {
    font-size: 16px;
  }

}
