@import "partial/constants";

@import "partial/colours";

@import "partial/mixins";

$headerHeight: 50px;
$sidebarWidth: 160px;

/* OVERRIDES */

body {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: $colour-white;
  background: $colour-black;
}

.outer-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  > .outer-content {
    background: $colour-black;
  }
}

.global-header {
  z-index: 30;
  position: relative;
  width: calc(100% - #{$sidebarWidth});
  height: $headerHeight;

  > .container {
    margin-left: 0;
    padding: 0 0 0 $paddingSmall;
  }

  svg {
    fill: $colour-greyDark;
  }

  a,
  .title > a {
    font-size: 16px;
  }

  a {
    height: $headerHeight;
    color: $colour-greyDark;

    > span {
      padding: 2px;
      border-bottom-color: transparent;
    }

    &:hover > span,
    &.current > span {
      border-bottom-color: darken($colour-greyDark, 25%);
    }
  }

  .links {
    display: none;
  }

  .hamburger {
    padding: 0 $paddingSmall;
  }
}

.global-footer {
  display: none;
}

/* MAIN */

$navigatorHeight: 80px;
$scaleAmount: .25;

.photography {
  z-index: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "Raleway", Helvetica, Verdana, sans-serif;
  background: $colour-black;
}

.photography > .viewer {
  $viewerPadding: 20px;
  $photoMaxSize: 1024px;

  z-index: 0;
  position: absolute;
  left: 0;
  bottom: $navigatorHeight;
  padding: $viewerPadding 0 $viewerPadding $viewerPadding;
  background: $colour-black;
  width: calc(100% - #{$sidebarWidth});
  height: calc(100% - #{$navigatorHeight + $headerHeight});
  
  > .arrow {
    z-index: 10;
    position: absolute;
    top: 0;
    width: 20%;
    height: 100%;

    &:before {
      content: "";
      opacity: 0;
      position: absolute;
      top: 50%;
      margin-top: -(30px / 2);
      width: 30px;
      height: 50px;
      // background: url("../images/photography/viewer-arrow.svg") center center no-repeat transparent;
      background-size: contain;
      transition: all .2s $easeStandard;
    }

    &:hover:before {
      opacity: .5;
    }
    
    &.prev {
      left: 0;
    }

    &.prev:before {
      left: $viewerPadding + ($viewerPadding * 2);
      transform: translateX(0px) rotate(90deg);
    }

    &.prev:hover:before {
      transform: translateX(-20px) rotate(90deg);
    }

    &.next {
      right: 0;
    }

    &.next:before {
      right: $viewerPadding + $viewerPadding;
      transform: translateX(0px) rotate(-90deg);
    }
    
    &.next:hover:before {
      transform: translateX(20px) rotate(-90deg);
    }
  }

  > .viewer-photo {
    z-index: 0;
    position: relative;
    width: 100%;
    height: 100%;
    max-width: $photoMaxSize;
    max-height: $photoMaxSize;
    background: center center no-repeat transparent;
    background-size: contain;
  }
}

/* NAVIGATOR */

.photography > .navigator {
  $navigatorPadding: 20px;

  z-index: 20;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0 20px;
  display: flex;
  align-items: center;
  width: 100%;
  height: $navigatorHeight;
  background: $colour-black;

  > .details {
    list-style: none;

    > .header {
      padding-bottom: 5px;
      font-size: 16px;
      line-height: 16px;
    }

    > .subheader {
      font-size: 12px;
      line-height: 12px;
      color: $colour-grey;
    }
  }

  > .albums {
    margin-left: auto;
    padding: 0 ((15px * 2) + 15px) 0 15px;
    width: 300px;
    height: 40px;
    font-size: 14px;
    color: $colour-grey;
    border-radius: 3px;
    border: 0;
    // background: url("../images/photography/viewer-arrow.svg") no-repeat #181818;
    background: #181818;
    background-position: calc(100% - 15px) center;
  
    @include removeStyling;

    &:hover {
      cursor: pointer;
    }
  }
}

/* SIDEBAR */

.photography > .sidebar {
  z-index: 30;
  position: absolute;
  right: 0;
  top: 0;
  width: $sidebarWidth;
  height: calc(100% - #{$navigatorHeight});
  overflow: hidden;
  overflow-y: scroll;
  background: $colour-black;

  .thumbnail {
    opacity: .5;
    display: block;
    margin: 0 auto 20px;
    width: 120px;
    height: 80px;
    background: center center no-repeat $colour-greyDark;
    background-size: cover;
    overflow: hidden;
    transition: opacity .2s $easeStandard;

    &:first-child {
      margin-top: 20px;
    }

    &.current,
    &:hover {
      opacity: 1;
    }

    img {
      opacity: 0;
      display: block;
      width: 100%;
      height: auto;
    }

    img:not([src]) {
      visibility: hidden;
    }

    img.loaded {
      opacity: 1;
      transition: opacity .2s $easeStandard;
    }
  }
}

@media(max-width: $mobileBreakpointLarge) {

  $sidebarHeight: 50px;
  $navigatorHeight: 50px;
  $navigatorPadding: 10px;

  /* OVERRIDES */

  .global-header {
    width: 100%;

    > .container {
      padding-left: $navigatorPadding;
    }

    .hamburger {
      padding: 0 $navigatorPadding;
    }
  }

  /* MAIN */

  .photography {
    top: $headerHeight;
    height: calc(100% - #{$headerHeight});
  }

  /* VIEWER */

  .photography > .viewer {
    z-index: 20;
    bottom: auto;
    padding: 0;
    width: 100%;
    height: calc(100% -  #{$sidebarHeight + $navigatorHeight});
    transition: height .2s $easeStandard;

    > .arrow {
      width: 50%;

      &:before {
        display: none;
      }
    }

    > .viewer-photo {
      width: 100%;
      height: 100%;
    }
  }

  /* NAVIGATOR */

  .photography > .navigator {
    z-index: 10;
    padding: $navigatorPadding;
    height: $navigatorHeight;

    > .details {
      left: $navigatorPadding;
      padding-right: $navigatorPadding;
      width: 45%;
    }

    > .details {
      list-style: none;

      > .header,
      > .subheader {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
  
      > .header {
        padding-bottom: 2px;
        font-size: 12px;
        line-height: 12px;
      }
  
      > .subheader {
        font-size: 10px;
        line-height: 10px;
      }
    }

    > .albums {
      padding: 0 (($navigatorPadding * 2) + 15px) 0 $navigatorPadding;
      width: 55%;
      height: 30px;
      font-size: 12px;
      background-position: calc(100% - #{$navigatorPadding}) center;
    }
  }

  /* SIDEBAR */

  .photography > .sidebar {
    z-index: 0;
    top: auto;
    bottom: $navigatorHeight;
    padding: 10px 0;
    width: 100%;
    height: $sidebarHeight;
    overflow-x: scroll;
    overflow-y: hidden;
    text-align: center;

    > .sidebar-wrapper {
      margin: 0 auto;

      &:after {
        @include clearFix;
      }
    }

    .thumbnail {
      float: left;
      margin: 0 10px 0 0;
      width: 50px;
      height: 30px;

      &:first-child {
        margin: 0 10px 0 10px;
      }
    }
  }

}
