@import "common/constants";

@import "common/colours";

@import "common/mixins";

/* PROJECT HEADER */

.project-header {
  z-index: 10;
  position: relative;
  margin: 0 auto $spacingLarge auto;
  width: 100%;

  > .wrapper {
    margin: 0 auto;
    padding: $spacingLarge $paddingLarge;
    max-width: $maxWidth + ($paddingLarge * 2);
  }

  h2,
  p,
  ul {
    max-width: $contentWidth;
  }

  h2 {
    margin-bottom: 10px;
    font-size: 48px;
    line-height: 48px;
  }

  p {
    margin-bottom: $paddingLarge;
    font-size: 24px;
  
    @include lineHeight(24px);
  }

  ul {
    display: block;
    list-style: none;

    li {
      margin-bottom: 5px;
      font-size: 16px;
      font-style: italic;
    
      @include lineHeight(16px);
    }

    li:last-child {
      margin-bottom: 0;
    }

    .title {
      margin-right: 10px;
      font-family: "Raleway", Helvetica, Verdana, sans-serif;
      font-weight: 700;
      font-style: normal;
    }
  }

  .links {
    margin-top: $paddingLarge;

    a.link {
      margin-right: 20px;
    }

    a.link:last-child {
      margin-right: 0;
    }
  }
}


@media (max-width: $mobileBreakpointSmall) {

  .project-header {
    margin-bottom: $spacingSmall;

    > .wrapper {
      padding: $spacingSmall $paddingSmall;
    }

    h2 {
      font-size: 26px;
      line-height: 26px;
    }

    p {
      margin-bottom: $paddingSmall;
      font-size: 16px;
  
      @include lineHeight(16px);
    }

    ul > li {
      margin-bottom: 10px;
      font-size: 12px;
  
      @include lineHeight(12px);
    }

    ul .title {
      display: block;
      margin-right: 0;
    }
  }

  .project-header .links {
    margin-top: $paddingSmall;

    a.link {
      margin-right: 10px;
    }
  }

}

/* PROJECT CONTENT */

.project-content {
  margin: $spacingLarge auto;
  padding: 0 $paddingLarge;
  max-width: $maxWidth + ($paddingLarge * 2);

  h3,
  h4,
  p,
  ol,
  ul {
    display: block;
    margin: 20px auto 0 0;
    max-width: $contentWidth;
  }

  h3 {
    margin-top: 60px;
    font-size: 26px;
  
    @include lineHeight(26px);
  }

  h4 {
    margin-top: 40px;
    font-size: 20px;
  
    @include lineHeight(20px);
  }

  p {
    text-align: justify;
  }

  ol,
  ul {
    padding-left: $paddingLarge;
    list-style-position: outside;

    li {
      margin-left: 1em;
      margin-bottom: 5px;
      text-align: justify;
    }

    li:last-child {
      margin-bottom: 0;
    }
  }

  b {
    font-weight: 700;
  }

  code {
    padding: 2px 4px;
    color: $colour-greyLight;
    text-shadow: 0 1px 1px $colour-greyDark;
    border-radius: 2px;
    background: $colour-grey;
  }

  hr {
    display: block;
    margin: $spacingLarge auto $spacingLarge 0;
    max-width: $contentWidth;
    height: 3px;
    border: 0;

    &:before {
      content: "";
      margin: 0 auto;
      display: block;
      width: 50%;
      height: 100%;
      background: $colour-purple;
    }
  }
}

@media (max-width: $mobileBreakpointSmall) {

  .project-content {
    margin: 0 auto;
    padding: 0 $paddingSmall;

    h3,
    h4,
    p,
    ol,
    ul {
      display: block;
      margin-top: 10px;
    }

    h3 {
      margin-top: $spacingSmall;
      font-size: 18px;
  
      @include lineHeight(18px);
    }

    h4 {
      margin-top: $spacingSmall / 2;
      font-size: 16px;
  
      @include lineHeight(16px);
    }

    hr {
      margin-top: $spacingSmall;
      margin-bottom: $spacingSmall;
      height: 2px;
    }
  }

}

/* PROJECT HIGHLIGHTS */

.project-highlights {
  max-width: $contentWidth;

  h3 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 22px;
  
    @include lineHeight(22px);
  }

  ul {
    list-style-position: outside;

    li {
      margin-left: 1em;
      margin-bottom: 5px;
    }

    li:last-child {
      margin-bottom: 0;
    }
  }
}

@media (max-width: $mobileBreakpointSmall) {

  .project-highlights {
    margin-bottom: $spacingSmall;

    h3 {
      margin-bottom: 5px;
      font-size: 18px;
  
      @include lineHeight(18px);
    }

    ul > li {
      margin-bottom: 2px;
    }
  }

}

/* PROJECT CAPTION */

.project-caption {
  position: relative;
  display: table;
  table-layout: fixed;
  margin: $spacingLarge auto $spacingLarge 0;
  max-width: $maxWidth;
  background: $colour-white;

  &:after {
    @include clearFix;
  }

  .media,
  .text {
    display: table-cell;
    vertical-align: middle;
  }

  .media {
    position: relative;
    width: 60%;

    .video-element,
    .image-element {
      z-index: 0;
      position: relative;
      margin: 0 auto;
      display: block;
      width: 100%;
      height: auto;
      max-width: $contentWidth;
    }

    .video-element + .image-element {
      display: none;
    }
  }

  .video-play {
    z-index: 10;
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding: 10px 15px;
    color: $colour-white;
    background: $colour-black;

    a.link {
      display: block;
    }
  }

  &.playing .video-player {
    display: none;
  }

  > .text {
    padding: $paddingLarge;
    font-size: 20px;
    text-align: left;
    font-style: italic;
  
    @include lineHeight(20px);

    code {
      font-style: normal;
    }
  }
}

@media (max-width: $mobileBreakpointLarge) {

  .project-caption {
    margin-left: auto;
    margin-right: auto;

    > .media,
    > .text {
      display: block;
      width: 100%;
    }
  }

}

@media (max-width: $mobileBreakpointSmall) {

  .project-caption {
    margin-top: $spacingSmall;
    margin-bottom: $spacingSmall;

    > .text {
      padding: $paddingSmall;
      font-size: 14px;
  
      @include lineHeight(14px);
    }

    .video-play {
      right: 0;
      bottom: 0;
      padding: 5px 10px;
    }
  }

}

/* PROJECT IMAGE */

.project-image {
  display: block;
  margin: $spacingLarge auto $spacingLarge 0;
  width: 100%;
  height: auto;

  &.large {
    max-width: $maxWidth;
  }

  &.small {
    max-width: $contentWidth;
  }
}

@media (max-width: $mobileBreakpointSmall) {

  .project-image {
    margin-top: $spacingSmall;
    margin-bottom: $spacingSmall;
  }

}

/* PROJECTS */

// Project key, text colour, background colour
$projectList: (
  ("tng-fintech-website", #00FFD3, #1C0A66),
  ("tng-website", #FEE27E, #1F134D),
  ("tng-app", #FFFFFF, #4FC3F7),
  ("joyce", #FFFFFF, #000000),
  ("enicar", #FFFFFF, #E44436),
  ("steamchat", #FFFFFF, #0064BF),
  ("k11", #FFFFFF, #A7834A),
  ("hkjc", #FAD40E, #002E65)
);

@each $project, $colour, $background in $projectList {

  .project-header.#{$project},
  .project-content.#{$project} {
    a.link {
      color: $colour;

      &:before {
        background: rgba($colour, .2);
      }

      &:after {
        background: $colour;
      }

      > .icon > .icon-layer {
        fill: $colour;
      }
    }
  }

  .project-header.#{$project} {
    color: $colour;
    background: $background;
  }

  .project-content.#{$project} {
    h3,
    > h4 {
      color: $background;
    }

    .highlight {
      background: rgba($background, .2);
    }

    hr:before {
      background: $background;
    }
  }

}
