@import "common/constants";
@import "common/mixins";
@import "common/reset";
@import "common/fonts";

@import "partials/header";
@import "partials/footer";

@import "photography";

/* COMMON */

$iconSize: 12px;
$iconSpacing: 4px;

a.external {
	position: relative;
	padding-right: $iconSize + $iconSpacing;
	white-space: nowrap;
}

a.external:after {
	content: "";
	position: absolute;
	right: 0;
	top: 50%;
	display: block;
	margin-top: -($iconSize / 2);
	width: $iconSize;
	height: $iconSize;
	// background: url("../../images/global/global-external.svg") center center no-repeat transparent;
	background-size: contain;
}

p .highlight,
li .highlight {
	padding-left: 2px;
	padding-right: 2px;
	background: rgba($colour-purple, 0.2);
}



/* CONTENT */

.outer-overlay,
.outer-menu,
.global-header > .hamburger {
	display: none;
}

.outer-content {
	margin: 0 auto 0 auto;
}

.outer-background {
	display: none;
}

@media (max-width: $mobileBreakpointLarge) {

	.outer-wrapper,
	.outer-content {
		min-height: 100vh;
		-webkit-perspective: 2000px;
		perspective: 2000px;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		-webkit-font-smoothing: subpixel-antialiased;
		font-smoothing: subpixel-antialiased;
	}

	.outer-wrapper {
		z-index: 10;
		position: relative;
		min-width: 320px;
	}

	$gradientFrom: #3F4257;
	$gradientTo: #727998;

	body.nocanvas .outer-wrapper {
		background: $gradientFrom;
		background: -moz-linear-gradient(-45deg, $gradientFrom 0%, $gradientTo 100%);
		background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, $gradientFrom), color-stop(100%, $gradientTo));
		background: -webkit-linear-gradient(-45deg, $gradientFrom 0%, $gradientTo 100%);
		background: -o-linear-gradient(-45deg, $gradientFrom 0%, $gradientTo 100%);
		background: -ms-linear-gradient(-45deg, $gradientFrom 0%, $gradientTo 100%);
		background: linear-gradient(135deg, $gradientFrom 0%, $gradientTo 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#{$gradientFrom}", endColorstr="#{$gradientTo}", GradientType=1);
	}

	.outer-menu {
		z-index: 0;
		position: absolute;
		top: 50%;
		right: 0;
		display: block;
		width: 100%;
		transform: translateY(-50%);
	}

	.outer-menu > ul {
		list-style: none;
	}

	.outer-menu > .nav {
		margin-bottom: 40px;
	}

	.outer-menu > ul > li > a {
		padding: 20px 10% 20px 0;
		display: block;
		text-align: right;
		text-decoration: none;
		color: $colour-white;
	}

	.outer-menu > ul > li > a {
		opacity: 0;
	}

	.outer-menu .nav > li:nth-child(1) > a {
		transition-delay: 0.1s;
	}

	.outer-menu .nav > li:nth-child(2) > a {
		transition-delay: 0.15s;
	}

	.outer-menu .nav > li:nth-child(3) > a {
		transition-delay: 0.2s;
	}

	.outer-menu .nav > li:nth-child(4) > a {
		transition-delay: 0.25s;
	}

	.outer-menu .links > li:nth-child(1) > a {
		transition-delay: 0.3s;
	}

	.outer-menu .links > li:nth-child(2) > a {
		transition-delay: 0.45s;
	}

	.outer-menu > ul > li.current > a,
	.outer-menu > ul > li > a:hover {
		background: rgba(255, 255, 255, 0.2);
	}

	$linkIconSize: 24px;
	$linkPadding: 10px;

	.outer-menu > .links > li > a > span {
		position: relative;
		padding-left: $linkIconSize + $linkPadding;
	}

	.outer-menu > .links > li > a > span:before {
		left: 0;
	}

	.outer-menu > .links .github a span:before {
		// background-image: url("../images/global/global-link-github-light.svg");
	}

	.outer-menu > .links .codepen a span:before {
		// background-image: url("../images/global/global-link-codepen-light.svg");
	}

	.outer-content,
	.outer-overlay {
		position: relative;
		width: 100%;
		height: 100%;
		overflow-x: hidden;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		-webkit-transform-style: preserve-3d;
		transform-style: preserve-3d;
	}

	.outer-content {
		z-index: 10;
		background: $colour-background;
		transition: transform 0.4s cubic-bezier(0.190, 1.000, 0.220, 1.000);
	}

	.outer-background {
		z-index: 0;
		position: absolute;
		left: 0;
		top: 0;
		display: block;
		width: 100%;
		height: 100%;
		background: $colour-black;
		transform-style: preserve-3d;
		-webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
	}

	body.nocanvas .outer-background {
		display: none;
	}

	body.position .outer-wrapper,
	body.position .outer-content {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}

	body.menu .outer-content {
		pointer-events: none;
	}

	body.menu .outer-content {
		transition-timing-function: cubic-bezier(0.175, 0.885, 0.335, 1.05);
	}

	body.menu .outer-overlay {
		z-index: 20;
		display: block;
	}

	body.menu .outer-overlay:hover {
		cursor: pointer;
	}

	$boxShadowBlur: 20px;

	body.menu .outer-content {
		overflow: hidden;
		box-shadow: rgba(0, 0, 0, 0.5) 0 0 $boxShadowBlur ($boxShadowBlur / 2);
	}

	body.nocanvas.menu .outer-content {
		box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px 3px;
	}

	body.menu .outer-content,
	body .outer-overlay {
		transform: translate3d(-50%, 0, 0) scale3d(0.85, 0.85, 1) rotateY(25deg) translateZ(0);
	}

	body.position .outer-menu > ul > li > a {
		opacity: 1;
		transition: opacity 0.25s $easeStandard;
	}

}

@media (max-width: $mobileBreakpointSmall) {

	.outer-menu > ul > li > a {
		font-size: 16px;
		line-height: 16px;
	}

}



/* OTHER */

.other {
	margin: $spacingLarge auto 0 auto;
	padding: 0 $paddingLarge 0 $paddingLarge;
	max-width: $maxWidth + ($paddingLarge * 2);
}

.other > .wrapper {
	max-width: $contentWidth + ($paddingLarge * 2);
}

.other h2,
.other h3 {
	color: $colour-purple;
}

.other h2 {
	font-size: 32px;
	line-height: 32px;
}

@media (max-width: $mobileBreakpointSmall) {

	.other {
		margin-top: $spacingSmall;
		padding-left: $paddingSmall;
		padding-right: $paddingSmall;
	}

	.other h2 {
		font-size: 24px;
		line-height: 24px;
	}

}
